body{min-width:1180px;}
#header{background:#fff;}
.header-holder,
.about-panel,
.block-author,
.block-reviews{width:1170px;}
.info-text{padding: 8px 20px 0 0;}
.cycle-gallery .pagination a{background:url(../images/sprite.png) no-repeat 0 -100px;}
.cycle-gallery .pagination a:hover,
.cycle-gallery .pagination .active a{background-position:-50px -100px;}
.thumbnails-list a{background:url(../images/bg-title.png);}