.clear {
  clear: both; }

.services-overview {
  padding-top: 140px;
  color: #333333;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .services-overview h1, .services-overview h4 {
    color: white;
    text-align: center; }
  .services-overview h1 {
    font-size: 2.5em;
    line-height: 1.55; }
  .services-overview h4 {
    font-size: .9em;
    max-width: 600px;
    width: 42%;
    margin: 0 auto; }
  .services-overview.hero {
    height: 320px;
    background: url(../images/services/hero-bg.jpg) no-repeat center -20px;
    -webkit-background-size: cover cover;
    -moz-background-size: cover cover;
    background-size: cover cover; }

.services-container {
  width: 100%;
  margin: 0 auto;
  color: #333333; }
  .services-container em {
    display: block;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: .85em;
    line-height: 1.7; }
  .services-container section {
    width: 100%;
    padding: 50px 0;
    background: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .services-container section:nth-child(even) {
      background: white; }
    .services-container section .section-content {
      max-width: 1170px;
      width: 81%;
      margin: 0 auto; }
      @media screen and (max-width: 1499px) {
        .services-container section .section-content {
          max-width: 942px; } }
      .services-container section .section-content h1 {
        padding-bottom: 35px;
        font-size: 42px;
        text-transform: uppercase; }
    .services-container section p {
      padding: 0 0 35px 0;
      font-weight: lighter; }
    .services-container section span.topic {
      display: inline-block;
      width: 48.5%;
      margin: 0 1.5% 1.5% 0;
      background: white;
      font-family: Georgia, serif;
      font-size: 1.2em;
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      line-height: 2; }
      .services-container section span.topic:nth-child(even) {
        margin-right: 0; }
    .services-container section .thumbnail {
      position: relative;
      float: left;
      display: inline-block;
      width: 350px;
      height: 200px;
      margin-right: 28px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden; }
      @media screen and (max-width: 1499px) {
        .services-container section .thumbnail {
          width: 292px;
          height: 167px; } }
      .services-container section .thumbnail:last-child {
        margin-right: 0; }
      .services-container section .thumbnail a {
        display: block;
        padding-bottom: 57.142857142%; }
      .services-container section .thumbnail img, .services-container section .thumbnail h3 {
        -webkit-transition: 175ms all ease-in-out;
        transition: 175ms all ease-in-out; }
      .services-container section .thumbnail img {
        width: 100%;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0); }
      .services-container section .thumbnail h3 {
        position: absolute;
        width: 100%;
        padding: 18px 0;
        bottom: 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        background: rgba(0, 170, 203, 0.75);
        -webkit-transform: translate3d(0, 65px, 0);
        transform: translate3d(0, 65px, 0);
        z-index: 100; }
      .services-container section .thumbnail:hover h3, .services-container section .thumbnail:focus h3 {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0); }
      .services-container section .thumbnail:hover img, .services-container section .thumbnail:focus img {
        -webkit-transform: translate3d(0, -27px, 0);
        transform: translate3d(0, -27px, 0); }
  .services-container .left-block, .services-container .right-block {
    display: inline-block;
    vertical-align: top; }
  .services-container .left-block {
    width: 65%;
    margin-right: 11%; }
  .services-container .right-block {
    width: 23%; }

.learn-more-container {
  text-align: center; }
  .learn-more-container a, .learn-more-container a.visited {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 28px 0;
    background: #d9531e;
    color: white;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.4em; }
    .learn-more-container a:hover, .learn-more-container a:focus, .learn-more-container a.visited:hover, .learn-more-container a.visited:focus {
      background: #ac4218;
      text-decoration: none; }
  .learn-more-container em {
    font-size: .7em; }
  .learn-more-container big {
    font-family: Georgia, serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bolder;
    color: #00aacb;
    line-height: 1.2; }
