#case-studies-banner {
  padding: 100px 0;
  background: orange;
  h1 {
    margin: 0 0 5px;
  }
}
#case-studies-list {
  padding: 100px 0;
  h1 {
    margin: 0 0 5px;
  }
  p {
    margin: 0 0 33px;
  }
  .list {
    display: block;
    width: 100%;
    margin: 0 auto 50px;
    padding: 0;
    list-style: none;
    li {
      float: left;
      width: 25%;
      margin: 0 0 30px;
      a {
        float: left;
        position: relative;
        width: 100%;
        padding: 0 4%;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}