#movement-banner {
  padding: 90px 0 86px;
  background: url(../images/library/movement_banner.jpg) no-repeat 50% 0;
}
#learn-banner {
  padding: 80px 0 83px;
  background: url(../images/library/learn_banner.jpg) no-repeat 50% 0;
}
#movement-banner,
#learn-banner {
  @include background-size(100% auto);
  h1 {
    color: #FFF;
  }
  p {
    color: #FFF;
  }
}
#movement-info {
  background: rgba(#000, 0);
  padding: 80px 0 86px;
  h1 {
    margin: 0 0 33px;
  }
  .button {
    max-width: 270px;
    margin: -7px auto 17px;
  }
  p.hint {
    margin: 19px 0 0;
    text-align: center;
    font-style: italic;
    font-family: Georgia,
    serif;
    @include font-size(16);
    @include line-height(28);
    a {
      font-weight: bold;
      color: #00AACB;
      @include font-size(28);
    }
  }
}

#how-we-work {
  padding: 97px 0 118px;
  background: #fff url(../images/library/how_we_work.jpg) no-repeat 50% 100%;
  @include background-size(100% auto);
  h1 + p {
    margin: 0 0 54px;
  }
  .button {
    max-width: 250px;
  }
}
#some-examples {
  background: rgba(#000, 0);
  padding: 110px 0 104px;
  .work-list {
    margin: 48px auto 53px;
  }
}
#blockquote {
  background: #FFF;
  padding: 87px 0 0;
  h1 + p {
    margin: 0 0 21px;
  }
  .button {
    max-width: 450px;
  }
  .submit-application {
    padding: 111px 0 119px;
    background: url(../images/library/books1.jpg) no-repeat 50% 50%;
    @include background-size(100% auto);
  }
}
#help {
  padding: 87px 0 102px;
}
#other-way {
  padding: 83px 0 119px;
  background: url(../images/library/bg_learn.jpg) no-repeat 100% 0;
  @include background-size(cover);
  h1,
  h2, 
  p {
    color: #FFF;
  }
}