@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin background-size($width, $height) {
	-webkit-background-size: $width $height;
	-moz-background-size: $width $height;
	background-size: $width $height;
}

section {
  width: 100%;
  margin: 0;
  // background: #FAFAFA url("../images/bg.gif") repeat;
  padding: 0;
  text-align: center;
  @include border-box;

  &.big-image {
  	margin: 0 auto 0 auto;
  	img {
  		max-width: 90%;

  		&.polaroid {
  			position: absolute;
  			max-width: 430px;
  			width: 41%;
  			margin: 0;
  		}
  	}
  }

  &.van {
  	img {
  		width: 100%;
  		max-width: 892px;
  		margin: 0 auto -205px auto;
  	}
  }
}

.greenville {
	.secondary-nav-top { position: absolute; }
}

.full-width {
	max-width: 970px;
	background: none;
}

.two-columns {
	-moz-column-count: 2;
  -moz-column-gap: 35px;
  -webkit-column-count: 2;
  -webkit-column-gap: 35px;
}

.content {
	@extend .full-width;
	width: 90%;
	margin: 0 auto;
	text-align: left;
	color: white;

	h3 { color: white; }
}

p {
	color: #333333;
	font: {
		weight: 500;
	}
	text-align: left;

	&.caps {
		width: 1000px;
		margin: 0 auto;
		text-transform: uppercase;
	}
}

.gvl-hero {
	position: relative;
	margin-top: 78px;
	padding: 0;
	height: 745px;
	background: url("../../images/fiskateers/fisk-hero.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center 100%;

	@media screen and (max-width: 1180px) {
		height: 595px;
	}
}

.backdrop {
	@extend .full-width;
	margin: 60px auto 0 auto;

	img { float: left; margin-top: -54px; }
	p { max-width: 570px; margin-left: 287px; }
}

.purpose {
	clear: both;
	height: 400px;
	margin: 50px auto 0px auto;
	padding-top: 70px;
	background: url(../../images/fiskateers/green-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	@include border-box;

	.content-wrapper {
		position: relative;
		max-width: 1287px;
		width: 90%;
		margin: 0 auto;
	}

	ul {
		max-width: 670px;
		margin: 0 auto;
		font: {
			family: Georgia, serif;
			size: 24px;
			style: italic;
			weight: bold;
		}

		@media screen and (max-width: 1440px) {
			width: 620px;
			padding-left: 30px;
		}
	}
}

.purpose, .success {
	h3 { text-align: center; }
	li {
		position: relative;
		display: block;
		margin-bottom: 40px;

		span { position: absolute; opacity: .5; font-size: 1.5em; top: -2px; left: -40px; }
	}
}

.action {

	h3 { color: #333333; }

	img {
		position: relative;
		top: -68px;
	}
}

.success {
	clear: both;
	height: 650px;
	padding-top: 145px;
	background: url(../../images/fiskateers/orange-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	@include border-box;

	.content {
		max-width: 1090px;
	}

	ul {
		display: inline-block;
		width: 47%;
		max-width: 470px;
		margin: 0 auto;
		vertical-align: top;

		&:nth-child(even) { margin-right: 9%; padding-left: 30px; }

		@media screen and (max-width: 1440px) {
		}
	}
	li { margin-bottom: 25px; }
}

.welcome {
	position: relative;
	margin: 60px 0 0 0;

	img {
		width: 100%;
		max-width: 1550px;
		margin: 0 auto;
		&.polaroids { width: 90%; max-width: 1114px; margin-top: -80px; }
	}
	p {
		position: absolute;
		top: 490px;
		right: 8%;
		width: 40%;
		max-width: 460px;
	}
}

.business-cards {
	position: relative;
	padding-bottom: 38%;
	background: url(../../images/fiskateers/biz-cards.jpg) no-repeat center top, url(../../images/fiskateers/crosshatch-bg.jpg) top left repeat;
	background-size: auto 100%, 40px auto;
	p {
		position: absolute;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		bottom: 25px;
		left: 12%;
		text-shadow: 0 0 5px rgba(0,0,0,.45);
	}
}

.coasters {
	position: relative;
	margin-top: 70px;
	
	img {
		max-width: 90%;
		width: 1170px;
		margin: 0 auto;
	}
	p { position: absolute; left: 10%; bottom: 5%; text-transform: uppercase; }
}

.web {
	position: relative;
	max-width: 1170px;
	width: 90%;
	margin: 100px auto 50px auto;

	.content { width: 100%; max-width: 100%; margin-top: 100px; }
	
	img {
		max-width: 770px;
		width: 90%;
		margin: 0 auto;

		&.portal {
			float: left;
			display: inline-block; 	
			width: 65%;
			margin: 0 2% 0 0;
		}
	}

	p {
		position: relative;
		display: inline-block;
		right: 0;
		vertical-align: top;

		big {
			display: block;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.images {
	position: relative;
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;
	height: 1020px;
	background: url(../../images/fiskateers/girls-in-hats.jpg) no-repeat center top;
	background-size: 1170px auto;

	.one {
		top: 36.6%;
		left: -8%;
	}

	.two {
		top: 51%;
		left: 19%;
	}

	.three {
		right: -2.3%;
		top: 45.7%;
	}

	.flowers {
		position: absolute;
		width: 20%;
		max-width: 263px;
		top: 62%;
		left: 48%;
		z-index: -1;
	}
}

.sign-off {
	clear: both;
	margin-top: 100px;
	background: url(../../images/fiskateers/pink-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	@include border-box;

	.content {
		position: relative;
		max-width: 830px;
		height: 100%;
		margin: 0 auto;
		padding: 8% 0;
		text-align: right;
	}

	h2 {
		margin: 0;
		line-height: 1.4;
		font: {
			family: Georgia;
			weight: bold;
			size: 34px;
			style: italic;
		}
		text-align: center;

		@media screen and (max-width: 880px) {
			font-size: 30px;
		}
	}

	ul {
		display: inline-block;
		margin: 0 0 0 auto;
	}

	li {
		display: block;
		font: {
			size: 22px;
		}
		line-height: 1.4;
		text-align: left;
		&:first-child { text-indent: -15px; }

		@media screen and (max-width: 880px) {
			font-size: 16px;
		}
	}
}

h1 {
	font-size: 2.2em;
	color: white;
	margin: 0;
	padding: 0;
}
h2 { font-size: 2.2em }
h3 {
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	padding-bottom: 25px;
}
.white { color:#fff; }
h4 {
	margin: 1.15% 0;
	font-size: 1.3em;
	font-weight: 500;
}
h5 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: 400;
}