$serif: Georgia, serif;
@mixin retinizee($file, $type, $width, $height) {
	background-image: url('../images/services/' + $file + '.' + $type);

	@media #{$is-hidpi} {
	 	& {
	 		background-image: url('../images/' + $file + '@2x' + $type);
	 		@include background-size;
	 	}
	 }
}

$is-hidpi: "(-webkit-min-device-pixel-ratio: 1.5),
				 		(min--moz-device-pixel-ratio: 1.5),
				 		(-o-min-device-pixel-ratio: 3/2),
				 		(min-device-pixel-ratio: 1.5),
				 		(min-resolution: 1.5dppx)";

@mixin background-size($width, $height) {
	-webkit-background-size: $width $height;
	-moz-background-size: $width $height;
	background-size: $width $height;
}

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$background-1: #f8f8f8;
$background-2: #ffffff;

$action-color: #d9531e;
$main-color: #00a9ca;

$green: #939f57;

$serif: Georgia, serif;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

.work-overview {
	.section-intro {
		background: #19B1CE url(../../images/img12.png) no-repeat center top;
		@include border-box;

		@media screen and (max-width: 320px) {
			background-size: cover;
		}

		img {
			max-width: 575px;
			width: 90%;
			margin: 0 auto;
			padding: 135px 0 57px 0;

			@media screen and (max-width: 320px) {
				padding: 113px 0 22px 0;
			}
		}
	}

	.header-holder {
		@media screen and (max-width: 1024px) {
			margin: 0 40px;
		}

		@media screen and (max-width: 720px) {
			margin: 0;
		}
	}

	.thumbnails-list {
		clear: both;
		width: 100%;
		margin: 25px auto 75px auto;
		padding: 0;
		list-style:none;
		text-align: left;
	}
	.thumbnails-list li {
		display:inline-block;
		margin: 0 24px 31px 0;
		position:relative;
		vertical-align:top;
		width: 23%;
		height: 179px;
		overflow: hidden;
		-webkit-transition: 200ms all ease-in-out;

		&.hover {

		}

		&:nth-child(4n) { margin-right: 0; }

		@media screen and (max-width: 1499px) {
			width: 23.3%;
			height: 155px;
			margin: 0 15px 15px 0;
		}

		@media screen and (max-width: 1199px) {
			margin: 0 1.5% 15px 0;
		}

		@media screen and (max-width: 1024px) {
			height: 145px;
		}

		@media screen and (max-width: 1024px) {
			width: 31.5%;
			height: 165px;

			&:nth-child(4n) { margin-right: 1.5%; }
			&:nth-child(3n) { margin-right: 0; }
		}

		@media screen and (max-width: 874px) {
			height: 130px;
			margin: 0 1% 15px 0;
		}

		@media screen and (max-width: 1024px) {
			width: 49%;
			height: 170px;
			margin: 0 1% 15px 0;

			&:nth-child(4n) { margin-right: 1%; }
			&:nth-child(3n) { margin-right: 1%; }
			&:nth-child(2n) { margin-right: 0%; }
		}

		@media screen and (max-width: 551px) {
			width: 100%;
			height: 250px;
			margin: 0 0 15px 0;

			&:nth-child(4n) { margin-right: 0%; }
			&:nth-child(3n) { margin-right: 0%; }
			&:nth-child(2n) { margin-right: 0%; }
		}

		@media screen and (max-width: 551px) {
			height: 190px;
		}
	}
	.thumbnails-list img{
		border-radius:2px;
		width:100%;
		max-width:100%;
		vertical-align:top;
	}
	.thumbnails-list a{
		background:rgba(0, 170, 203, 0.9);
		bottom:0;
		color:#fff;
		display:block;
		font-size:18px;
		left:0;
		line-height:25px;
		position:absolute;
		text-align:center;
		width:100%;
	}
	.thumbnails-list .holder{
		display:block;
		padding: 20px 0;
	}
	.thumbnails-list .title{
		font-size: 20px;
		font-weight: lighter;
		line-height: 7px;

		@media screen and (max-width: 551px) {
			line-height: 25px;
		}
	}

	.thumbnails-list .hover .title { line-height: 23px; }
	.thumbnails-list a .txt{
		font: {
			size: 16px;
			weight: lighter;
		}
	}
	.thumbnails-list .hover a,
	.thumbnails-list li:hover a{
		display: table;
		height: 179px;
		text-decoration:none;
		top:0;

		@media screen and (max-width: 551px) {
			height: 250px;
		}
	}
	.thumbnails-list .hover .holder,
	.thumbnails-list li:hover .holder{
		display:table-cell;
		padding: 30px 10px;
		vertical-align: top;

		@media screen and (max-width: 551px) {
			padding: 90px 10px 0px 10px;
		}

		@media screen and (max-width: 551px) {
			padding: 60px 10px 0px 10px;
		}
	}
	.thumbnails-list .hover .title,
	.thumbnails-list li:hover .title{margin:0 0 3px;}
	.thumbnails-list .hover a .txt,
	.thumbnails-list li:hover a .txt{display:block;}
	.section-read.section-books .holder{padding:163px 0 98px;}
	.section-books h1 span{
		display:inline-block;
		position:relative;	
		vertical-align:top;
		font-weight: 500;
		letter-spacing: -1px;
	}
}

.section-content {
	display: block;
	max-width: 1170px;
	margin: 50px auto 0px auto;
	color: #333333;

	@media screen and (max-width: 1499px) {
		max-width: 942px;
	}

	@media screen and (max-width: 1024px) {
		width: 90%;
	}

	.section-meta {
		float: left;
		padding-bottom: 50px;

		@media screen and (max-width: 1180px) {
			width: 100%;
			padding-bottom: 10px;
		}

		h1, h4 { 
			line-height: 1;
			padding-bottom: 7px;
			text-transform: uppercase;
		}

		h4 {
			font-size: 18px;
			font-weight: normal;

			@media screen and (max-width: 765px) {
				font-size: 15px;
				line-height: 17px;
			}
		}
	}

	h1 {
		padding-bottom: 35px;
		font-size: 40px;
		font-weight: 500;

		@media screen and (max-width: 1180px) {
			font-size: 40px;
		}

		@media screen and (max-width: 765px) {
			font-size: 33px;
			line-height: 35px;
		}

		@media screen and (max-width: 700px) {
			font-size: 27px;
			line-height: 34px;
			padding-bottom: 15px;
		}
	}

	.button {
		float: right;
		color: white;
		text-align: center;

		@media screen and (max-width: 1180px) {
			margin-bottom: 20px;
			float: left;
		}

		em {
			font: {
				family: $serif;
				style: italic;
				size: 20px;
			}

			@media screen and (max-width: 720px) {
				font-size: 17px;
			}
		}

		&.green {
			width: 347px;
			background: #939f57;
			line-height: 3.2em;

			@media screen and (max-width: 1499px) {
				width: 285px;
			}

			@media screen and (max-width: 1499px) {
				width: 245px;
				line-height: 2.5em;
			}

			@media screen and (max-width: 700px) {
				line-height: 2em;
			}

			@media screen and (max-width: 700px) {
				width: 100%;
			}

			&:hover, &:focus {
				background: darken(#939f57,10%);
				text-decoration: none;
			}
		}
	}
}


section {
	&.movements, &.identities {
		clear: both;
		margin: 75px 0;
	}
}

.thumbnail {
	position: relative;
	display: inline-block;
	width: 266px;
	height: 179px;
	margin: 0 30px 30px 0;
	@include border-radius(3px);
	overflow: hidden;

	&:nth-child(4n) {
		margin-right: 0;

		@media screen and (max-width: 950px) {
			margin-right: 10px;
		}
	}

	&:nth-child(3n) {
		@media screen and (max-width: 950px) {
			margin-right: 0px;
		}

		@media screen and (max-width: 720px) {
			margin-right: 1%;
		}
	}

	&:nth-child(2n) {
		@media screen and (max-width: 720px) {
			margin-right: 0px;
		}
	}

	@media screen and (max-width: 1499px) {
		width: 220px;
		height: 126px;
		margin: 0 15px 15px 0;
	}

	@media screen and (max-width: 1180px) {
		width: 220px;
		height: 114px;
	}

	@media screen and (max-width: 1024px) {
		width: 202px;
		height: 109px;
		margin: 0 10px 10px 0;
	}

	@media screen and (max-width: 950px) {
		width: 232px;
		height: 124px;
	}

	@media screen and (max-width: 825px) {
		width: 202px;
		height: 110px;
	}

	@media screen and (max-width: 720px) {
		width: 48.5%;
		margin: 0 1% 1% 0;
		height: auto;
		-webkit-tap-highlight-color: $main-color;
	}
	
	@media screen and (max-width: 480px) {
		width: 100%;
		height: 230px;
		margin-bottom: 10px;
		margin-right: 0px;
	}
	
	@media screen and (max-width: 320px) {
		height: 160px;
	}

	&:last-child { margin-right: 0; }

	a {
		display: block;
		padding-bottom: 57.142857142%;

		@media screen and (max-width: 720px) {
			padding-bottom: 0;
		}
	}

	img, h3 {
		-webkit-transition: 175ms all ease-in-out;
		transition: 175ms all ease-in-out;
	}

	img {
		width: 100%;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}

	h3 {
		position: absolute;
		width: 100%;
		padding: 8px 0;
		bottom: 0;
		text-align: center;
		color: white;
		text-transform: uppercase;
		background: rgba(0, 170, 203, .75);
		-webkit-transform: translate3d(0, 65px, 0);
		transform: translate3d(0, 65px, 0);
		z-index: 100;

		@media screen and (max-width: 1180px) {
			padding: 5px 0;
		}

		@media screen and (max-width: 720px) {
			-webkit-transform: translate3d(0, 0px, 0);
			margin: 0px 0 8px 0;
			padding: 10px 0;
		}

		@media screen and (max-width: 480px) {
			margin: 0;
		}
	}

	&:hover, &:focus {
		h3 {
			-webkit-transform: translate3d(0, 0px, 0);
			transform: translate3d(0, 0px, 0);
		}

		img {
			-webkit-transform: translate3d(0, -27px, 0);
			transform: translate3d(0, -27px, 0);

			@media screen and (max-width: 720px) {
				-webkit-transform: none;
				transform: none;
			}
		}
	}
}