RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^\.brainsonfire\.com$ [NC]
RewriteCond %{REQUEST_URI} !^/work/$
RewriteCond %{REQUEST_URI} !^/books/$
RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)/?$ $1.html 



RewriteRule ^individuals/(.*)?$ http://www.brainsonfire.com/ [R=301,L]

RewriteRule ^work/view/(.*)?$ http://www.brainsonfire.com/work/ [R=301,L]

RewriteRule ^published/(.*)?$ http://www.brainsonfire.com/ [R=301,L]

RewriteRule ^approach/(.*)?$ http://www.brainsonfire.com/ [R=301,L]

RewriteRule ^index\.php/(.*)?$ http://www.brainsonfire.com/ [R=301,L]



RewriteCond $1 ^(home|approach|individuals|published|P[0-9]{2,8}) [NC] 
RewriteRule ^(.*)$ /index.php/$1 [L]
php_value output_handler ob_gzhandler
<filesMatch ".js$">
AddHandler application/x-httpd-php .js
</filesMatch>


AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
