@import 'variables';

.featured-movements {
	.banner-block {
		top: 78px;
		background: $main-color url(../../images/services/woman-hero-bg.jpg) no-repeat center -120px;
		@include background-size(1440px, auto);

		@media screen and (max-width: 720px) {
			padding-top: 105px;
		}

		&.apply {
			top: 0;
			padding: 109px 0 0 0;
			background: $main-color url(../../images/services/bookcase-bg.jpg) no-repeat center -120px;
			@include background-size(1440px, auto);

			a {
				display: block;
				max-width: 450px;
				width: 85%;
				margin: 0 auto;
				padding: 15px 0;
				font: {
					family: $serif;
					style: italic;
				}
				text-align: center;
				text-transform: lowercase;
				color: white;
				background: #00aacb;
				line-height: 3;
				&:hover, &:focus { background: darken(#00aacb,10%); }

				@media screen and (max-width: 1499px) {
					max-width: 400px;
				}

				@media screen and (max-width: 720px) {
					max-width: 85%;
					width: auto;
					padding: 8px;
				}
			}

		}

		@media screen and (max-width: 720px) {
			height: 171px;
		}

		h2 {
			line-height: 112px;

			@media screen and (max-width: 720px) {
				width: 76%;
				// background: rgb(0, 0, 0);
				margin: 0 auto;
				line-height: 1.4;
			}
		}
	}

	.services-container {
		width: 100%;
		margin: 79px auto 0 auto;
		color: #333333;
		text-align: center;

		h1 {
			margin: 120px auto 40px auto;
			font: {
				family: $serif;
				size: 28px;
				style: italic;
			}
			color: $green;
		}

		a {
			&.button {
				display: block;
				width: 300px;
				margin: 40px auto;
				padding: 20px 0;
				font: {
					family: $serif;
					style: italic;
				}
				color: white;
				text-decoration: none;
				background: $green;

				&:hover, &:focus { background: darken($green,10%);}

				@media screen and (max-width: 1499px) {
					width: 265px;
				}
			}
		}
		@media screen and (max-width: 720px) {
		}
	}

	.section-content {
		max-width: 1170px;
		width: 81%;
		margin: 0 auto;

		@media screen and (max-width: 1499px) {
			max-width: 942px;
		}

		p {
			text-align: left;

			a {
				color: #eb7e1f;
				&:hover, &:focus { color: darken(#eb7e1f,10%); }
			}

			b { font-weight: bolder; }

			&.phase {
				box-sizing: border-box;
				margin: 0 0 27px 0;
				padding: 45px 40px;
				color: white;

				@media screen and (max-width: 720px) {
					padding: 20px;
				}

				.heading { display: block; margin-bottom: 7px; font-weight: bolder; text-transform: uppercase; }

				&.one { background: #eb7e1f; }
				&.two { background: #939f57; }
				&.three { background: #00aacb; }
			}
		}
	}

	.thumbnail {
		position: relative;
		// float: left;
		display: inline-block;
		width: 32%;
		height: 202px;
		margin-right: 2%;
		@include border-radius(3px);
		overflow: hidden;

		&:last-child { margin-right: 0; }

		@media screen and (max-width: 1499px) {
			width: 292px;
			height: 167px;
		}

		@media screen and (max-width: 1180px) {
			width: 255px;
			height: 146px;
		}

		@media screen and (max-width: 1024px) {
			width: 184px;
			height: 104px;
			margin-right: 10px;
		}

		@media screen and (max-width: 720px) {
			width: 48.5%;
			height: auto;
			margin-right: 1%;
			-webkit-tap-highlight-color: $main-color;
		}
		
		@media screen and (max-width: 480px) {
			width: 100%;
			height: 230px;
			margin-bottom: 10px;
			margin-right: 0px;
		}
		
		@media screen and (max-width: 320px) {
			height: 160px;
		}

		img, h3 {
			// -webkit-transition: 175ms all ease-in-out;
			// transition: 175ms all ease-in-out;
		}

		img {
			width: 100%;
			// -webkit-transform: translate3d(0, 0px, 0);
			// transform: translate3d(0, 0px, 0);
		}

		h3 {
			position: absolute;
			width: 100%;
			padding: 18px 0;
			bottom: 0;
			text-align: center;
			color: white;
			text-transform: uppercase;
			background: rgba(0, 170, 203, .75);
			// -webkit-transform: translate3d(0, 65px, 0);
			// transform: translate3d(0, 65px, 0);
			z-index: 100;

			@media screen and (max-width: 1499px) {
				padding: 9px 0;
			}
			
			@media screen and (max-width: 1180px) {
				padding: 5px 0;
			}

			@media screen and (max-width: 720px) {
				// -webkit-transform: translate3d(0, 0px, 0);
				margin: 0px 0 8px 0;
				padding: 10px 0;
			}

			@media screen and (max-width: 480px) {
				margin: 0;
			}
		}

		&:hover, &:focus {
			h3 {
				// -webkit-transform: translate3d(0, 0px, 0);
				// transform: translate3d(0, 0px, 0);
			}

			img {
				// -webkit-transform: translate3d(0, -27px, 0);
				// transform: translate3d(0, -27px, 0);

				@media screen and (max-width: 720px) {
					-webkit-transform: none;
					transform: none;
				}
			}
		}
	}

	.learn-more-container {
		text-align: left;
		a {
			margin: 25px 0;
			text-align: center;
		}
	}
}

.half-width {
	display: inline-block;
	float: left;
	width: 47%;
	margin: 0 6% 0 0;
	vertical-align: top;

	&:last-child { margin: 0; }

	// em { font-size: .65em; }
	big { color: #333; font-weight: lighter; }
}