@import 'variables';

.services-overview {
	.banner-block {
		background: $main-color url(../../images/services/hero-bg.jpg) no-repeat center -20px;
		@include background-size(1440px, auto);
	}
}

.services-container {
	width: 100%;
	margin: 0 auto;
	color: #333333;

	em {
		display: block;
		font: {
			family: $serif;
			style: italic;
			size: .85em;
		}
		line-height: 1.7;

		@media screen and (max-width: 700px) {
			font-size: 14px;
			line-height: 2em;
		}
	}

	section { 
		width: 100%;
		padding: 50px 0;
		background: $background-1;
		@include border-box;
		&:nth-child(even) {
			background: $background-2;
		}

		.wrapper {
			position: relative;
			max-width: 942px;
			height: 1870px;
			margin: 0 auto;
			clear: both;
			border-bottom: 1px solid black;
		}

		.section-content {
			max-width: 1170px;
			width: 81%;
			margin: 0 auto;

			@media screen and (max-width: 1499px) {
				max-width: 942px;
			}

			h1 {
				padding-bottom: 35px;
				font-size: 40px;
				text-transform: uppercase;

				@media screen and (max-width: 767px) {
					font-size: 39px;
				}

				@media screen and (max-width: 700px) {
					font-size: 27px;
					line-height: 34px;
					padding-bottom: 15px;
				}
			}
		}

		p {
			padding: 0 0 35px 0;
			font-size: 17px;
			line-height: 32px;
			font-weight: lighter;

			@media screen and (max-width: 700px) {
				font-size: 15px;
				line-height: 28px;
			}
		}

		span {
			&.topic {
				display: inline-block;
				width: 48.5%;
				margin: 0 1.5% 1.5% 0;
				background: white;
				font: {
					family: $serif;
					size: 1.2em;
					style: italic;
					weight: lighter;
				}
				text-align: center;
				line-height: 2;

				@media screen and (max-width: 1024px) {
					display: block;
					width: 100%;
					margin: 8px auto 0 auto;
				}

				&:nth-child(even) { margin-right: 0;}
			}
		}

		.thumbnail {
			position: relative;
			float: left;
			display: inline-block;
			width: 350px;
			height: 200px;
			margin-right: 28px;
			@include border-radius(3px);
			overflow: hidden;

			@media screen and (max-width: 1499px) {
				width: 292px;
				height: 167px;
			}

			@media screen and (max-width: 1180px) {
				width: 255px;
				height: 146px;
			}

			@media screen and (max-width: 1024px) {
				width: 184px;
				height: 104px;
				margin-right: 10px;
			}

			@media screen and (max-width: 720px) {
				width: 48.5%;
				margin-right: 1%;
				height: auto;
				-webkit-tap-highlight-color: $main-color;
			}
			
			@media screen and (max-width: 480px) {
				width: 100%;
				height: 230px;
				margin-bottom: 10px;
				margin-right: 0px;
			}
			
			@media screen and (max-width: 320px) {
				height: 160px;
			}

			&:last-child { margin-right: 0; }

			a {
				display: block;
				padding-bottom: 57.142857142%;

				@media screen and (max-width: 720px) {
					padding-bottom: 0;
				}
			}

			img, h3 {
				-webkit-transition: 175ms all ease-in-out;
				transition: 175ms all ease-in-out;
			}

			img {
				width: 100%;
				-webkit-transform: translate3d(0, 0px, 0);
				transform: translate3d(0, 0px, 0);
			}

			h3 {
				position: absolute;
				width: 100%;
				padding: 18px 0;
				bottom: 0;
				text-align: center;
				color: white;
				text-transform: uppercase;
				background: rgba(0, 170, 203, .75);
				-webkit-transform: translate3d(0, 65px, 0);
				transform: translate3d(0, 65px, 0);
				z-index: 100;

				@media screen and (max-width: 1180px) {
					padding: 5px 0;
				}

				@media screen and (max-width: 720px) {
					-webkit-transform: translate3d(0, 0px, 0);
					margin: 0px 0 8px 0;
					padding: 10px 0;
				}

				@media screen and (max-width: 480px) {
					margin: 0;
				}
			}

			&:hover, &:focus {
				h3 {
					-webkit-transform: translate3d(0, 0px, 0);
					transform: translate3d(0, 0px, 0);
				}

				img {
					-webkit-transform: translate3d(0, -27px, 0);
					transform: translate3d(0, -27px, 0);

					@media screen and (max-width: 720px) {
						-webkit-transform: none;
						transform: none;
					}
				}
			}
		}
	}
	
	.left-block, .right-block {
		display: inline-block;
		vertical-align: top;
		clear: both;
	}
	
	.left-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 65%;
		padding-right: 11%;
		// margin-right: 11%;

		@media screen and (max-width: 980px) {
			margin-right: 7%;
		}

		@media screen and (max-width: 720px) {
			width: 100%;
			margin-right: 0;
		}
	}
	
	.right-block {
		width: 23%;
		max-width: 216px;
		position: absolute;
		top: 0;
		// left: 889px;
		right: auto;

		&.sticky {
			position: fixed;
			top: 60px;
			right: auto;
			// left: 76%;
		}

		&.sticky-bottom {
			top: auto;
			bottom: 38px;
		}

		@media screen and (max-width: 980px) {
			width: 27%;
		}

		@media screen and (max-width: 720px) {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.learn-more-container {
	text-align: center;
	a, a.visited {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		padding: 28px 0;
		background: $action-color;
		color: white;
		font: {
			family: $serif;
			style: italic;
			size: 1.4em;
		}

		@media screen and (max-width: 1024px) {
			padding: 20px 0;
		}
		
		&:hover, &:focus {
			background: darken($action-color,10%);
			text-decoration: none;
		}
	}

	em {
		font: {
			size: .7em;
		}
	}

	big {
		font: {
			family: $serif;
			size: 1.4em;
			style: italic;
			weight: bolder;
		}
		color: $main-color;
		line-height: 1.2;

		@media screen and (max-width: 1024px) {
			font-size: 1.2em;
		}
	}
}