section {

  &.secondary-nav-top,
  &.secondary-nav-bottom {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0;
    top: 78px;
    background: rgba(255,255,255,.9);
    z-index: 10;

    &.secondary-nav-bottom {
      position: relative;
      top: 0;

      .secondary-nav {
        a {
          span { line-height: 0; }
        }
      }
    }

    @media screen and (max-width: 720px) {
      top: 168px;
      background: rgba(0, 0, 0, 0);
    }

    @media screen and (max-width: 480px) {
      top: 58px;
    }

    .secondary-nav {
      position: relative;
      width: 90%;
      max-width: 1170px;
      margin: 0 auto;
      text-align: center;
      line-height: 0;

      @media screen and (max-width: 1499px) {
        max-width: 942px;
      }

      a {
        position: relative;
        font-family: Georgia, serif;
        vertical-align: middle;
        font: {
          family: Georgia, serif;
          size: 1.25em;
          style: italic;
        }
        color: #333;
        line-height: 1;

        @media screen and (max-width: 720px) {
          font-size: 0;
        }

        &:hover, &:focus {
          text-decoration: none;
          color: darken(#333,10%);

          span {
            color: darken(#2eb9d4,10%);
            @media screen and (max-width: 720px) { color: darken(#333,10%); }
            
            &.icon-grid-view { color: darken(#eb7e1f,10%); }
          }
        }

        span {
          font-size: 47px;
          line-height: 31px;
          color: #2eb9d4;
          vertical-align: middle;

          @media screen and (max-width: 720px) { color: #333; font-size: 37px; }

          &.icon-grid-view {
            margin-right: 8px;
            font-size: 24px;
            color: #eb7e1f;
          }
        }

        &.next, &.previous { position: absolute; }

        &.next { right: 0; }
        &.previous { left: 0; }
        &.back {
          @media screen and (max-width: 720px) {
            display: none;
          }
        }
      }
    }
  }
}