.temp {
  opacity: 0.5;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-left: -750px;
  width: 1500px;
  height: auto;
}
ul.row {
  margin: 0;
  padding: 0;
  list-style: none;
}
.small-title {
  @include min-screen(768px) {
    display: none;
  }
  @include max-screen(767px) {
    display: block;
    br {
      display: none;
    }
    span {
      display: block;
      font-style: italic;
      font-family: Georgia, serif;
    }
  }
}
.button {
  display: table;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  text-transform: lowercase;
  border: 0;
  @include transition(background-color, ease-in-out, 0.2s, 0s);
  @include min-screen(1200px) {
    padding: 1.4rem 0;
    max-width: 360px;
    width: 100%;
  }
  @include screen(768px,1199px) {
    padding: 1.4rem 1.5rem;
  }
  @include screen(641px,767px) {
    padding: 1.4rem 2rem;
  }
  @include max-screen(640px) {
    padding: 1.4rem 0;
    width: 100% !important;
    max-width: 450px !important;
  }
  @include min-screen(1024px) {
    @include font-size(28);
    @include line-height(32);    
  }
  @include screen(768px,1023px) {
    @include font-size(24);
    @include line-height(28); 
  }
  @include max-screen(767px) {
    @include font-size(20);
    @include line-height(28); 
  }
  &.left {
    @include min-screen(768px) {
      margin: 0 20px 30px 0;  
    }
    @include max-screen(767px) {
      float: none !important;
      margin: 0 auto 22px;
    }
  }
  &:active {
    top: 2px;
  }
  &.btn-ico {
    &:before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: 18px;
      left: 30px;
    }
  }
}
.btn-orange {
  background-color: #d9531e;
  &:hover {
    background-color: darken(#d9531e, 5%);
  }
  &:active {
    background-color: #d9531e;
  }
}
.btn-light-orange {
  background-color: #eb7e1f;
  &:hover {
    background-color: darken(#eb7e1f, 5%);
  }
  &:active {
    background-color: #eb7e1f;
  }
}
.btn-green {
  background-color: #939f57;
  &:hover {
    background-color: darken(#939f57, 5%);
  }
  &:active {
    background-color: #939f57;
  }
}
.btn-blue {
  background-color: #0bb7cf;
  &:hover {
    background-color: darken(#0bb7cf, 5%);
  }
  &:active {
    background-color: #0bb7cf;
  }
}
.btn-down,
.btn-down:active {
  background: #f18013;
  bottom: 0;
  height: 30px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
  z-index: 2;
}
.btn-down:before {
  background: url(../images/library/sprite.png) no-repeat 0 -150px;
  content: "";
  height: 16px;
  left: 50%;
  margin: -8px 0 0 -11px;
  position: absolute;
  top: 50%;
  width: 22px;
}
.row .works-list {
  @include min-screen(1200px) {
    margin: 53px auto 43px;
  }
  @include screen(1024px,1199px) {
    margin: 40px auto;
  }
  @include screen(768px,1023px) {
    margin: 30px auto;
  }  
  @include max-screen(767px) {
    margin: 22px auto;
  }
  li {
    margin: 0 0 30px;
  }
  a {
    float: left;
    position: relative;
    width: 100%;
    @include border-radius(2px);
  }
  img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    @include border-radius(2px);
  }
}
.half-block {
  float: left;
  position: relative;
  @include min-screen(1200px) {
    width: 43%;
    padding: 95px 4.9% 0;
    margin: 0 0 0 7%;
    + .half-block {
      margin: 0 7% 0 0;
    }
  }
  @include screen(1024px,1199px) {
    width: 43%;
    padding: 50px 4.9% 0;
    margin: 0 0 0 7%;
    + .half-block {
      margin: 0 7% 0 0;
    }
  }
  @include screen(768px,1023px) {
    width: 46%;
    padding: 40px 0 0;
    margin: 0 2%;
  }
  @include max-screen(767px) {
    width: 100%;
    padding: 30px 0 0;
    margin: 0 0 22px;
  }
  > a:not(.button) {
    display: table;
    position: relative;
    overflow: hidden;
    @include border-radius(100%);
    @include min-screen(768px) {
      margin: 0 auto 35px;
    }
    @include max-screen(767px) {
      margin: 0 auto 22px;
    }
  }
  img {
    display: block;
    width: 100%;
    max-width: 388px;
    height: auto;
    @include border-radius(100%);
  }
  h2 {
    margin: 0 0 7px;
    @include font-size(28);
  }
  p {
    text-align: center;
    @include line-height(26);
    @include min-screen(768px) {
      margin: 0 0 53px;
    }
    @include max-screen(767px) {
      margin: 0 0 22px;
    }
  }
  .button {
    max-width: 270px;
  }
}
.direction-nav {
  display: block;
  position: relative;
  z-index: 20;
  overflow: hidden;
  clear: both;
  &.top {
    background: rgba(#fff, 0.9);
    padding: 33px 0;
    height: 105px;
    @include max-screen(768px) {
      background: rgba(#fff, 0);
    }
  }
  &.bottom {
    background: #F1F2F3;
    padding: 33px 0 36px;
    height: 105px;
  }
  ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      position: relative;
      @include min-screen(1024px) {
        width: 33.3333333%;
      }
      @include max-screen(1023px) {
        width: 32px;
        z-index: 33;
        margin: 0 0 0 -10px;
        span {
          display: none;
        }
      }
      @include max-screen(480px) {
        @include font-size(14);
      }
      + li {
        text-align: center;
        @include max-screen(1023px) {
          width: 100%;
          max-width: 226px;
          float: none;
          z-index: 30;
          margin: 0 auto;
          span {
            display: block;
            width: 100%;
            padding: 0;
          }
        }
      }
      + li + li {
        text-align: right;
        @include max-screen(1023px) {
          float: right;
          width: 32px;
          z-index: 33;
          margin: -57px -10px 0 0;
          span {
            display: none;
          }
        }
      }
    }
  }
  a {
    display: table;
    font-family: Georgia, serif;
    text-transform: lowercase;
    color: #333;
    font-style: italic;
    position: relative;
    @include font-size(20);
    @include line-height(38);
    &:after {
      position: absolute;
      display: block;
      content: "";
      z-index: 11;
      width: 32px;
      height: 44px;
      top: 0;
      background-image: url(../images/library/direction_nav.png);
      background-repeat: no-repeat;
    }
  }
  .previous {
    padding: 0 0 0 45px;
    &:after {
      left: 0;
      background-position: 0 0;
    }
  }
  .center {
    margin: 0 auto;
    padding: 0 0 0 44px;
    @include max-screen(1023px) {
      width: 100%;
      padding: 0;
      margin: 18px auto 0;
    }
    &:after {
      left: 0;
      background-position: 0 -44px;
      @include max-screen(1023px) {
        left: 50%;
        top: -30px;
        margin-left: -16px;
      }
    }
  }
  .next {
    padding: 0 45px 0 0;
    float: right;
    &:after {
      right: 0;
      background-position: 0 -88px;
    }
  }
}
.main-photo {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  clear: both;
  @include min-screen(769px) {
    margin: -105px 0 0;
  }
  img {
    float: left;
    max-width: none;  
  }  
}
p.intro {
  padding: 0;
  margin: 0;
}
.border-left {
  border-left: 2px solid rgba(153, 153, 153, 0.3);
}
.white-text {
  .row {
    position: relative;
  }
  * {
    color: #FFF;
  }
}
.btn-holder {
    display: block;
    overflow: hidden;
    clear: both;
}
#blockquote {
  h1 + p {
    margin: 0 0 21px;
  }
  .button {
    max-width: 450px;
  }
}
.submit-application {
  background: url(../images/library/books_bottom.jpg) no-repeat 50% 50%;
  @include background-size(cover);
  @include min-screen(1024px) {
    padding: 111px 0.9375rem 119px;
  }
  @include screen(768px,1023px) {
    padding: 60px 0.9375rem;
  }
  @include max-screen(767px) {
   padding: 44px 0.9375rem;
  }
}
#ty-banner,
#application-banner,
#book-banner,
#speaker-banner {
  padding: 0;
  max-height: 800px;
  > img {
    display: block;
    max-width: none;
    @include min-screen(1025px) {
      width: auto;
      min-width: 100%;
    }
  }
  .row {
    @include max-screen(1023px) {
      padding: 0;
    }
  }
  .half-block {
    z-index: 30;
    @include min-screen(1200px) {
      top: 30% !important;
      height: 40%;
      width: 44%;
      padding: 15px 0 0;
    }
    @include screen(1024px,1199px) {
      height: 40%;
      width: 54%;
      padding: 15px 15px 0;
    }
    @include min-screen(1024px) {
      bottom: 0;
      float: none;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
    @include max-screen(1023px) {
      background: #00aacb;
      width: 100%;
      left: 0;
      text-align: center;
      padding: 15px;
    }
    @include max-screen(1023px) {
      margin: 0;
    }
    h1,
    p {
      @include min-screen(1200px) {
        text-align: left;
      }
      @include max-screen(1199px) {
        text-align: center;
      }
    }
    p {
      margin: 0 0 22px;
    }
    .button {
      @include min-screen(1200px) {
        float: left;
      }
    }
  }
}
.speaker-detail {
  .half-block .button {
    @include font-size(23);
  }
}
.application {
  #form {
    background: #FFF;
    h1 + p {
      text-align: left;
      text-transform: none;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
#application-banner {
  @include min-screen(1200px) {
    max-height: 75vh;
  }
  + .row {
    padding-top: 50px;
    padding-bottom: 50px;
    p {
      text-align: center;
    }
  }
  .half-block {
    right: auto;
    left: 0;
    @include min-screen(1200px) {
      height: 40%;
      width: 830px;
    }
    @include screen(1024px,1199px) {
      height: 40%;
      width: 90%;
    }
  }
  h1 {
    @include min-screen(900px) {
      @include font-size(40);
    }
  }
  h1 + p {
    text-transform: none;
  } 
}
#ty-banner {
  .half-block {
    right: auto;
    left: 0;
    @include min-screen(1200px) {
      height: 40%;
      width: 830px;
    }
    @include screen(1024px,1199px) {
      height: 40%;
      width: 90%;
    }
  }
  h1 {
    @include min-screen(900px) {
      @include font-size(40);
    }
  }
  h1 + p {
    text-transform: none;
  } 
}
#legal {
  padding: 80px 0;
  h1 + p {
    text-transform: none;
    text-align: left;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  } 
}
#error404 {
  min-height: 60vh;
  padding: 80px 0;
  h1, h2 {
    text-align: left;
  }
}
#speaker-banner {
  p {
    font-style: italic;
    font-family: Georgia,"Times New Roman",Times,serif;

    @include min-screen(1200px) {
      width: 80%;
      @include font-size(34);
      @include line-height(57);
    }
    @include screen(1024px,1199px) {
      @include font-size(30);
      @include line-height(53);
    }
    @include screen(768px,1023px) {
      @include font-size(26);
      @include line-height(48);
    }
    @include max-screen(767px) {
      @include font-size(22);
      @include line-height(44);
    }
  }
}
#workshop .banner {
  background: #00a9ca url(../images/movement/header-2x2-workshop.jpg) no-repeat 50% 100%;
  @include background-size(auto);
}
#gut-check .banner {
  background: #00a9ca url(../images/movement/header-gut-check.jpg) no-repeat 100% 100%;
  @include background-size(auto);
}
.service-pages {
  padding: 80px 0 0;
  h1 {
    display: table;
    width: 100%;
    padding: 90px 0;
  }
  #blockquote {
    background: rgba(#FFF,0);
    padding: 80px 0;
    .row {
      max-width: 890px;
    }
    blockquote,
    cite {
      color: #929F57;
    }
    cite {
      float: right;
    }
  }
  .content {
    background: #FFF;
    padding: 60px 0;
    p a {
      color: #EB7E1F;
      &:hover {
        color: darken(#EB7E1F, 5%);
      }
    }
    p.hint {
      display: block;
      font-family: Georgia,serif;
      font-size: 0.85em;
      font-style: italic;
      line-height: 1.7;
      text-align: center;
    }
  }
}
.section-newsletter-band {
    background: url("../images/library/bg-body.png") repeat scroll 0 0 #ffffff;
}

.reveal-modal, dialog {
  right: 0;
  margin: auto;
  @include max-screen(767px) {
    min-height: 120%;
  }
}

.reveal-modal .retailers {
  display: block;
  overflow: hidden;
  p {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    width: 50%;
    @include max-screen(767px) {
       padding: 10px 5px 0;
    }
    a {
      display: table;
      margin: 0 auto;
    }
    img {
      width: auto;
      max-width: 100%;
      @include max-screen(767px) {
        max-width: none;
        width: 100%;
      }
    }
  }
}