[class$="-orbit-nav"],
[class*="-orbit-nav "] {
  display: table;
  width: auto;
  position: relative;
  text-align: center;
  margin: 0 auto 33px;
  a {
    float: left;
    position: relative;
  }
}
[class$="circle-orbit-nav"],
[class*="circle-orbit-nav "] {
  a {
    @include min-screen(1220px) {
      margin: 0 18px 0 -4px;
    }
    @include screen(1024px,1219px) {
      margin: 0 8px 0 -4px;
    }
    &:nth-child(4) {
      margin: 0 -4px 0 0;
    }
  }
}
.orbit-container {
  overflow: visible;
  ul {
    overflow: hidden;
  }
}
.orbit-container li strong {
  display: block;
  font-weight: normal;
}
// Movement page text carousel
.text-orbit-nav {
  @include max-screen(767px) {
    display: none;    
  }
  a {
    color: #333;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include min-screen(1024px) {
      margin: 0 15px;
      @include font-size(20);
      @include line-height(25);
    }
    @include screen(768px,1023px) {
      margin: 0 13px;
      @include font-size(18);
      @include line-height(25);
    }
    &:hover,
    &.active {
      color: #1fb7d3;
    }
    &:after {
      display: block;
      position: absolute;
      z-index: 11;
      content: "";
      width: 11px;
      height: 15px;
      background: url(../images/library/small_arrow.png) no-repeat 0 0;
      @include min-screen(1024px) {
        right: -25px;
        top: 4px;
      }
      @include screen(768px,1023px) {
        right: -21px;
        top: 5px;
      }
    }
    &:nth-child(4):after {
      display: none;
    }
  }
}
// HOW WE WORK 
.circle-orbit-nav {
  @include max-screen(767px) {
    display: none;
  }
  a {
    display: block;
    vertical-align: middle;
    @include border-radius(100%);
    @include min-screen(1220px) {
      width: 283px;
      height: 283px;
      padding: 13px;
    }
    @include screen(1024px,1229px) {
      width: 242px;
      height: 242px;
      padding: 10px;
    }
    @include screen(768px,1023px) {
      width: 176px;
      height: 176px;
      padding: 8px;
    }
    .circle,
    > span {      
      display: table;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      @include border-radius(100%);
    }
    .table,
    > span > span {      
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #FFF;
      @include InfoMediumFont;
      @include border-radius(100%);
      @include min-screen(1200px) {
        @include font-size(24);
        @include line-height(30);
      }
      @include screen(1024px,1199px) {
        @include font-size(20);
        @include line-height(26);
      }
      @include screen(768px,1023px) {
        @include font-size(16);
        @include line-height(22);
      }
    }
    .bottom-block {
      display: block;
      font-style: italic;
      font-family: Georgia, serif;
      @include min-screen(1200px) {
        @include font-size(20);
        @include line-height(30);
      }
      @include screen(768px,1199px) {
        @include font-size(18);
        @include line-height(24);
      }
    }
    .title {
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      font-style: normal;
      left: 0;
      bottom: -51px;
      @include InfoMediumFont;
      @include font-size(20);
      @include line-height(25);
    }
    img {
      display: block;
      max-width: none;
      width: 100%;
      height: auto;
      @include border-radius(100%);
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      z-index: 10;
      width: 70px;
      height: 24px;
      bottom: -33px;
      left: 50%;
      margin-left: -35px;
      background: url(../images/library/tab.png) no-repeat 50% 50%;
      opacity: 0;
    }
    &.active:after {
      opacity: 1;
    }
  }
}
#how-we-work .orbit-container {
  @include min-screen(768px) {
    background: rgba(#FFF, 0.95);
    .orbit-prev,
    .orbit-next {
      display: none;
    }
  }
  @include max-screen(767px) {
    ul {
      background: rgba(#FFF, 0.95);
      width: 98%;
      margin: 0 auto;
      overflow: hidden;
      li {
        padding: 0 20px 20px;
      }
    }
    .orbit-next {
      right: -10px;
    }
    .orbit-prev {
      left: -10px;
    }
    .orbit-next,
    .orbit-prev {
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 -88px;
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -132px;
    }
  }
}
#authoral-team .orbit-container,
#how-we-work .orbit-container {
  padding: 48px 0 34px;
  @include min-screen(768px) {
    margin: 0 0 39px;
  }
  @include max-screen(767px) {
    margin: 0 auto 20px; 
  }
  li {
    padding: 0 50px;
    @include InfoMediumFont;
    @include min-screen(768px) {
      @include font-size(20);
      @include line-height(29);
    }
    @include max-screen(767px) {
      @include font-size(16);
      @include line-height(26);
    }
    strong {
      display: block;
      @include InfoBoldFont;
    }
  }
}
#gallery-slider {
  .orbit-container {
    margin: 45px 0 20px;
    .orbit-next,
    .orbit-prev {
      display: block !important;
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 -88px;
        @include max-screen(767px) {
          right: -10px;
        }
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -132px;
      @include max-screen(767px) {
        left: -10px;
      }
    }
    .gallery-orbit {      
      max-width: 975px;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      color: #00aacb;
      font-family: Georgia, serif;
      font-style: italic;
      text-align: center;
      @include min-screen(768px) {
        width: 100%;
      }
      @include max-screen(767px) {
        width: 88%;
      }
    }
  }
}

#movement-info {
  .orbit-container {
    ul {
      overflow: hidden;
      width: 100%;      
      @include min-screen(1024px) {
        max-width: 770px;
        margin: 0 auto 44px;
      }
      @include max-screen(1023px) {
        max-width: 90%;
        text-align: center;
        margin: 0 auto 22px;
      }
    }
    .orbit-next,
    .orbit-prev {
      display: block !important;
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 0;
      @include max-screen(1023px) {
        right: -10px;
      }
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -44px;
      @include max-screen(1023px) {
        left: -10px;
      }
    }
    li {
      @include InfoMediumFont;
      @include min-screen(768px) {
        @include font-size(20);
        @include line-height(30);
      }
      @include max-screen(767px) {
        @include font-size(16);
        @include line-height(22);    
      }
      strong {
        @include InfoSemiBoldFont;
      }
    }
  }
  p.hint {
    margin: 19px 0 0;
    text-align: center;
    font-style: italic;
    font-family: Georgia,
    serif;
    @include font-size(16);
    @include line-height(28);
    a {
      font-weight: bold;
      color: #00AACB;
      @include font-size(28);
    }
  }
}
// BLOCKQUOTE
#blockquote {
  @include min-screen(1200px) {
    padding: 81px 0 0;
  }
  @include screen(1024px,1199px) {
    padding: 50px 0 0;
  }
  @include screen(768px,1023px) {
    padding: 40px 0 0;
  }
  @include max-screen(767px) {
    padding: 30px 0 0;
  }
  .orbit-container {
    @include min-screen(1024px) {
      margin: 0 0 75px;
    }
    @include screen(768px,1023px) {
      margin: 0 0 55px;
    }
    @include max-screen(767px) {
      margin: 0 0 30px;
    }
  }
  .orbit-next,
  .orbit-prev {
    display: block !important;
    width: 31px;
    height: 44px;
    opacity: 0.8;
    span {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .orbit-next {
    background: url(../images/library/arrows.png) no-repeat 0 -88px;
  }
  .orbit-prev {
    background: url(../images/library/arrows.png) no-repeat 0 -132px;
  }
  .blockquote-orbit {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #00aacb;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    @include max-screen(767px) {
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
    }
  }
  blockquote {
    border-left: 0;
    margin: 0 0 18px;
    padding: 0;
    font-weight: bold;
    color: #00aacb;
    font-family: Georgia, serif;
    font-style: italic;
    @include min-screen(1024px) {
      @include font-size(34);
      @include line-height(58);
    }
    @include screen(768px,1023px) {
      @include font-size(28);
      @include line-height(40);
    }
    @include max-screen(767px) {
      @include font-size(20);
      @include line-height(30);
    }
  }
  cite {
    font-family: Georgia, serif;
    font-style: italic;
    @include min-screen(1024px) {
      @include font-size(20);
      @include line-height(28);
    }
    @include screen(768px,1023px) {
      @include font-size(18);
      @include line-height(26);
    }
    @include max-screen(767px) {
      @include font-size(16);
      @include line-height(24);
    }
  }
}