[class$="-orbit-nav"],
[class*="-orbit-nav "] {
  display: table;
  width: auto;
  position: relative;
  text-align: center;
  margin: 0 auto 30px;
  a {
    float: left;
    position: relative;
  }
}
.orbit-container {
  overflow: visible;
  ul {
    overflow: hidden;
  }
}
.orbit-container li strong {
  display: block;
  font-weight: normal;
}
// Movement page text carousel
.text-orbit-nav {
  @include max-screen(767px) {
    display: none;    
  }
  a {
    color: #333;
    text-transform: uppercase;
    font-weight: 500;//@include InfoMediumFont;
    @include min-screen(1024px) {
      margin: 0 26px;
      @include font-size(18);
      @include line-height(25);
    }
    @include screen(768px,1023px) {
      margin: 0 11px;
      @include font-size(16);
      @include line-height(25);
    }
    &:hover,
    &.active {
      color: #1fb7d3;
    }
    &:after {
      display: block;
      position: absolute;
      z-index: 11;
      content: "";
      width: 11px;
      height: 15px;
      background: url(../images/library/small_arrow.png) no-repeat 0 0;
      @include min-screen(1024px) {
        right: -32px;
        top: 4px;
      }
      @include screen(768px,1023px) {
        right: -17px;
        top: 5px;
      }
    }
    &:nth-child(4):after {
      display: none;
    }
  }
}
@include max-screen(480px) {
  .text-orbit {
    height: auto !important;
    max-width: 100% !important;
    li {
      position: relative !important;
      margin: 0 0 22px !important;
      text-align: left;
      font-size: 17px !important;
      line-height: 28px !important;
      br {
        margin: 0 0 22px;
      }
      strong {
        margin: 0 0 22px;
        text-align: center;
      }
    }
    + .orbit-prev,
    + .orbit-next,
    + .orbit-prev + .orbit-next {
      display: none !important;
    }
  }
}
#gallery-slider {
  .orbit-container {
    margin: 45px 0 20px;
    .orbit-next,
    .orbit-prev {
      display: block !important;
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 -88px;
      @include max-screen(767px) {
        right: -12px;
      }
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -132px;
      @include max-screen(767px) {
        left: -12px;
      }
    }
    .gallery-orbit {      
      max-width: 975px;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      color: #00aacb;
      font-family: Georgia, serif;
      font-style: italic;
      text-align: center;
      @include min-screen(768px) {
        width: 100%;
      }
      @include max-screen(767px) {
        width: 88%;
      }
    }
  }
}

#movement-info {
  .orbit-container {
    ul {
      overflow: hidden;
      width: 100%;      
      @include min-screen(1024px) {
        max-width: 784px;
        margin: 0 auto 44px;
      }
      @include max-screen(1023px) {
        text-align: center;
        margin: 0 auto 22px;
      }
      @include screen(768px,1023px) {
        max-width: 80%;
      }
      @include max-screen(767px) {
        max-width: 90%;
      }
    }
    .orbit-next,
    .orbit-prev {
      display: block;
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 0;
      @include min-screen(1024px) {
        right: 8px;
        margin-top: -9px;
      }
      @include max-screen(1023px) {
        right: -12px;
      }
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -44px;
      @include min-screen(1024px) {
        left: 8px;
        margin-top: -9px;
      }
      @include max-screen(1023px) {
        left: -12px;
      }
    }
    li {
      font-weight: 400;
        @include min-screen(768px) {
        @include font-size(17);
        @include line-height(30);
      }
      @include max-screen(767px) {
        @include font-size(16);
        @include line-height(22);    
      }
      strong {
        font-weight: 500;
      }
    }
  }
  p.hint {
    margin: 19px 0 0;
    text-align: center;
    font-style: italic;
    font-family: Georgia,
    serif;
    @include font-size(16);
    @include line-height(28);
    a {
      font-weight: bold;
      color: #00AACB;
      @include font-size(28);
    }
  }
}
// BLOCKQUOTE
#blockquote {
  @include min-screen(1200px) {
    padding: 81px 0 0;
  }
  @include screen(1024px,1199px) {
    padding: 50px 0 0;
  }
  @include screen(768px,1023px) {
    padding: 40px 0 0;
  }
  @include max-screen(767px) {
    padding: 30px 0 0;
  }
  .orbit-container {
    @include min-screen(1024px) {
      margin: 0 0 75px;
    }
    @include screen(768px,1023px) {
      margin: 0 0 55px;
    }
    @include max-screen(767px) {
      margin: 0 0 30px;
    }
  }
  .orbit-next,
  .orbit-prev {
    display: block !important;
    width: 31px;
    height: 44px;
    opacity: 0.8;
    span {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .orbit-next {
    background: url(../images/library/arrows.png) no-repeat 0 -88px;
    right: -12px;
  }
  .orbit-prev {
    background: url(../images/library/arrows.png) no-repeat 0 -132px;
    left: -12px;
  }
  .blockquote-orbit {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #00aacb;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    @include max-screen(767px) {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
    }
  }
  blockquote {
    border-left: 0;
    margin: 0 0 18px;
    padding: 0;
    font-weight: bold;
    color: #00aacb;
    font-family: Georgia, serif;
    font-style: italic;
    @include min-screen(1024px) {
      @include font-size(34);
      @include line-height(58);
    }
    @include screen(768px,1023px) {
      @include font-size(24);
      @include line-height(48);
    }
    @include max-screen(767px) {
      @include font-size(16);
      @include line-height(40);
    }
  }
  cite {
    font-family: Georgia, serif;
    font-style: italic;
    @include min-screen(1024px) {
      @include font-size(20);
      @include line-height(28);
    }
    @include screen(768px,1023px) {
      @include font-size(18);
      @include line-height(26);
    }
    @include max-screen(767px) {
      @include font-size(16);
      @include line-height(24);
    }
  }
}