[class$="-orbit-nav"],
[class*="-orbit-nav "] {
  display: table;
  position: relative;
  text-align: center;
  margin: 0 auto 33px;
  a {
    float: left;
    position: relative;
  }
}
.orbit-container {
  overflow: visible;
  ul {
    overflow: hidden;
  }
}
.orbit-container li strong {
  display: block;
  font-weight: normal;
}
// Movement page text carousel
.text-orbit-nav {
  @include max-screen(767px) {
    display: none;    
  }
  a {
    color: #333;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include min-screen(1024px) {
      margin: 0 15px;
      @include font-size(20);
      @include line-height(25);
    }
    @include screen(768px,1023px) {
      margin: 0 13px;
      @include font-size(18);
      @include line-height(25);
    }
    &:hover,
    &.active {
      color: #1fb7d3;
    }
    &:after {
      display: block;
      position: absolute;
      z-index: 11;
      content: "";
      width: 11px;
      height: 15px;
      background: url(../images/library/small_arrow.png) no-repeat 0 0;
      @include min-screen(1024px) {
        right: -25px;
        top: 4px;
      }
      @include screen(768px,1023px) {
        right: -21px;
        top: 5px;
      }
    }
    &:nth-child(4):after {
      display: none;
    }
  }
}

// HOW WE WORK 
.circle-orbit-nav {
  @include max-screen(767px) {
    display: none;
  }
  &.books-orbit {
    margin: 0 auto 54px;
  }
  a {
    vertical-align: middle;
    @include border-radius(100%);
    &:after {
      display: block;
      position: absolute;
      content: "";
      z-index: 10;
      width: 70px;
      height: 24px;
      bottom: -33px;
      left: 50%;
      margin-left: -35px;
      background: url(../images/library/tab.png) no-repeat 50% 50%;
      opacity: 0;
    }
    &.active:after {
      opacity: 1;
    }
  }
  &.movement-orbit a {
    @include min-screen(1200px) {
      width: 284px;
      height: 284px;
      margin: 0 5px 0 0;
      padding: 13px;
    }
    @include screen(1024px,1199px) {
      width: 196px;
      height: 196px;
      margin: 0 3px 0 0;
      padding: 8px;
    }
    @include screen(768px,1023px) {
      width: 176px;
      height: 176px;
      margin: 0 3px 0 0;
      padding: 5px;
    }
    > span {      
      @include min-screen(1200px) {
        width: 258px;
        height: 258px;
      }
      @include screen(1024px,1199px) {
        width: 180px;
        height: 180px;
      }
      @include screen(768px,1023px) {
        width: 166px;
        height: 166px;
      }
    }
  }
  a > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #FFF;
    @include border-radius(100%);
    @include InfoMediumFont;
    @include min-screen(1200px) {
      @include font-size(24);
      @include line-height(30);
    }
    @include screen(768px,1199px) {
      @include font-size(18);
      @include line-height(24);
    }
    span {
      display: block;
      font-style: italic;
      font-family: Georgia, serif;
      @include min-screen(1200px) {
        @include font-size(20);
        @include line-height(30);
      }
      @include screen(768px,1199px) {
        @include font-size(18);
        @include line-height(24);
      }
    }
  }
  &.books-orbit a {
    width: 286px;
    height: 286px;
    margin: 0 2px;
    > span {
      width: 286px;
      height: 286px;
      background: rgba(#FFF, 0);
      span {
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        font-style: normal;
        @include InfoMediumFont;
        @include font-size(20);
        @include line-height(25);
      }
    }
    &.active:after {
      bottom: -54px;
    }
    &.active > span {
      background: rgba(#FFF, 0.8);
    }
    img {
      width: 260px;
      height: 260px;
      margin: 13px;
      @include border-radius(100%);
    }
  }
  &.movement-orbit a:first-of-type {
    background-color: rgba(#fff, 0);
    &.active {
      background-color: rgba(#fff, 0.5);
    }
    > span {
      background: #d9531e;
    }
  }
  &.movement-orbit a:nth-child(2) {
    background-color: rgba(#0bb7cf, 0);
    &.active {
      background-color: rgba(#0bb7cf, 0.5);
    }
    > span {
      background: #23bed4;
    }
  }
  &.movement-orbit a:nth-child(3) {
    background-color: rgba(#939f57, 0);
    &.active {
      background-color: rgba(#939f57, 0.5);
    }
    > span {
      background: #9ea867;
    }
  }
  &.movement-orbit a:nth-child(4) {
    margin: 0;
    background-color: rgba(#eb7e1f, 0);
    &.active {
      background-color: rgba(#eb7e1f, 0.5);
    }
    > span {
      background: #ec8a35;
    }
  }
}
#authoral-team .orbit-container {
  background: rgba(#FFF, 0.8);
}
#how-we-work .orbit-container {
  @include min-screen(768px) {
    background: rgba(#FFF, 0.95);
    .orbit-prev,
    .orbit-next {
      display: none;
    }
  }
  @include max-screen(767px) {
    ul {
      background: rgba(#FFF, 0.95);
      width: 98%;
      margin: 0 auto;
      overflow: hidden;
      li {
        padding: 0 20px 20px;
      }
    }
    .orbit-next {
      right: -10px;
    }
    .orbit-prev {
      left: -10px;
    }
    .orbit-next,
    .orbit-prev {
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 -88px;
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -132px;
    }
  }
}
#authoral-team .orbit-container,
#how-we-work .orbit-container {
  @include min-screen(768px) {
    padding: 66px 0 72px;
    margin: 0 0 40px;
  }
  @include max-screen(767px) {
    padding: 0 0 20px;
    margin: 0 auto 20px; 
  }
  li {
    padding: 0 45px;
    // Info Norma Font
    @include InfoMediumFont;
    
    @include min-screen(768px) {
      @include font-size(20);
      @include line-height(29);
    }
    @include max-screen(767px) {
      @include font-size(16);
      @include line-height(26);
    }
    strong {
      display: block;
      // Info Bold Font
      @include InfoSemiBoldFont;
    }
  }
}



#gallery-slider {
  .orbit-container {
    margin: 56px 0 9px;
    .orbit-next,
    .orbit-prev {
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 -88px;
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -132px;
    }
    .gallery-orbit {
      width: 100%;
      max-width: 975px;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      color: #00aacb;
      font-family: Georgia, serif;
      font-style: italic;
      text-align: center;
    }
  }
}

#movement-info {
  .orbit-container {
    ul {
      overflow: hidden;
      width: 100%;      
      @include min-screen(1024px) {
        max-width: 770px;
        margin: 0 auto 50px;
      }
      @include max-screen(1023px) {
        max-width: 76%;
        text-align: center;
        margin: 0 auto 22px;
      }
    }
    .orbit-next,
    .orbit-prev {
      display: block !important;
      width: 31px;
      height: 44px;
      opacity: 0.8;
      span {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .orbit-next {
      background: url(../images/library/arrows.png) no-repeat 0 0;
    }
    .orbit-prev {
      background: url(../images/library/arrows.png) no-repeat 0 -44px;
    }
    li {
      @include InfoMediumFont;
      @include min-screen(768px) {
        @include font-size(20);
        @include line-height(30);
      }
      @include max-screen(767px) {
        @include font-size(16);
        @include line-height(22);    
      }
      strong {
        @include InfoSemiBoldFont;
      }
    }
  }
  p.hint {
    margin: 19px 0 0;
    text-align: center;
    font-style: italic;
    font-family: Georgia,
    serif;
    @include font-size(16);
    @include line-height(28);
    a {
      font-weight: bold;
      color: #00AACB;
      @include font-size(28);
    }
  }
}


// BLOCKQUOTE
#blockquote .orbit-container {
  margin: 0 0 97px;
  .orbit-next,
  .orbit-prev {
    width: 31px;
    height: 44px;
    opacity: 0.8;
    span {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .orbit-next {
    background: url(../images/library/arrows.png) no-repeat 0 -88px;
  }
  .orbit-prev {
    background: url(../images/library/arrows.png) no-repeat 0 -132px;
  }
  .blockquote-orbit {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #00aacb;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
  }
  blockquote {
    border-left: 0;
    margin: 0 0 18px;
    padding: 0;
    font-weight: bold;
    color: #00aacb;
    @include font-size(34);
    @include line-height(58);
  }
  cite {
    @include font-size(20);
    @include line-height(28);
  }
}