html {
  font-size: 16px;
}
body {
  color: #333;
  font-family: hedley-new-web,serif;
  font-weight: 400;
  @include font-size(16);
}
h1, h2, h3, h4, h5, h6 {
  font-family: hedley-new-web,serif;
  letter-spacing: -1px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 5px;
  font-weight: 500;
  @include min-screen(1024px) {
    @include font-size(40);
    @include line-height(42);
  }
  @include screen(768px,1023px) {
    @include font-size(32);
    @include line-height(32);
  }
  @include max-screen(767px) {
    @include font-size(28);
    @include line-height(32);
  }
}
h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-weight: 500;
  @include font-size(20);
  @include line-height(25);
}
h3 {
  text-transform: uppercase;
  font-weight: 500;
  @include font-size(20);
  @include line-height(25);
}
h4 {
  
}
h5 {
  
}
h6 {
  
}
h1 + p:first-of-type,
#upcoming h2 + p:first-of-type {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  // @include InfoMediumFont;
  @include min-screen(1024px) {
    @include font-size(20);
    @include line-height(25);
  }
  @include screen(768px,1023px) {
    @include font-size(18);
    @include line-height(24);
  }
  @include max-screen(767px) {
    @include font-size(16);
    @include line-height(22);
  }
}
b, strong {
  font-weight: normal;
}
p {
  font-weight: 400;
  @include font-size(17);
  @include min-screen(1024px) {
    @include line-height(32);
  }
  @include screen(768px,1023px) {
    @include line-height(30);
  }
  @include max-screen(767px) {
    @include line-height(28);
  }
}
li {
  font-weight: 400;
  @include font-size(17);
  @include min-screen(1024px) {
    @include line-height(24);
  }
  @include screen(768px,1023px) {
    @include line-height(23);
  }
  @include max-screen(767px) {
    @include line-height(22);
  }
}
.no-touch a:hover {
  @include transition-property(all);
  @include transition-timing-function(ease-in-out);
  @include transition-duration(0.2s);
}
