html {
  font-size: 16px;
}
body {
  color: #333;
  @include font-size(16);
}

h1, h2, h3, h4, h5, h6 {
  
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 5px;
  @include InfoSemiBoldFont;
  @include min-screen(1024px) {
    @include font-size(42);
    @include line-height(44);
  }
  @include screen(768px,1023px) {
    @include font-size(32);
    @include line-height(34);
  }
  @include max-screen(767px) {
    @include font-size(28);
    @include line-height(32);
  }
}
h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  @include InfoMediumFont;
  @include font-size(20);
  @include line-height(25);
}
h3 {
  text-transform: uppercase;
  @include InfoMediumFont;
  @include font-size(20);
  @include line-height(25);
}
h4 {
  
}
h5 {
  
}
h6 {
  
}

h1 + p:first-of-type,
#upcoming h2 + p:first-of-type {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  @include InfoMediumFont;
  @include min-screen(1024px) {
    @include font-size(20);
    @include line-height(25);
  }
  @include screen(768px,1023px) {
    @include font-size(18);
    @include line-height(24);
  }
  @include max-screen(767px) {
    @include font-size(16);
    @include line-height(22);
  }
}

b, strong {
  font-weight: normal;
}

p {
  @include InfoNormalFont;
  @include font-size(20);
  @include line-height(30);
}
li {
  @include InfoMediumFont;
  @include font-size(19);
  @include line-height(29);
}
.no-touch a:hover {
  @include transition-property(all);
  @include transition-timing-function(ease-in-out);
  @include transition-duration(0.2s);
}

@font-face {
    font-family: 'infotextnormal';
    src: url('../fonts/infotext-normal-webfont.eot');
    src: url('../fonts/infotext-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/infotext-normal-webfont.woff2') format('woff2'),
         url('../fonts/infotext-normal-webfont.woff') format('woff'),
         url('../fonts/infotext-normal-webfont.ttf') format('truetype'),
         url('../fonts/infotext-normal-webfont.svg#infotextnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'infobold';
    src: url('../fonts/info-bold-webfont.eot');
    src: url('../fonts/info-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/info-bold-webfont.woff2') format('woff2'),
         url('../fonts/info-bold-webfont.woff') format('woff'),
         url('../fonts/info-bold-webfont.ttf') format('truetype'),
         url('../fonts/info-bold-webfont.svg#infobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'infosemibold';
    src: url('../fonts/info-semibold-webfont.eot');
    src: url('../fonts/info-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/info-semibold-webfont.woff2') format('woff2'),
         url('../fonts/info-semibold-webfont.woff') format('woff'),
         url('../fonts/info-semibold-webfont.ttf') format('truetype'),
         url('../fonts/info-semibold-webfont.svg#infosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'infobook';
    src: url('../fonts/info-book-webfont.eot');
    src: url('../fonts/info-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/info-book-webfont.woff2') format('woff2'),
         url('../fonts/info-book-webfont.woff') format('woff'),
         url('../fonts/info-book-webfont.ttf') format('truetype'),
         url('../fonts/info-book-webfont.svg#infobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'infomedium';
    src: url('../fonts/info-medium-webfont.eot');
    src: url('../fonts/info-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/info-medium-webfont.woff2') format('woff2'),
         url('../fonts/info-medium-webfont.woff') format('woff'),
         url('../fonts/info-medium-webfont.ttf') format('truetype'),
         url('../fonts/info-medium-webfont.svg#infomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}