* {
  @include box-sizing(border-box);
}
.row {
  padding: 0 15px;
  padding: 0 0.9375rem;
}

// H E A D E R 

#header {
  position: relative;
  z-index: 20;
  background: rgba(#fff, 0.9);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
#logo {
  float: left;
  position: relative;
  img {
    max-width: 100%;
  }
}
// MENU BUTTON
.tab-bar {
  margin: 20px 0 0;
  .menu-icon {
    text-indent: 0;
    span {
      float: left;
      padding: 0 40px 0 0;
      margin: 8px 0 0;
      @include min-screen(480px) {
        color: #666;
        text-transform: uppercase;
        @include InfoSemiBoldFont;
        @include font-size(20);
        @include line-height(28);
      }
      @include max-screen(479px) {
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
      }
    }
    span:after {
      background: url("../images/layout/btn_menu.png") no-repeat 0 0;
      box-shadow: 0 0 0 0 rgba(#000, 0) !important;
      content: "";
      display: block;
      position: absolute;
      height: 24px;
      width: 26px;
      top: -4px;
      right: 0;
      bottom: 0;
      left: auto;
      margin: auto;
    }
    span:hover {
      color: #464545;
    }
    span:hover:after {
      box-shadow: 0 0 0 0 rgba(#000, 0) !important;
      background-position: 0 100%;
    }
  }
}
// MENU BUTTON ACTIVE
.move-left .tab-bar {
  position: absolute;
  right: 20px;
  .menu-icon span {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    &:after {
      background: url("../images/layout/btn_close.png") no-repeat 0 0;
      box-shadow: 0 0 0 0 rgba(#000, 0) !important;
    }
  }
}
// SIDE NAVIGATION
.right-off-canvas-menu {
  background: #323232;
  height: 3000px;
  @include box-sizing(border-box);
  @include min-screen(768px) {
    width: 20.9375rem;  
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      display: block;
    }
    a {
      color: #999;
      text-transform: uppercase;
      @include InfoSemiBoldFont;
      &:hover, &.current {
        color: #FFF;
      }
    }
  }
}
// TOP NAV
.primary-nav {
  padding: 0 40px;
  li {
    @include min-screen(1024px) {
      margin: 33px 0 4px;
    }
    @include screen(768px,1023px) {
      margin: 30px 0 3px;
    }
    @include max-screen(767px) {
      margin: 27px 0 2px;
    }
  }
  a {
    @include min-screen(1024px) {
      @include font-size(30);
      @include line-height(25);
    }
    @include screen(768px,1023px) {
      @include font-size(24);
      @include line-height(16);
    }
    @include max-screen(767px) {
      @include font-size(18);
      @include line-height(16);
    }
  }
}
// BOTTOM NAV
.secondary-nav {
  padding: 5px 40px 0;
  li {
    @include min-screen(1024px) {
      margin: 19px 0 0;
    }
    @include screen(768px,1023px) {
      margin: 16px 0 0;
    }
    @include max-screen(767px) {
      margin: 13px 0 0;
    }
  }
  li:first-of-type {
    border-top: 1px solid #999;
    @include min-screen(1024px) {
      padding: 28px 0 0;
    }
    @include screen(768px,1023px) {
      padding: 22px 0 0;
    }
    @include max-screen(767px) {
      padding: 16px 0 0;
    }
  }
  a {
    @include min-screen(1024px) {
      @include font-size(20);
      @include line-height(25);
    }
    @include screen(768px,1023px) {
      @include font-size(18);
      @include line-height(20);
    }
    @include max-screen(767px) {
      @include font-size(16);
      @include line-height(18);
    }
  }
}
// MENU BUTTON ACTIVE CONTENT
.move-left > .inner-wrap {
  @include min-screen(768px) {
      @include transform(translate(-20.9375rem, 0));
  }
}

// F O O T E R

#footer {
  position: relative;
  z-index: 20;
  padding: 90px 0 0;
  margin-bottom: -80px;
  background: #eaeaea url(../images/layout/bg-path.png) repeat 0 0;
  .row {
    position: relative;
    margin: 0 auto 80px;
  }
  > .row {
    @include screen(768px,1169px) {
      max-width: 726px;
    }
  }

  .go-top {
    position: absolute;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/layout/btn-go-top.png) no-repeat 0 0;
    width: 42px;
    height: 42px;
    left: 50%;
    margin: 0 0 0 -21px;
    top: -106px;
    outline: none;
  }
  .block {
    float: left;
    position: relative;
  }
}
// FOOTER BLOCKS
.talk-block {
  @include min-screen(1170px) {
    width: 18.29%;
    border-right: 2px solid rgba(#999, 0.3);
    padding: 16px 0 20px;
    margin: 0 34px 0 0;
  }
  @include max-screen(1169px) {
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .title {
    margin: 0 0 5px;
    display: block;
    color: #333;
    text-transform: uppercase;
    @include InfoSemiBoldFont;
    @include font-size(32);
    @include line-height(32);
  }
  .text-pick {
    color: #666;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include font-size(20);
    @include line-height(25);
  }
}
.call-block {
  @include min-screen(1170px) {
    width: 17.77%;
    border-right: 2px solid rgba(#999, 0.3);
    padding: 16px 0 19px;
    margin: 0 33px 0 0;
  }
  @include screen(768px,1169px) {
    width: 32%;
    border-right: 1px solid rgba(#999, 0.3);
    text-align: center;
    padding: 16px 24px;
  }
  @include max-screen(767px) {
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .call {
    margin: 0 0 5px;
    display: block;
    color: #333;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include font-size(28);
    @include line-height(28);
  }
  .tel {
    color: #d9531e;
    text-transform: uppercase;
    @include InfoSemiBoldFont;
    @include font-size(28);
    @include line-height(28);
  }
}
.no-touch .call-block .tel {
  cursor: text;
}
.email-block {
    @include min-screen(1170px) {
    width: 18.97%;
    border-right: 2px solid rgba(#999, 0.3);
    padding: 8px 33px 6px 0;
    margin: 0 30px 0 0;
  }
  @include screen(768px,1169px) {
    width: 32%;
    border-right: 1px solid rgba(#999, 0.3);
    padding: 8px 24px 6px;
    margin: 0;
  }
  @include max-screen(767px) {
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .email-us {
    background: #D9531E;
    text-align: center;
    margin: 0 0 5px;
    display: block;
    color: #fff;
    text-transform: lowercase;
    font-family: Georgia;
    font-style: italic;
    @include font-size(28);
    @include min-screen(768px) {
      display: block;
      width: 100%;
      @include line-height(79);
    }
    @include max-screen(767px) {
      display: table;
      margin: 0 auto;
      padding: 12px 24px;
      @include line-height(36);
    }
    &:hover {
      background: lighten(#D9531E, 10%);
    }
  }
}
.connect-block {
  @include min-screen(1170px) {
    width: 19.14%;
    padding: 16px 0 20px;
    margin: 0;
  }
  @include screen(768px,1169px) {
    width: 36%;
    padding: 0 24px 16px;
  }
  @include max-screen(767px) {
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .text-online {
    margin: 0 0 5px;
    display: block;
    color: #333;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include font-size(28);
    @include line-height(28);
  }
  .text-connect {
    color: #666;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include font-size(20);
    @include line-height(25);
  }
}
.social-block {
  @include min-screen(1170px) {
    width: 17.09%;
  }
  @include screen(768px,1169px) {
    width: 42%;
    float: right;
    padding: 0 25px;
    margin: -14px -6% 0 0;
  }
  @include max-screen(767px) {
    width: 100%;
    text-align: center;
    padding: 16px 0 0;
  }
}
.social-networks {
  list-style: none;
  overflow: hidden;
  @include min-screen(768px) {
    margin: 4px 0 0;
    padding: 0 10px 0 0;
  }
  @include max-screen(767px) {
    display: table;
    margin: -14px auto 0;
    padding: 0;
  }
  li {
    float: left;
    margin: 0 4px 6px 0;
  }
  a {
    display: block;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/layout/ico-socail.png) no-repeat;
    &:hover {
      opacity: .8;
    }
  }
  li.twitter a {
    background-position: 0 0;
  }
  li.instagram a {
    background-position: -38px 0;
  }
  li.facebook a {
    background-position: -77px 0;
  }
  li.rss a {
    background-position: -115px 0;
  }
  li.pinterest a {
    background-position: 0 100%;
  }
  li.slideshare a {
    background-position: -38px 100%;
  }
}
// FOOTER COPY LINE
.footer-bottom {
  width: 100%;
  background: #333;
  .row {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding: 26px 0 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  li {
    text-transform: uppercase;
    color: #ccc;
    @include InfoBookFont;
    @include font-size(12);
    @include line-height(13);
    @include min-screen(768px) {
      display: inline-block;
      padding: 0 5px 0 12px;
      background: url(../images/layout/bg-li-footer.png) no-repeat 0 50%;
    }
    @include max-screen(767px) {
      display: block;
      padding: 8px 0;
    }
  }
  li:first-of-type {
    background: none;
  }
  a {
    color: #ccc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  address {
    font-style: normal;
  }
}

// C O N T E N T

#main {
  display: block;
  position: relative;
  margin-bottom: -20px;
  background: url("../images/layout/bg-body.png") repeat 0 0;
}
section {
  background: #FFF;
  position: relative;
  z-index: 10;
}
section:last-child {
    padding: 0 0 80px;
}




#home-video {
  background: url("../images/video/Ram-at-his-Desk.jpg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
  top: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: auto;
  z-index: 1;
}

#home-video + #gallery {
  min-height: 100vh;
  background: rgba(#000, 0.5);
}

.videoHolder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe,
  video,  
  object,  
  embed {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.cycle-gallery .txt {
  
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  p {
    color: #fff;
    display: block;
    text-transform: uppercase;
    @include InfoSemiBoldFont;
    @include font-size(70);
    @include line-height(75);
  }
}