.temp {
  opacity: 0.5;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-left: -750px;
}
.button {
  display: table;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 1.4rem 0;
  font-style: italic;
  text-align: center;
  text-transform: lowercase;
  @include font-size(28);
  @include line-height(32);
  &.left {
    margin: 0 20px 30px 0;
  }
  &:active {
    top: 2px;
  }
  &.btn-ico {
    &:before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: 18px;
      left: 30px;
    }
  }
}
.btn-orange {
  background-color: #d9531e;
  &:hover {
    background-color: darken(#D9531E, 5%);
  }
  &:active {
    background-color: #d9531e;
  }
}
.btn-green {
  background-color: #939f57;
  &:hover {
    background-color: darken(#939f57, 5%);
  }
  &:active {
    background-color: #939f57;
  }
}
.btn-blue {
  background-color: #0bb7cf;
  &:hover {
    background-color: darken(#0bb7cf, 5%);
  }
  &:active {
    background-color: #0bb7cf;
  }
}
.btn-down,
.btn-down:active {
  background: #f18013;
  bottom: 0;
  height: 30px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
  z-index: 2;
}
.btn-down:before {
  background: url(../images/library/sprite.png) no-repeat 0 -150px;
  content: "";
  height: 16px;
  left: 50%;
  margin: -8px 0 0 -11px;
  position: absolute;
  top: 50%;
  width: 22px;
}
.works-list {
  list-style: none;
  margin: 53px auto 63px;
  padding: 0;
  text-align: center;
  clear: both;
  overflow: hidden;
  display: table;
  li {
    float: left;
    position: relative;
    margin: 0 30px 0 0;
    &:nth-child(3n+3) {
      margin: 0;
    }
  }
  a {
    float: left;
    position: relative;
  }
  img {
    display: block;
    position: relative;
    width: 100%;
    max-width: 380px;
    height: auto;
    @include border-radius(2px);
  }
}
.half-block {
  float: left;
  position: relative;
  width: 43%;
  padding: 95px 5% 0;
  margin: 0 0 0 7%;
  + .half-block {
    margin: 0 7% 0 0;
  }
  img {
    display: block;
    width: 100%;
    max-width: 388px;
    height: auto;
    margin: 0 auto 34px;
    @include border-radius(100%);
  }
  h2 {
    margin: 0 0 7px;
    @include font-size(28);
  }
  p {
    text-align: center;
    margin: 0 0 56px;
    @include line-height(26);
  }
  .button {
    max-width: 270px;
  }
}
.direction-nav {
  display: block;
  position: relative;
  overflow: hidden;
  clear: both;
  &.top {
    background: rgba(#fff, 0.9);
    padding: 33px 0;
    height: 110px;
  }
  &.bottom {
    background: #F1F2F3;
    padding: 33px 0 66px;
    height: 140px;
  }
  ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      width: 33.3333333%;
      + li {
        text-align: center;
      }
      + li + li {
        text-align: right;
      }
    }
  }
  a {
    display: table;
    font-family: Georgia, serif;
    text-transform: lowercase;
    color: #333;
    font-style: italic;
    position: relative;
    @include font-size(20);
    @include line-height(44);
    &:after {
      position: absolute;
      display: block;
      content: "";
      z-index: 11;
      width: 32px;
      height: 44px;
      top: 0;
      background-image: url(../images/library/direction_nav.png);
      background-repeat: no-repeat;
    }
  }
  .previous {
    padding: 0 0 0 65px;
    &:after {
      left: 0;
      background-position: 0 0;
    }
  }
  .center {
    margin: 0 auto;
    padding: 0 0 0 44px;
    &:after {
      left: 0;
      background-position: 0 -44px;
    }
  }
  .next {
    padding: 0 65px 0 0;
    float: right;
    &:after {
      right: 0;
      background-position: 0 -88px;
    }
  }
}

#main.case-study {
  background: #F8F8F8;
}

.main-photo {
  margin: -110px 0 0;
}

#love-146 {
  background: #000 url(../images/case-study/love-146/love146-girl.jpg) no-repeat 100% 100%;
  @include background-size(auto 100%);
  img {
     max-width: 66%;
     margin: 300px 0 250px;
  }
}

.intro {
  padding: 70px 0 62px;
  h1 {
    margin: 0 0 53px;
    display: block;
    + p {
      text-transform: none;
      text-align: left;
      margin: 0 0 20px;
      @include InfoNormalFont;
      @include font-size(20);
      @include line-height(30);
    }
  }
}
.two-col {
  margin: 0;
  padding: 0 5.9375rem;
  .left,
  .right {
    width: 48.7%;
  }
  p {
    margin: 0 0 32px;
    display: inline-block;
    overflow: hidden; 
  }
}
.video-section,
.image-section {
  margin: 0 0 21px;
  h3 {
    font-family: Georgia, serif;
    font-style: italic;
    text-align: left;
    text-transform: none;
    margin: 0 0 3px;
    @include font-size(16);
    @include line-height(29);
  }
}
.featured {
  padding: 0;
  margin: 0 0 21px;
  h3 {
    color: #FFF;
    margin: 0 0 22px;
  }
  .text {
    padding: 3.125rem 5.9375rem;
    &.bg-red {
      background: #C10008;
    }
    &.bg-gray20 {
      background: #333;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
    &.bg-lemon {
      background: #abb428;
    }
    &.bg-neptune {
      background: #77B6B1;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
    &.bg-orange {
      background: #d15932;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
    &.bg-wedgewood {
      background: #4e94a1;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
  }
  img {
    &.left {
      max-width: 40%;
    }
    &.top {
      margin: 30px 0;
    }
    &.bottom {
      margin: 0 0 30px;
    }
    &.right {
      max-width: 57%;
      margin: 30px 0;
    }
  }
  ul {
    margin: 0 0 22px;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 22px;
      color: #FFF;
      @include InfoNormalFont;
      @include font-size(20);
      @include line-height(22);
    }
  }
  p {
    margin: 0 0 22px;
    color: #FFF;
    @include InfoNormalFont;
    @include font-size(20);
    @include line-height(30);
  }
}

.gallery,
.featured .gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  li {
    float: left;
    position: relative;
    width: 48.7%;
    margin: 0 2.6% 30px 0;
  }
  li:nth-child(2n+2) {
    margin: 0 0 30px;
  }
}
img + .gallery,
.featured img + .gallery {
  margin-top: 30px;
}
.stamp,
.featured .stamp {
  margin: 0;
  padding: 0 1%;
  list-style: none;
  background: #FFF;
  display: block;
  position: relative;
  overflow: hidden;
  li {
    float: left;
    position: relative;
    width: 23.5%;
    margin: 10px 2% 10px 0;
  }
  li:nth-child(4n+4) {
    margin: 10px 0;
  }
}
#love-146-success h3 {
  text-indent: 5.9375rem;
  margin: 20px 0 32px;
}
.books-bottom {
  margin: 100px 0 0;
  padding: 114px 0;
  background: url(../images/case-study/love-146/books.jpg) no-repeat 50% 50%;
  @include background-size(cover);
  .button {
    max-width: 680px;
  }
}
.block {
  padding: 30px;
  &.orange {
    background-color: #ff8800;
  }
  img {
    float: left;
    max-width: 38%;
    margin: 0 30px 0 0;
  }
  p {
    margin: 0;
    color: #fff;
  }
}