section.fitness-hero {
  background: url(../images/fitness/fitness-hero.jpg) no-repeat;
  background-size: cover;
  padding: 20% 0;
}

section.backdrop {
  padding: 5% 9% 0;
  text-align: left;
}

section.backdrop #book,section.backdrop #anytime-logo,section.backdrop .blurb {
  display: inline-block;
  vertical-align: top;
}

section.backdrop #book {
  width: 37%;
  max-width: 410px;
  margin: 0 1% 0 0;
}

section.backdrop #anytime-logo {
  width: 90%;
  max-width: 724px;
  margin: 0 0 11%;
}

section.backdrop .blurb {
  display: inline-block;
  width: 62%;
  max-width: 724px;
  margin: 0;
  padding: 0;
  text-align: left;
}

section.backdrop .blurb h3 {
  margin: -5% 0 0;
}

section.backdrop .blurb p {
  width: 100%;
  text-align: left;
}

section.owners {
  background: url(../images/fitness/anytime-owners.jpg) no-repeat;
  background-size: cover;
  padding: 20% 0;
}

section.rebellion #rat {
  width: 49%;
  max-width: 718px;
  margin: -10% -6% -52.5%;
}

section.rebellion #rebellion {
  width: 39%;
  max-width: 581px;
  margin: 3% 0 0;
  vertical-align: top;
}

section.purpose-statement {
  padding: 5% 9%;
  background: #983abf;
  text-align: right;
}

section.purpose-statement .blurb {
  display: inline-block;
  width: 50%;
  max-width: 541px;
  color: #FFF;
  text-align: left;
}

section.purpose-statement .blurb h3 {
  color: #FFF;
}

section.fitness-success {
  padding: 5% 9%;
}

section.fitness-success h3 {
  display: block;
  margin: 0;
  padding: 0 0 5%;
}

section.fitness-success .blurb {
  display: inline-block;
  max-width: 560px;
  width: 48%;
  margin: 0 2% 0 0;
  padding: 0 0 40px;
  text-align: left;
  vertical-align: top;
}

section.fitness-success .blurb p {
  display: inline;
}

section.fitness-success #success-arrows {
  display: inline-block;
  width: 25px;
  float: left;
  margin: 7px 20px 90px 0;
  padding: 2% 2.25% 2% 3%;
  background: #983abf;
}

section.fitness-success .blurb:nth-child(odd) {
  margin-right: 0;
}

section.fitness-success .blurb:nth-last-child(-n+2) {
  padding-bottom: 0;
}

section.community-leadership {
  padding: 3% 9%;
  text-align: left;
  background: #e6e6e6;
}

section.community-leadership .leadership-images {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

section.community-leadership .leadership-images #handbook,section.community-leadership .leadership-images #fitness-people {
  position: relative;
  display: inline-block;
}

section.community-leadership .leadership-images #handbook {
  width: 52%;
  max-width: 704px;
  margin: -8% 0 0;
  z-index: 1000;
}

section.community-leadership .leadership-images #fitness-people {
  width: 50%;
  max-width: 699px;
  margin: 0 0 9% -6%;
  border: 7px solid #FFF;
  z-index: 100;
}

section.community-leadership .leadership-images h5 {
  display: block;
  margin: -5% 0 0 18%;
}

section.community-leadership img#success-arrows {
  display: inline-block;
  width: 25px;
  float: left;
  margin: 7px 20px 90px 0;
  padding: 2% 2.25% 2% 3%;
  background: #983abf;
}

section.community-leadership .blurb {
  max-width: 830px;
  width: 52%;
  margin: -3.5% auto 0 39%;
}

section.community-leadership .blurb p {
  display: inline;
}

section.community-leadership #success-arrows {
  margin: 2.5% 6% 0 0;
}

section.welcome {
  padding: 5% 9%;
  text-align: right;
}

section.welcome .blurb {
  display: inline-block;
  width: 30%;
  max-width: 350px;
  margin: 0 2% 0 0;
  vertical-align: top;
}

section.welcome .blurb h3 {
  margin: 0;
}

section.welcome .photography {
  display: inline-block;
  width: 68%;
  max-width: 796px;
}

section.welcome .photography #welcome-card {
  max-width: 796px;
  width: 99.3%;
  margin: 0 0 4%;
  vertical-align: top;
}

section.welcome .photography .more-photos {
  display: inline-block;
  margin: 0 0 0 .5%;
  padding: 0;
}

section.welcome .photography .more-photos#three-rows {
  width: 58.7%;
  max-width: 474px;
  vertical-align: top;
}

section.welcome .photography .more-photos#three-rows img {
  width: 100%;
  margin: 0 0 .5%;
}

section.welcome .photography .more-photos#two-rows {
  width: 39.2%;
  max-width: 316px;
  vertical-align: top;
}

section.welcome .photography .more-photos#two-rows img {
  width: 100%;
  margin: 0 0 .5%;
}

section.whats-but {
  padding: 5% 9%;
}

section.whats-but #whats-but {
  width: 39%;
  max-width: 494px;
  margin: -11% 3% 0 0;
  vertical-align: top;
}

section.whats-but .blurb {
  display: inline-block;
  width: 50%;
  max-width: 618px;
  margin: 0;
  padding: 0;
  text-align: left;
}

section.kicking-but {
  padding: 22% 0;
  background: url(../images/fitness/youre-kicking-but.jpg) no-repeat;
  background-size: cover;
}

section.workout-sucks-slideshow {
  padding: 5% 9%;
}

section.rebel-family-photos {
  padding: 5% 9%;
}

section.rebel-family-photos .photos-fifty-fifty,section.rebel-family-photos .photos-seventy-thirty {
  width: 100%;
  margin: 0 0 .5%;
}

section.rebel-family-photos .photos-fifty-fifty img {
  width: 49%;
}

section.rebel-family-photos .photos-fifty-fifty img#one {
  margin: 0 .5% 0 0;
}

section.rebel-family-photos .photos-fifty-fifty img#two {
  margin: 0 0 0 .5%;
}

section.rebel-family-photos .photos-seventy-thirty #one {
  width: 31%;
  margin: 0 .5% 0 0;
}

section.rebel-family-photos .photos-seventy-thirty #two {
  width: 67%;
  margin: 0 0 0 .5%;
}

section.fr-wants-you {
  padding: 0 9%;
  text-align: left;
}

section.fr-wants-you #fr {
  width: 54%;
  max-width: 848px;
  margin: -14% 0 -3px;
}

section.fr-wants-you #wants-you {
  max-width: 297px;
  width: 19%;
  margin: 0 0 14%;
}

.full-width-heading .black,.full-width-heading .purple,.full-width-heading .gold {
  text-align: center;
}

.full-width-heading #meet-the-rebels,.full-width-heading #working-out,.full-width-heading #perspective {
  display: inline-block;
  padding: 3% 1% 0 0;
}

.full-width-heading #kick-but {
  display: inline-block;
  padding: 2% 0 1.75%;
}

.full-width-heading h3 {
  color: #FFF;
  font-weight: 400;
  font-size: 1.1em;
}

@media (max-width: 1180px) {
	
}


@media (max-width: 1170px) {

  
  section.rebellion #rat {
    margin: -3% -2% -57.5% -6%;
  }
  
  section.purpose-statement .blurb {
    margin: 0 -4% 0 0;
  }
  
  .full-width-heading #meet-the-rebels,.full-width-heading #working-out,.full-width-heading #perspective {
    display: block;
    width: 70%;
    max-width: 696px;
    margin: 0 auto;
    padding: 3% 0 0;
  }
  
  .full-width-heading #kick-but {
    width: 70%;
  }
  
  .full-width-heading h3 {
    padding: 0;
  }
  
  section.fr-wants-you #wants-you {
    margin: 0 0 10% 10%;
  }
  
  section.welcome .blurb {
	  width: 100%;
	  max-width: 660px;
  }

}

@media (max-width: 940px) {

  section.rebellion #rat {
    width: 39%;
    margin: 0 7% -47.5% -8%;
  }
  
  section.rebellion #rebellion {
    margin: 0;
  }
  
  section.purpose-statement .blurb {
    width: 62%;
  }
  
  section.whats-but #whats-but {
    margin: -9% 3% 0 0;
  }


}

@media (max-width: 768px) {
  section.rebellion #rat,section.rebellion #rebellion {
    margin: 0;
  }
  
  section.rebellion #rat {
    width: 25%;
  }
  
  section.rebellion #rebellion {
    width: 63%;
  }
  
  section.purpose-statement {
    text-align: left;
  }
  
  section.purpose-statement .blurb {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  
  section.fitness-success #success-arrows {
    width: 18px;
    margin: 5px 9px 0 0;
  }
  
  section.community-leadership .blurb {
    width: 100%;
    margin: 6% 0 0;
  }
  
  section.whats-but #whats-but {
    margin: 0 auto 5%;
    display: block;
  }
  
  section.whats-but .blurb {
    width: 100%;
  }

}

@media (max-width: 480px) {
  section.backdrop #book {
    display: block;
    margin: 0 auto;
  }
  
  section.backdrop .blurb {
    width: 100%;
    margin: 5% 0 0;
  }
  
  section.fitness-success .blurb {
    width: 100%;
  }
  
  section.welcome .blurb {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  
  section.welcome .photography {
    width: 100%;
  }
  
  section.fr-wants-you #fr {
    width: 71%;
    margin: -13% 5% -3px -7%;
  }
  
  section.fr-wants-you #wants-you {
    width: 37%;
    margin: 0 0 7% -8%;
  }
  
  section.fitness-success .blurb:nth-last-child(-n+2) {
    padding-bottom: 40px;
  }
  
  section.community-leadership img#success-arrows {
    margin: 7px 10px 0 0;
  }
  
  .full-width-heading h3 {
    margin: 2% 0;
    font-size: 1em;
  }

}

@media (max-width: 320px) {
  .full-width-heading #kick-but {
    padding: 5% 0 1.75%;
  }
  
  .full-width-heading h3 {
    font-size: .7em;
  }
  
  section.community-leadership .leadership-images {
    text-align: center;
  }
  
  section.community-leadership .leadership-images #handbook {
    width: 100%;
    margin: 0;
  }
  
  section.community-leadership .leadership-images #fitness-people {
    display: none;
  }
  
  section.community-leadership .leadership-images h5 {
    margin: 0;
  }
  
  section.community-leadership #success-arrows {
    width: 18px;
    margin: 6px 10px 0 0;
  }
  
  section.whats-but #whats-but {
    width: 90%;
  }
  
  section.workout-sucks-slideshow {
    padding: 10% 1% 5%;
  }

}