section {
  width: 100%;
  margin: 0;
  background: #fafafa url("../images/bg.gif") repeat;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.greenville .secondary-nav-top {
  position: absolute; }

.full-width, .content, .backdrop {
  max-width: 970px;
  background: none; }

.two-columns {
  -moz-column-count: 2;
  -moz-column-gap: 35px;
  -webkit-column-count: 2;
  -webkit-column-gap: 35px; }

.content {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  color: white; }
  .content h3 {
    color: white; }

p {
  color: #333333;
  font-weight: 500;
  text-align: left; }
  @media screen and (max-width: 480px) {
    p {
      font-size: 15px;
      line-height: 1.4; } }
  p.caps {
    width: 1000px;
    margin: 0 auto;
    text-transform: uppercase; }
    @media screen and (max-width: 880px) {
      p.caps {
        font-size: .75em;
        line-height: 1; } }

.gvl-hero {
  position: relative;
  margin-top: 78px;
  padding: 0;
  height: 725px;
  background: url("../../images/greenville/gvl-hero.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center 70%; }
  @media screen and (max-width: 1180px) {
    .gvl-hero {
      height: 595px; } }
  @media screen and (max-width: 1024px) {
    .gvl-hero {
      height: 425px; } }
  @media screen and (max-width: 768px) {
    .gvl-hero {
      height: 345px; } }
  @media screen and (max-width: 580px) {
    .gvl-hero {
      height: 250px; } }
  @media screen and (max-width: 480px) {
    .gvl-hero {
      height: 200px; } }
  @media screen and (max-width: 320px) {
    .gvl-hero {
      height: 180px; } }

.backdrop {
  margin: 60px auto 0 auto; }
  @media screen and (max-width: 880px) {
    .backdrop {
      margin: 30px auto 0 auto; } }
  .backdrop .content h3 {
    color: #333; }

.green {
  position: absolute;
  width: 100%;
  top: 101px;
  background: #c3d600;
  height: 488px;
  z-index: 0; }
  @media screen and (max-width: 1440px) {
    .green {
      top: 96px;
      height: 395px; } }
  @media screen and (max-width: 1180px) {
    .green {
      top: 10%;
      height: 350px; } }
  @media screen and (max-width: 1024px) {
    .green {
      display: none; } }

.purpose {
  position: relative;
  margin: 50px auto;
  height: 720px;
  background: none;
  overflow: visible; }
  @media screen and (max-width: 1440px) {
    .purpose {
      margin-bottom: 0px;
      height: 672px; } }
  @media screen and (max-width: 1180px) {
    .purpose {
      height: 580px; } }
  @media screen and (max-width: 1024px) {
    .purpose {
      height: auto;
      margin: 50px auto;
      background: #c3d600; } }
  .purpose .content {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1440px) {
      .purpose .content {
        padding-left: 100px; } }
    @media screen and (max-width: 1180px) {
      .purpose .content {
        padding-left: 60px; } }
    @media screen and (max-width: 1024px) {
      .purpose .content {
        padding-left: 0px; } }
  .purpose .content-wrapper {
    position: relative;
    width: 1287px;
    margin: 0 auto;
    padding-top: 85px;
    height: 100%;
    background: url(../../images/greenville/us-map.png) no-repeat center 5px;
    background-size: 83% auto;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1180px) {
      .purpose .content-wrapper {
        width: 1024px;
        background-size: 90% auto;
        padding-top: 45px; } }
    @media screen and (max-width: 1024px) {
      .purpose .content-wrapper {
        width: 880px;
        top: 30px;
        left: 50%;
        margin-left: -440px;
        padding-top: 400px;
        padding-bottom: 50px; } }
    @media screen and (max-width: 880px) {
      .purpose .content-wrapper {
        width: 768px;
        margin-left: -384px; } }
    @media screen and (max-width: 768px) {
      .purpose .content-wrapper {
        width: 580px;
        margin-left: -290px;
        padding-top: 270px; } }
    @media screen and (max-width: 580px) {
      .purpose .content-wrapper {
        width: 480px;
        margin-left: -240px;
        padding-top: 230px; } }
    @media screen and (max-width: 480px) {
      .purpose .content-wrapper {
        width: 320px;
        margin-left: -160px;
        padding-top: 105px; } }
  .purpose ul {
    max-width: 670px;
    width: 670px;
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold; }
    @media screen and (max-width: 1440px) {
      .purpose ul {
        width: 600px; } }
    @media screen and (max-width: 1180px) {
      .purpose ul {
        width: 520px;
        font-size: 21px; } }
    @media screen and (max-width: 1180px) {
      .purpose ul {
        width: 450px;
        font-size: 18px; } }
    @media screen and (max-width: 1024px) {
      .purpose ul {
        width: 100%;
        max-width: 100%;
        font-size: 21px; } }
    @media screen and (max-width: 1024px) {
      .purpose ul {
        font-size: 18px; } }
    @media screen and (max-width: 480px) {
      .purpose ul {
        font-size: 15px;
        line-height: 1.4; } }
  .purpose li {
    display: block;
    margin-bottom: 40px; }
    @media screen and (max-width: 1440px) {
      .purpose li {
        margin-bottom: 17px; }
        .purpose li:nth-child(2n) {
          padding-left: 30px; }
        .purpose li:nth-child(3n) {
          padding-left: 130px; } }
        @media screen and (max-width: 1440px) and (max-width: 1180px) {
          .purpose li:nth-child(2n) {
            padding-left: 10px; } }
        @media screen and (max-width: 1440px) and (max-width: 1180px) {
          .purpose li:nth-child(3n) {
            padding-left: 110px; } }
    @media screen and (max-width: 1180px) {
      .purpose li {
        margin-bottom: 12px; } }
    @media screen and (max-width: 1024px) {
      .purpose li {
        margin-bottom: 8px; }
        .purpose li:nth-child(2n) {
          padding-left: 0px; }
        .purpose li:nth-child(3n) {
          padding-left: 0px; } }

.action {
  margin: -131px auto 0px auto;
  padding: 60px 0;
  background: #b7b7b7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1024px) {
    .action {
      margin: 50px auto; } }
  .action p {
    margin-bottom: 40px;
    color: white; }
    @media screen and (max-width: 880px) {
      .action p {
        margin-bottom: 20px; } }
  .action .column {
    float: none;
    display: inline-block;
    text-align: center;
    vertical-align: top; }
    @media screen and (max-width: 1024px) {
      .action .column {
        margin: 0 0px 0px 0; } }
    @media screen and (max-width: 768px) {
      .action .column {
        display: block;
        width: 100%; } }
    .action .column p {
      text-align: left; }
    .action .column:first-child {
      margin-right: 25px; }
      @media screen and (max-width: 1024px) {
        .action .column:first-child {
          margin: 0 15px 0px 0; } }
  .action img {
    max-width: 560px;
    width: 100%;
    margin-top: -20px;
    margin-bottom: -140px; }
    @media screen and (max-width: 768px) {
      .action img {
        width: 80%;
        margin: 0 auto -140px auto; } }

.photos {
  max-width: 1170px;
  margin: 50px auto 0 auto;
  text-align: center; }
  .photos img {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }

.success {
  margin-top: 130px;
  padding-top: 100px;
  background: #3f3a60;
  border-top: 137px solid #554C85;
  color: white;
  text-align: left; }
  @media screen and (max-width: 1180px) {
    .success {
      margin-top: 50px;
      padding-top: 55px;
      border-top-width: 100px; } }
  @media screen and (max-width: 768px) {
    .success {
      border-top-width: 60px; } }
  @media screen and (max-width: 580px) {
    .success {
      margin-top: 40px;
      padding-top: 40px; } }
  .success h3 {
    color: white;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .success h3 {
        padding-left: 5%; } }
  .success img {
    max-width: 802px;
    width: 62%;
    position: absolute;
    left: -10%;
    top: -58%; }
    @media screen and (max-width: 1440px) {
      .success img {
        left: -7%; } }
    @media screen and (max-width: 1180px) {
      .success img {
        top: -225px;
        left: 0%; } }
    @media screen and (max-width: 1180px) {
      .success img {
        top: -225px;
        left: 0%; } }
    @media screen and (max-width: 980px) {
      .success img {
        top: -188px; } }
    @media screen and (max-width: 768px) {
      .success img {
        top: -155px;
        left: 5%; } }
    @media screen and (max-width: 580px) {
      .success img {
        top: -109px;
        width: 300px; } }
  .success .content {
    position: relative;
    width: 1070px;
    max-width: 90%;
    background: #3f3a60 url(../../images/greenville/hands.png) no-repeat 90% 15px;
    background-size: 758px auto; }
    @media screen and (max-width: 768px) {
      .success .content {
        max-width: 100%;
        text-align: center;
        background-size: auto 100%;
        background-position: 90% bottom; } }
    @media screen and (max-width: 480px) {
      .success .content {
        background-size: auto 60%; } }
  .success ul {
    display: inline-block;
    max-width: 470px;
    width: 45%;
    margin: 0 120px auto 0;
    vertical-align: top;
    text-align: left; }
    .success ul:nth-child(even) {
      margin-right: 0; }
    @media screen and (max-width: 1440px) {
      .success ul {
        margin-right: 8%; } }
    @media screen and (max-width: 768px) {
      .success ul {
        width: 90%;
        max-width: 90%;
        margin: 0 auto; } }
  .success li {
    width: 100%;
    display: block;
    margin-bottom: 40px; }
    @media screen and (max-width: 1440px) {
      .success li {
        margin-bottom: 17px; } }
    @media screen and (max-width: 1180px) {
      .success li {
        margin-bottom: 12px; } }
    @media screen and (max-width: 1024px) {
      .success li {
        margin-bottom: 8px; } }
    @media screen and (max-width: 480px) {
      .success li {
        font-size: 15px;
        line-height: 1.4; } }

.social {
  height: 590px;
  margin: 60px auto 8px auto;
  background: #b7b7b7 url(../../images/greenville/social-images.png) no-repeat center -5px;
  -webkit-background-size: 996px auto;
  -moz-background-size: 996px auto;
  background-size: 996px auto; }
  @media screen and (max-width: 996px) {
    .social {
      height: auto;
      padding-bottom: 60%;
      -moz-background-size: cover;
      background-size: cover; } }
  @media screen and (max-width: 1024px) {
    .social + p {
      display: block;
      width: auto;
      margin-left: 5%; } }

.web {
  position: relative;
  margin: 60px auto 130px auto; }
  @media screen and (max-width: 880px) {
    .web {
      margin: 30px auto 40px auto; } }
  .web p.caps {
    width: 90%;
    max-width: 725px;
    -webkit-transform: translateY(-107px);
    -moz-transform: translateY(-107px);
    transform: translateY(-107px); }
    @media screen and (max-width: 880px) {
      .web p.caps {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
        text-align: center; } }
  .web img {
    position: relative; }
    .web img.monitor {
      width: 90%;
      max-width: 725px;
      z-index: 1; }
    .web img.mag-stack {
      position: relative;
      left: 19px;
      float: left;
      width: 538px;
      margin: -20px 0px 0 -215px; }
      @media screen and (max-width: 880px) {
        .web img.mag-stack {
          width: 450px;
          margin: -20px 0 0 -65px; } }
      @media screen and (max-width: 768px) {
        .web img.mag-stack {
          float: none;
          margin: 0 0px 0 -90px;
          width: 285px; } }
      @media screen and (max-width: 480px) {
        .web img.mag-stack {
          width: 180px;
          margin-left: -50px; } }
    .web img.lantern {
      position: relative;
      left: 19px;
      float: right;
      width: 220px;
      margin: -250px -60px 0 0px; }
      @media screen and (max-width: 880px) {
        .web img.lantern {
          width: 185px;
          margin: -180px -40px 0 0px; } }
      @media screen and (max-width: 768px) {
        .web img.lantern {
          float: none;
          margin: 0;
          width: 135px; } }
      @media screen and (max-width: 480px) {
        .web img.lantern {
          width: 100px; } }
  .web .content {
    position: relative;
    width: 100%;
    padding-top: 45px;
    margin: 0px auto 60px auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .web .content {
        padding-top: 0; } }
    .web .content p {
      width: 100%;
      max-width: 490px;
      margin: 0 0 105px 345px;
      text-align: left; }
      @media screen and (max-width: 880px) {
        .web .content p {
          width: 40%;
          margin: 0 0 55px 420px; } }
      @media screen and (max-width: 768px) {
        .web .content p {
          width: 90%;
          margin: 0 auto;
          max-width: 90%; } }

.numbers {
  max-width: 1220px;
  margin: 0 auto;
  text-align: left; }
  .numbers .bar {
    width: 970px;
    margin: 0 auto;
    color: #554c85;
    background: #c3d600;
    box-shadow: -900px 0 0 #c3d600, 900px 0 0 #c3d600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1024px) {
      .numbers .bar {
        width: 100%;
        padding: 0 5%; } }
    @media screen and (max-width: 880px) {
      .numbers .bar {
        text-align: center; } }
    .numbers .bar h3 {
      display: inline-block;
      padding: 100px 0 20px 0;
      color: #554c85;
      font-weight: 700; }
      @media screen and (max-width: 1024px) {
        .numbers .bar h3 {
          display: block;
          padding-bottom: 0; } }
      @media screen and (max-width: 880px) {
        .numbers .bar h3 {
          padding-top: 50px; } }
    @media screen and (max-width: 1024px) {
      .numbers .bar small {
        display: block;
        padding: 0 5% 0 0;
        line-height: 1.2; } }
  .numbers .slideshow .slide {
    left: 50%;
    margin-left: -515px;
    padding: 0; }
    .numbers .slideshow .slide img {
      max-width: 1030px;
      width: 100%; }
  .numbers .btn-next, .numbers .btn-prev {
    background: url(../../images/greenville/slider-arrow.png) no-repeat; }
  .numbers .btn-next {
    background-position: 0 100%;
    right: 0; }
  .numbers .btn-prev {
    background-position: 0 0;
    left: 0; }

.stats {
  margin-bottom: 100px;
  text-align: center; }
  .stats img {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    border-right: 2px solid #c3d600; }
    .stats img:last-child {
      border-right: none; }
    @media screen and (max-width: 1024px) {
      .stats img {
        max-height: 180px; } }
    @media screen and (max-width: 880px) {
      .stats img {
        max-height: 140px;
        padding: 25px 25px 0 25px; } }
    @media screen and (max-width: 600px) {
      .stats img {
        max-height: 120px;
        padding: 15px 15px 0 15px; } }
    @media screen and (max-width: 480px) {
      .stats img {
        display: block;
        max-height: 100%;
        height: auto;
        width: 35%;
        padding: 15px;
        border-right: none;
        border-bottom: 1px solid #c3d600; }
        .stats img:last-child {
          border-bottom: none; } }

.sign-off {
  clear: both;
  margin-top: 100px;
  background: url(../../images/greenville/greenville-bg.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .sign-off .content {
    position: relative;
    max-width: 830px;
    height: 100%;
    margin: 0 auto;
    padding: 8% 0;
    text-align: right; }
  .sign-off h2 {
    margin: 0;
    line-height: 1.4;
    font-family: Georgia;
    font-weight: bold;
    font-size: 34px;
    font-style: italic;
    text-align: center; }
    @media screen and (max-width: 880px) {
      .sign-off h2 {
        font-size: 30px; } }
  .sign-off ul {
    display: inline-block;
    margin: 0 0 0 auto; }
  .sign-off li {
    display: block;
    font-size: 22px;
    text-align: left;
    line-height: 1.4; }
    .sign-off li:first-child {
      text-indent: -15px; }
    @media screen and (max-width: 880px) {
      .sign-off li {
        font-size: 16px; } }

h1 {
  font-size: 2.2em;
  color: white;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 25px; }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.7em; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.4em;
      padding-bottom: 15px; } }

.white {
  color: #fff; }

h4 {
  margin: 1.15% 0;
  font-size: 1.3em;
  font-weight: 500; }

h5 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400; }
