section {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background: url(../images/bg.gif) repeat;
  background-color: #FAFAFA;
}

section.secondary-nav {
  position: relative;
  background: none;
  background-color: rgba(230,230,230,0.85);
}

section.hero {
  margin-top: 0px;
  background: #000 url(../images/love146-girl.jpg) no-repeat;
  background-position: right bottom;
  background-size: 33em;
}

section.love-backdrop {
  padding: 3.7% 0 2%;
}

section.purpose {
  background: url(../images/girl-with-sign.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
}

section.love-action {
  background: #c00008;
}

section.success {
  text-align: center;
}

section.new-identity {
  background: none;
  background-color: #9c999a;
}

section.book-concept {
  padding: 0;
}

section.annual-report {
  background: #fff url(../images/bg.gif) repeat;
  background: 0 color-stop(100%,#e2e2e2)) url(../images/bg.gif) repeat;
  background: 0 url(../images/bg.gif) repeat;
  background: 0 url(../images/bg.gif) repeat;
  background: 0 url(../images/bg.gif) repeat;
  background: radial-gradient(ellipseatcenter,#ffffff0%,#e2e2e2100%) url(../images/bg.gif) repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e2e2e2',GradientType=1) url(../images/bg.gif) repeat;
}

section.task-force {
  padding: 50px 0 0;
}

section.swag {
  overflow: hidden;
}

section.flash-mob {
  margin-bottom: -54px;
  padding: 0;
  background: url(../images/flash-mobbers.jpg) no-repeat;
  background-size: cover;
  background-position: 85% top;
}

section.personal-expression {
  padding: 2% 0 0;
}

section.closer {
  padding: 38% 0;
  background: url(../images/love146-leaping-girl.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.hero .container {
  padding: 285px 0;
}

#love146-logo {
  display: inline-block;
  width: 66%;
  max-width: 771px;
  margin: 35px 0 -118px 0;
}

#jfc {
  display: inline-block;
  width: 45.4%;
  max-width: 531px;
  margin: 0 46px -107px -1px;
}

.love-backdrop .container {
  padding: 0 0 64px;
}

.love-backdrop .blurb {
  display: inline-block;
  max-width: 560px;
  width: 47.86%;
  margin: 0;
  padding: 0;
}

.love-backdrop h3 {
  display: block;
  margin: 0;
}

.love-backdrop p {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  text-align: justify;
}

#mds {
  display: inline-block;
  width: 37.863%;
  max-width: 443px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  box-shadow: -12px 21px 33px rgba(0,0,0,0.3);
}

.purpose {
  text-align: left;
}

.purpose .blurb {
  max-width: 360px;
  width: 30.769%;
  display: inline-block;
  vertical-align: top;
}

.purpose .blurb h3 {
  margin: 60px 0 29px 61px;
}

.purpose .blurb p {
  width: 100%;
  margin: -6px 0 0 30px;
  padding: 3px 0 25px 60px;
  font-size: 1em;
  font-weight: 400;
  background: url(../images/red-triangle.png) no-repeat;
  background-size: 12%;
  background-position: 5px -2px;
}

.purpose .blurb p#one {
  margin-left: -18px;
}

.purpose .blurb p#two {
  margin-left: -12px;
}

.purpose .blurb p#three {
  margin-left: -5px;
}

.love-action h1 {
  display: block;
  margin: 21px 0 -93px 39px;
}

.love-action .blurb {
  display: inline-block;
  max-width: 750px;
  width: 63%;
  margin: 0;
  padding: 2% 0;
  text-align: left;
}

.love-action .blurb p,.love-action .blurb h4 {
  color: #FFF;
}

.own-words-container {
  display: inline-block;
  width: 36%;
  margin: 87px 0 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}

.own-words-container #arrow {
  position: relative;
  right: -19px;
  bottom: -75px;
}

.own-words-container #own-words {
  position: relative;
  bottom: -77px;
  left: 26px;
}

.video-container {
  width: 100%;
  margin: 0;
  padding: 20px 0 230px;
  overflow-x: hidden;
  background: url(../images/love146-banner.jpg) no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: red;
  text-align: center;
}

.video-container .container {
  text-align: left;
}

.video-container .video1{
	width: 100%;
	max-width: 766px;
}

#rob-video {
  margin-top: 80px;
  max-width: 766px;
  width: 65.47%;
}

.polaroid {
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 510px;
  margin-top: -900px;
  overflow-x: hidden;
  z-index: 9999;
  text-align: right;
  pointer-events: none;
}

.polaroid #polaroid {
  position: relative;
  max-width: 507px;
  width: 43.333%;
  top: 360px;
  right: -39px;
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
  box-shadow: -34px 32px 45px rgba(0,0,0,0.4);
  vertical-align: top;
  z-index: 4000;
}

.red-arrow-down {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ed1a1d;
  text-align: center;
}

i.icon-chevron-down {
  margin: 0 auto;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.25;
  color: #f7cacb;
}

.success h3 {
  display: block;
  margin: 0;
  padding: 30px 0;
}

.success #success-arrows {
  display: inline-block;
  width: 25px;
  float: left;
  margin: 7px 20px 115px 0;
  padding: 2% 2.25% 2% 3%;
  background: #DD181B;
}

.success .blurb {
  display: inline-block;
  max-width: 560px;
  width: 48%;
  margin: 0 2% 0 0;
  padding: 0 0 40px;
  text-align: left;
  vertical-align: top;
}

.success .blurb p {
  display: inline;
}

.success .blurb:nth-child(odd) {
  margin-right: 0;
}

.success .blurb:nth-last-child(-n+2) {
  padding-bottom: 0;
}

.logos .container {
  max-width: 1030px;
  text-align: center;
}

.logos h5 {
  display: block;
  margin: 0;
  padding: 30px 0 0;
  text-transform: uppercase;
  text-align: center;
}

.logo-1,.logo-2,.logo-3,.logo-4,.logo-5 {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 25px 0;
  text-align: center;
  vertical-align: top;
}

.logo-1 img,.logo-2 img,.logo-3 img,.logo-4 img,.logo-5 img {
  width: 100%;
}

.logo-1 {
  float: left;
}

.logo-2 {
  margin-top: 105px;
  margin-left: -156px;
}

.logo-3 {
  margin-top: -30px;
  margin-left: -103px;
}

.logo-4 {
  float: left;
  margin-top: -124px;
}

.logo-5 {
  margin-top: -48px;
  margin-left: 180px;
}

.logo-final {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo-final img {
  width: 100%;
}

.logo-final h5 {
  margin-left: 61px;
  padding-bottom: 6px;
  text-align: left;
}

.new-identity .container {
  padding: 0;
}

.new-identity img {
  display: block;
  width: 100%;
}

h5#stationery-desktop {
  padding-left: 2.5%;
}

h5#donation-desktop {
  padding-right: 2.5%;
}

.full-width-heading.grey#stationery-mobile,.full-width-heading.grey#stationery-mobile,#book-concept-mobile {
  display: none;
}

.stationery,.donation-material {
  width: 60%;
}

.stationery {
  margin: 0;
  text-align: left;
}

.stationery h5 {
  margin-top: 25px;
}

.donation-material {
  margin-top: -230px;
  margin-left: 40%;
  text-align: right;
}

.donation-material h5 {
  margin-bottom: 25px;
}

.book-concept .container {
  padding: 3% 0;
}

.book-cover,.book-insides {
  position: relative;
  width: 100%;
}

.book-cover img,.book-insides img {
  max-width: 501px;
  width: 42%;
}

.book-cover {
  margin: 0 0 0 -42px;
  z-index: 4000;
  text-align: left;
}

.book-insides {
  margin: -144px 0 -4px 51px;
  text-align: right;
  z-index: 5000;
}

.book-insides h5 {
  position: absolute;
  display: block;
  right: 324px;
  top: -104px;
}

.book-insides img {
  margin-left: 11px;
}

.presentation {
  text-align: center;
}

.presentation img {
  width: 20%;
  max-width: 296px;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.patch {
  text-align: center;
}

.patch .blurb {
  position: relative;
  max-width: 478px;
  width: 44%;
  padding: 40px 0 0 187px;
  text-align: center;
}

.patch .blurb h5 {
  font-weight: 400;
}

.patch .blurb p {
  font-weight: 400;
  text-align: left;
}

.patch img {
  max-width: 1014px;
  width: 100%;
  margin: -166px 0 -4px;
  padding: 0;
}

.website {
  text-align: center;
}

.website h5 {
  display: block;
  padding-bottom: 35px;
}

.computer-monitor {
  width: 100%;
  margin: 0;
  padding: 0;
}

.computer-monitor img {
  width: 100%;
  max-width: 1239px;
  height: auto;
}

.slide-show {
  position: relative;
  max-width: 712px;
  width: 57.916667%;
  height: auto;
  margin: 0 auto;
  top: -592px;
  left: 50%;
  margin-left: -356px;
  padding: 0;
}

.annual-report {
  text-align: center;
  overflow: hidden;
}

.annual-report img {
  max-width: 1274px;
  width: 100%;
  margin: -42px auto -46px;
}

.annual-report h5 {
  position: relative;
  width: 230px;
  top: 45px;
  left: -26px;
  text-align: left;
}

.task-force .blurb {
  display: inline-block;
  width: 100%;
}

.task-force .blurb .text {
  display: inline-block;
  width: 60%;
  max-width: 177px;
  margin: 28px 0 0 -475px;
}

.task-force .blurb .text h5 {
  width: 400px;
  margin-left: -71px;
}

.task-force .blurb img {
  float: left;
  max-width: 467px;
  width: 39.915%;
}

#pins,#run {
  vertical-align: top;
}

#pins {
  max-width: 538px;
  width: 45.9829%;
  margin: -60px 30px 0 134px;
}

#run {
  max-width: 465px;
  width: 33.7436%;
  /* width: 39.7436%; */
  margin: -412px 0 0 3px;
}

.swag .container {
  margin-bottom: -3px;
}

.swag img {
  vertical-align: top;
  height: auto;
}

#bracelet-2 {
  max-width: 181px;
  width: 15.47%;
  margin: 7px 0 0 20px;
}

#bracelet-1 {
  max-width: 181px;
  width: 15.47%;
  margin: 45px 0 0 -260px;
}

#birds-shirt {
  max-width: 226px;
  width: 19.3162%;
  margin: 163px -23px 3px 19px;
}

#models-shirts {
  position: relative;
  max-width: 742px;
  width: 65%;
  padding-top: 3px;
  margin: -12px 0 0;
  right: -127px;
}

h5#swag {
  margin-left: -340px;
}

.flash-mob .container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3% 0 0;
  text-align: left;
}

.flash-mob h2,.flash-mob img {
  color: #FFF;
  font-weight: 400;
}

.flash-headline,.flash-arrow,.flash-video {
  width: 100%;
}

.flash-video .video2{
	width: 100%;
	max-width: 460px;
}


.flash-headline h2 {
  position: relative;
  top: 0;
  left: 8%;
}

.flash-arrow img {
  position: relative;
  top: 0;
  left: 34%;
}

.flash-video img {
  max-width: 460px;
  position: relative;
  margin-top: 2%;
  left: 0;
  box-shadow: 0 20px 70px rgba(0,0,0,0.6);
}

h5#youtube-stat {
  line-height: 2;
  padding-left: 290px;
  color: #333;
}

.personal-expression .container {
  padding: 0;
  max-width: 1300px;
}

.personal-expression img {
  vertical-align: top;
}

.personal-expression .blurb {
  position: relative;
  display: inline-block;
  width: 161px;
  margin: 11px 13px 0 -75px;
  text-align: left;
}

.personal-expression .blurb h5 {
  width: 244px;
  margin-left: -42px;
}

.girls-photos,.expression-photos {
  display: inline-block;
  vertical-align: top;
}

.girls-photos img,.expression-photos img {
  width: 100%;
  padding: 0;
}

.girls-photos {
  position: relative;
  max-width: 284px;
  width: 21.19658%;
  margin: 0 6px 0 0;
}

.girls-photos img {
  margin: 0;
}

.expression-photos {
  position: relative;
  max-width: 311px;
  width: 23.16%;
  margin: 0;
}

.expression-photos img {
  margin: 0 0 6px;
}

.expression-photos img:last-child {
  margin-bottom: 0;
}

#toms {
  position: relative;
  max-width: 615px;
  width: 52.735%;
  height: auto;
  margin: -47px 0 -67px -31px;
  text-align: left;
}

@media screen and (min-width: 941px) and (max-width: 1170px) {
  section.hero {
    background-position: 143%;
  }
  
  section.love-backdrop {
    padding: 8% 0 3%;
  }
  
  section.flash-mob {
    margin-bottom: -76px;
    background-position: 75% top;
  }
  
  section.flash-mob .container {
    padding: 3% 0;
  }
  
  section.personal-expression {
    padding: 0;
  }
  
  .container {
    width: 95%;
    max-width: 940px;
  }
  
  section.hero {
    margin-top: 0;
  }
  
  section.hero .container {
    padding: 223px 0;
  }
  
  #love146-logo {
    width: 59%;
    margin: 87px 0 0;
  }
  
  .love-backdrop .container {
    padding: 0 0 45px;
  }
  
  #jfc {
    margin: 52px 46px -73px -1px;
  }
  
  .purpose .blurb {
    width: 25%;
  }
  
  #mds{
	  width:27.863%;
	  margin-top:123px;
  }
  
  .purpose .blurb p {
    font-size: .85em;
    background-position: 22px -1px;
  }
  
  .purpose .blurb p#one {
    margin-left: -28px;
  }
  
  .purpose .blurb p#two {
    margin-left: -21px;
  }
  
  .purpose .blurb p#three {
    margin-left: -15px;
  }
  
  .love-action h1 {
    margin: 9px 0 -47px;
  }
  
  .love-action #own-words {
    width: 145px;
    left: 0;
    bottom: -65px;
    left: 0;
  }
  
  .love-action #arrow {
    right: -38px;
    bottom: -27px;
  }
  
  .love-action .blurb {
    margin: 0 0 0 5%;
  }
  
  .own-words-container {
    position: relative;
    width: 31%;
    margin: -111px 0 0;
    top: 199px;
  }
  
  .video-container {
    padding: 0 0 180px;
  }
  
  #rob-video {
    margin-top: 25px;
  }
  
  .polaroid {
    padding-bottom: 441px;
    margin-top: -723px;
  }
  
  .polaroid #polaroid {
    width: 37%;
    top: 268px;
  }
  
  .success i.icon-chevron-right {
    margin-bottom: 140px;
  }
  
  .logo-final {
    margin: 38px 0 0;
    padding-bottom: 2%;
  }
  
  .logo-final h5 {
    margin-left: 0;
  }
  
  .logo-final img {
    width: 100%;
  }
  
  .logo-5 {
    margin-left: 130px;
  }
  
  .donation-material h5 {
    width: 235px;
  }
  
  .book-cover {
    margin: 0 0 0 -24px;
  }
  
  .book-insides {
    margin: -116px 0 -4px 23px;
  }
  
  .book-insides h5 {
    right: 135px;
    top: -71px;
  }
  
  .book-insides img {
    margin-left: 5px;
  }
  
  .patch .blurb {
    padding: 40px 0 35px 187px;
    text-align: left;
  }
  
  .annual-report h5 {
    top: 20px;
    left: 4px;
  }
  
  .task-force .blurb .text {
    max-width: 215px;
    margin: 10px 0 0 27px;
    /* 
    max-width: 140px;
    margin: 10px 0 0 -392px; */
  }
  
  .task-force .blurb .text h5 {
    margin-left: -114px;
  }
  
  #pins {
    margin: -54px 0 0 94px;
  }
  
  #run {
    margin: -320px 0 0 96px;
    /* margin: -320px 0 0 33px; */
  }
  
  #birds-shirt {
    margin: 122px 40px 3px 19px;
  }
  
  #models-shirts {
    width: 63.4188%;
    margin: -12px 0 3px;
    right: -99px;
  }
  
  .flash-headline h2 {
    left: 0;
  }
  
  .flash-video {
    text-align: left;
  }
  
  .flash-arrow img {
    max-width: 55px;
    margin-top: -2%;
    margin-bottom: -1%;
    left: 0;
  }
  
  h5#youtube-stat {
    padding-left: 370px;
  }
  
  #toms {
    width: 45.735%;
    margin: -47px 0 -67px -96px;
    padding: 3% 0 0;
  }
  
  .personal-expression .blurb {
    width: 16%;
    margin: 30px 6px 0 -32px;
    /* margin: 30px 32px 0 -50px; */
  }
  
  .personal-expression .blurb h5 {
    width: 175px;
    /* width: 200px; */
    margin-left: 0;
  }
  
  .girls-photos {
    width: 23.19658%;
  }
  
  .expression-photos {
    width: 25.4%;
  }

}

@media screen and (max-width: 940px) {
  .new-identity {
    padding: 0;
  }
  
  .full-width-heading.grey#stationery-mobile,.full-width-heading.grey#stationery-mobile {
    display: block;
  }
  
  h5#stationery-desktop,h5#donation-desktop {
    display: none;
  }
  
  .stationery,.donation-material {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  
  .stationery img,.donation-material img {
    width: 100%;
  }
  
  section.book-concept {
    padding: 5%;
  }
  
  .container#book-concept-desktop {
    display: none;
  }
  
  #book-concept-mobile {
    display: block;
  }
  
  #book-concept-mobile img {
    width: 100%;
    max-width: 500px;
  }
  
  .concept-title {
    width: 100%;
    padding: 0 0 3%;
    text-align: center;
  }

}

@media screen and (min-width: 940px) and (max-width: 1493px) {
	
	 .purpose .blurb {
    max-width: 239px;
  }

	
}

@media screen and (min-width: 769px) and (max-width: 940px) {
  .container,.logos .container {
    max-width: 940px;
    width: 95%;
    margin: 0 auto;
  }
  
  section.hero {
    margin-top: 0;
    padding: 26% 0;
    background-size: 23em;
  }
  
  section.hero .container {
    margin: -1% 0 -4% -14%;
    padding: 0;
  }
  
  section.section {
    background-position: 77% top;
    background-size: 150%;
  }
  
  section.purpose {
    background-position: 70% top;
    background-size: 145%;
  }
  
  section.flash-mob {
    margin-bottom: 0;
  }
  
  .hero #love146-logo {
    width: 53%;
    margin: -46px 0 -61px 175px;
  }
  
  .love-backdrop .container {
    padding: 0;
  }
  
  #jfc {
    margin: 0 46px 0 0;
  }
  
  .purpose .blurb {
    max-width: 200px;
  }
  
  .purpose .blurb p {
    margin: -4px 0 0 30px;
    padding: 3px 0 6px 75px;
    font-size: .9em;
    background-position: 28px 3px;
  }
  
  .purpose .blurb p#one {
    margin-left: -36px;
  }
  
  .purpose .blurb p#two {
    margin-left: -30px;
  }
  
  .purpose .blurb p#three {
    margin-left: -24px;
  }
  
  .purpose .blurb h3 {
    margin: 20px 0 10px 61px;
  }
  
  #mds {
    margin-top: 8px;
  }
  
  .love-action h1 {
    margin: 21px 0 -93px;
  }
  
  .love-action .blurb {
    padding: 7% 0 2%;
  }
  
  .own-words-container {
    margin: 3% 0 -26%;
  }
  
  .own-words-container #own-words {
    width: 54%;
    bottom: -114px;
    left: 47px;
  }
  
  .own-words-container #arrow {
    width: 35%;
    right: -20px;
    bottom: -158px;
  }
  
  .video-container {
    padding: 0 0 40px;
  }
  
  .video-container .container {
    text-align: center;
  }
  
  #rob-video {
    margin-top: 35px;
  }
  
  .polaroid {
    display: none;
  }
  
  .success i.icon-chevron-right {
    width: 40px;
    margin: 4px 20px 115px 0;
    font-size: 1.6em;
  }
  
  .logo-1 {
    float: none;
  }
  
  .logo-2 {
    margin: 35px 0 0 5px;
  }
  
  .logo-3 {
    margin: 0;
  }
  
  .logo-4 {
    float: none;
    margin-top: -72px;
  }
  
  .logo-5 {
    margin-top: -48px;
    margin-left: 180px;
  }
  
  .logo-final {
    margin: -30px 0 0;
    padding: 0 0 30px;
  }
  
  .logo-final h5 {
    margin-left: 0;
    padding-bottom: 0;
  }
  
  .patch .blurb {
    padding: 20px 0 49px 116px;
  }
  
  .annual-report h5 {
    top: 10px;
    left: 21px;
  }
  
  section.task-force .container {
    padding-bottom: 5%;
  }
  
  section.task-force .blurb {
    display: block;
    width: 56%;
    padding: 0 0 1%;
    text-align: left;
    margin: 0 auto;
  }
  
  section.task-force .blurb img {
    float: none;
    width: 45%;
    margin: 0 4% 0 0;
  }
  
  section.task-force .blurb .text {
    width: 51%;
    max-width: 100%;
    margin: 10% 0 0;
    vertical-align: top;
  }
  
  section.task-force .blurb .text h5 {
    width: auto;
    display: block;
    margin-left: 0;
  }
  
  #pins,#run {
    display: inline-block;
    margin: 0;
  }
  
  #pins {
    width: 53%;
  }
  
  #run {
    width: 29.6%;
  }
  
  h5#swag {
    margin-left: 0;
  }
  
  #models-shirts {
    width: 70.4188%;
    margin: -12px 0 3px;
    right: -126px;
  }
  
  #birds-shirt {
    margin: 152px 25px 3px 30px;
  }
  
  .flash-arrow {
    text-align: right;
    margin-top: -35px;
    margin-left: -139px;
  }
  
  .flash-arrow img {
    max-width: 87px;
    margin: 0;
    left: 0;
  }
  
  .flash-headline h2 {
    left: 0;
  }
  
  .flash-arrow img {
    display: none;
  }
  
  .flash-video {
    margin-top: 6%;
    padding-bottom: 5%;
  }
  
  .flash-video img {
    margin: 0;
    left: 0;
  }
  
  h5#youtube-stat {
    padding-left: 0;
  }
  
  .personal-expression .blurb {
    margin: 0 2% 0 -10%;
    width: 20%;
  }
  
  .personal-expression .blurb h5 {
    width: auto;
    margin-left: 0;
  }
  
  #toms {
    width: 40%;
    margin: 0 7% 0 -7%;
  }
  
  .expression-photos {
    width: 22.95%;
  }

}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 768px;
  }
  
  section.hero {
    margin-top: 0;
    background-position: right 71%;
    background-size: 20em;
  }
  
  section.purpose {
    background-position: 30% 10%;
  }
  
  section.flash-mob {
    margin-bottom: 0;
  }
  
  .hero .container {
    padding: 100px 0;
  }
  
  #love146-logo {
    width: 47%;
    margin: 0 0 0 -33%;
  }
  
  #jfc {
    margin: 0 auto;
    width: 70%;
    display:block;
  }
  
  .love-backdrop .container {
    padding: 7% 0;
  }
  
  .love-backdrop .blurb {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .purpose .container {
    text-align: center;
  }
  
  .purpose .blurb {
    width: 80%;
    max-width: 100%;
    padding-bottom: 8%;
    text-align: center;
  }
  
  .purpose .blurb h3 {
    margin: 10% auto 5%;
  }
  
  .purpose .blurb p {
    width: 100%;
    margin: 0 auto;
    padding: 2% 5%;
    text-align: left;
    background: url(../images/small-red-triangle.png) no-repeat;
    background-position: 0 13px;
  }
  
  .purpose .blurb p#one {
    margin: 0;
  }
  
  .purpose .blurb p#two {
    margin: 0;
  }
  
  .purpose .blurb p#three {
    margin: 0;
  }
  
  #mds {
    width: 50%;
  }
  
  .own-words-container {
    display: none;
  }
  
  .love-action .blurb {
    width: 100%;
  }
  
  .polaroid {
    display: none;
  }
  
  .video-container {
    padding: 9% 0;
    margin: 0;
  }
  
  #rob-video {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .success .blurb {
    width: 100%;
    margin: 0;
    padding: 0 0 4%;
  }
  
  .success .blurb:last-child {
    padding: 0;
  }
  
  .success #success-arrows {
    margin: 7px 20px 58px 0;
  }
  
  .success .blurb:nth-last-child(-n+2) {
    padding-bottom: 4%;
  }
  
  .logo-1 {
    float: none;
    margin: 0;
  }
  
  .logo-2 {
    margin: 20px 0 0;
  }
  
  .logo-3 {
    margin: 0;
  }
  
  .logo-4 {
    float: none;
    margin: -10% 22% 0 -3%;
  }
  
  .logo-5 {
    margin: -6% 0 0;
  }
  
  .logo-final {
    margin: -30px 0 0;
    padding: 0 0 30px;
  }
  
  .logo-final h5 {
    margin-left: 0;
    padding-bottom: 0;
  }
  
  #stationery-desktop,#donation-desktop {
    display: none;
  }
  
  #stationery-mobile,#donation-mobile {
    display: visible;
  }
  
  .stationery,.donation-material {
    width: 100%;
  }
  
  .stationery img,.donation-material img {
    width: 100%;
  }
  
  .donation-material {
    margin: 0;
  }
  
  #book-concept-desktop {
    display: none;
  }
  
  #book-concept-mobile {
    display: block;
    margin: 0 0 -4px;
    text-align: center;
  }
  
  #book-concept-mobile img {
    width: 100%;
  }
  
  .concept-title {
    padding: 3% 0 5%;
  }
  
  .book-cover,.book-insides {
    width: 100%;
    margin: 0;
  }
  
  .book-cover img,.book-insides img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .presentation img {
    width: 50%;
  }
  
  .patch {
    overflow: hidden;
  }
  
  .patch img {
    margin: -10% 0 0;
    width: 100%;
  }
  
  .patch .blurb {
    width: 100%;
    padding: 7% 0 0;
    text-align: left;
  }
  
  .annual-report {
    overflow: hidden;
  }
  
  .annual-report h5 {
    width: 29%;
    top: 133px;
    left: -21%;
  }
  
  .annual-report img {
    margin: -39px 0 -15% 40%;
    width: 161%;
  }
  
  .task-force .blurb{
 }
  
  .task-force .blurb img {
    float: none;
    display: block;
    margin: 0 auto 2%;
  }
  
  .task-force .blurb .text {
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  
  .task-force .blurb .text h5 {
    width: 90%;
    margin: 0 auto;
  }
  
  #pins,#run {
    margin: 0;
  }
  
  #pins {
    width: 64%;
  }
  
  #run {
    width: 35.8%;
  }
  
  .swag {
    text-align: center;
    padding: 0 9% 0;
  }
  
  h5#swag {
    margin: 0;
  }
  
  #birds-shirt,#bracelet-1,#bracelet-2 {
    display: none;
  }
  
  #models-shirts {
    width: 80%;
    margin: -1% 0 0;
    right: 0;
    vertical-align: bottom;
  }
  
  .flash-mob .container {
    padding: 3% 0;
  }
  
  .flash-arrow {
    display: none;
  }
  
  .flash-headline {
    text-transform: uppercase;
    width: 100%;
  }
  
  .flash-headline h2 {
    left: 0;
  }
  
  .flash-video {
    text-align: center;
  }
  
  .flash-video img {
    width: 70%;
    margin: 0 auto;
  }
  
  h5#youtube-stat {
    padding: 2% 0;
  }
  
  #toms {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .personal-expression .container {
    padding-top: 6%;
  }
  
  .personal-expression .blurb {
    width: 58%;
    margin: 0;
  }
  
  .personal-expression .blurb h5 {
    margin-left: 0;
  }
  
  .expression-photos {
    display: none;
  }
  
  .girls-photos {
    width: 50%;
    margin: -56% 0 0;
    /* margin: -75% 0 0; */
	float: right;
  }
  
  #footer-nav {
    display: none;
  }

}


@media screen and (max-width: 765px) {


  .girls-photos {
    width: 36%;
    margin: -53% 0 0;
    /* margin: -75% 0 0; */
	float: right;
  }
  }

@media screen and (max-width: 570px) {


  .girls-photos {
    width: 36%;
    margin: -53% 0 0;
    /* margin: -75% 0 0; */
	float: right;
  }
  }

@media screen and (max-width: 480px) {
  .secondary-nav .previous,.secondary-nav .next {
    margin: 0;
  }
  
  section.hero {
    background-position: right bottom;
    background-size: 13em;
  }
  
  section #love146-logo {
    width: 60%;
    margin: -4% 0 0 0;
  }
  
  .purpose .blurb p {
    padding: 2% 7%;
    background-position: 0 16px;
  }
  
  .success #success-arrows {
    margin: 5px 10px 0 0;
  }
  
  section.personal-expression {
    padding: 3% 0;
  }
  
  section.personal-expression #toms {
    margin: 0 auto;
  }
  
  section.personal-expression .blurb {
    width: 100%;
  }
  
  section.personal-expression .girls-photos {
    margin: 0;
    width: 47.55%;
  }
  
  section.personal-expression .expression-photos {
    display: inline-block;
    width: 52%;
  }

}

@media screen and (max-width: 320px) {
  .container {
    width: 90%;
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
  }
  
  .secondary-nav img#arrow-left,.secondary-nav img#arrow-right {
    max-width: 20px;
  }
  
  section.hero {
    background-size: 9em;
    background-position: center bottom;
  }
  
  section #love146-logo {
    width: 80%;
    margin: -26% 0 24% 25px;
  }
  
  #jfc {
    width: 100%;
  }
  
  section.love-backdrop .blurb p {
    text-align: left;
  }
  
  section.purpose .blurb {
    width: 85%;
  }
  
  section.purpose .blurb p {
    font-size: 1.05em;
    background-size: 3.5%;
    background-position: 0 14px;
  }

  section.personal-expression .girls-photos, section.personal-expression .expression-photos {
    width: 100%;
    margin: 0 0 3% 0;
  }

}