section:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

section {
  display: inline-block; }

* html section {
  height: 1%; }

section {
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

section {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.rage .secondary-nav-top {
  position: absolute; }

#wrapper > img {
  width: 90%;
  margin: 0 5%; }
  #wrapper > img#photo-books {
    width: 100%;
    max-width: 1365px;
    margin: 0 auto; }

.full-width, .content, .backdrop {
  max-width: 970px;
  background: none; }

.two-columns {
  -moz-column-count: 2;
  -moz-column-gap: 35px;
  -webkit-column-count: 2;
  -webkit-column-gap: 35px; }

.col {
  color: #333;
  font-weight: 300;
  line-height: 29px; }
  .col img {
    width: 100%; }
  @media screen and (max-width: 480px) {
    .col li {
      font-size: 15px;
      line-height: 1.4; } }

.col2 .col {
  float: left;
  width: 48%;
  margin-right: 4%; }
  .col2 .col:nth-child(2n+0) {
    margin-right: 0; }
  @media screen and (max-width: 767px) {
    .col2 .col {
      width: 100%;
      float: none;
      margin-right: 0; }
      .col2 .col:nth-child(2n+0) {
        margin-top: 1em; } }

.content {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  color: #333333; }

p {
  color: #333333;
  font-weight: 300;
  line-height: 25px;
  text-align: left; }
  @media screen and (max-width: 480px) {
    p {
      font-size: 15px;
      line-height: 1.4; } }
  p.caps {
    width: 1000px;
    margin: 0 auto;
    text-transform: uppercase; }
    @media screen and (max-width: 880px) {
      p.caps {
        font-size: .75em;
        line-height: 1; } }

.rage-hero {
  position: relative;
  margin-top: 78px;
  padding: 0;
  height: 725px;
  background: url("../images/rage/rage-hero.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center 70%; }
  @media screen and (max-width: 1180px) {
    .rage-hero {
      height: 595px; } }
  @media screen and (max-width: 1024px) {
    .rage-hero {
      height: 425px; } }
  @media screen and (max-width: 768px) {
    .rage-hero {
      height: 345px; } }
  @media screen and (max-width: 580px) {
    .rage-hero {
      height: 250px; } }
  @media screen and (max-width: 480px) {
    .rage-hero {
      height: 200px; } }
  @media screen and (max-width: 320px) {
    .rage-hero {
      height: 180px; } }

.backdrop {
  margin: 60px auto 0 auto; }
  @media screen and (max-width: 880px) {
    .backdrop {
      margin: 30px auto 0 auto; } }
  .backdrop .content h3 {
    color: #333;
    text-align: center; }
  .backdrop .column ul {
    list-style: none; }
  .backdrop img {
    float: right;
    max-width: 637px;
    width: 73%;
    margin: -340px -180px -90px 0; }
    @media screen and (max-width: 880px) {
      .backdrop img {
        width: 60%;
        margin: -50px -100px -90px 0; } }
    @media screen and (max-width: 767px) {
      .backdrop img {
        display: block;
        margin: 0 auto;
        float: none; } }

.orange {
  position: relative;
  margin: -50px auto 0 auto;
  background: #f6821f url(../images/rage/eagle.png) no-repeat -140px -288px;
  background-size: 904px auto;
  overflow: hidden;
  text-align: right; }
  .orange .full-width, .orange .content, .orange .backdrop {
    text-align: right; }
  .orange .content {
    padding: 60px 0px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .orange .video-container {
    display: inline-block;
    max-width: 560px;
    width: 57.7%;
    padding-top: 0;
    padding-bottom: 30.25%; }
  @media screen and (max-width: 767px) {
    .orange {
      margin: -30px auto 0 auto; }
      .orange .video-container {
        width: 100%;
        max-width: 100%;
        padding-bottom: 54.25%; } }

.dum {
  margin: 0 auto;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .dum .col:nth-child(1) {
    width: 58.7%; }
    .dum .col:nth-child(1) img {
      max-width: 569px; }
  .dum .col:nth-child(2) {
    width: 37.3%; }
    .dum .col:nth-child(2) img {
      max-width: 169px; }
  @media screen and (max-width: 880px) {
    .dum {
      padding-bottom: 20px; }
      .dum .col:nth-child(1) {
        width: 100%; }
        .dum .col:nth-child(1) img {
          max-width: 100%;
          margin-bottom: 1em; }
      .dum .col:nth-child(2) {
        width: 100%; }
        .dum .col:nth-child(2) img {
          float: left;
          margin-right: 1em; } }
  @media screen and (max-width: 480px) {
    .dum .col:nth-child(2) img {
      max-width: 100px;
      margin-right: 1.5%; } }

.viralmentalist {
  margin: -30px auto 0px auto; }
  .viralmentalist .col:nth-child(1) {
    width: 41%; }
  .viralmentalist .col:nth-child(2) {
    width: 55%; }
    .viralmentalist .col:nth-child(2) img {
      max-width: 529px; }
  @media screen and (max-width: 767px) {
    .viralmentalist {
      margin: 0 auto; }
      .viralmentalist .col:nth-child(1) {
        width: 100%; }
      .viralmentalist .col:nth-child(2) {
        width: 100%; }
      .viralmentalist .col:nth-child(2) img {
        max-width: 100%; } }

#viraphotos, #fnrphotos, #toolphotos {
  overflow: hidden;
  margin: 1em auto 76px auto;
  max-width: 1170px; }
  @media screen and (max-width: 767px) {
    #viraphotos, #fnrphotos, #toolphotos {
      margin-bottom: 20px; } }

.leadership .col:nth-child(1) {
  width: 40.1%; }
.leadership .col:nth-child(2) {
  width: 55.9%; }
.leadership .content > img {
  width: 100%;
  margin-top: 1em; }
@media screen and (max-width: 767px) {
  .leadership .col:nth-child(1) {
    width: 100%; }
  .leadership .col:nth-child(2) {
    width: 100%; } }

.purple {
  margin: 4em auto 1em auto;
  background: #b4b6ce; }
  @media screen and (max-width: 1000px) {
    .purple {
      margin-bottom: 4em; } }
  .purple > img {
    width: 90%;
    max-width: 891px;
    margin: -20px auto -60px auto; }
    @media screen and (max-width: 480px) {
      .purple > img {
        width: 80%;
        margin: -20px auto; } }

.couch h3 {
  text-align: right; }
  @media screen and (max-width: 1000px) {
    .couch h3 {
      text-align: center; } }
.couch .col:first-of-type {
  width: 42%;
  margin-right: 4%;
  text-align: right; }
  .couch .col:first-of-type img {
    max-width: 297px; }
.couch .col:last-of-type {
  width: 54%;
  margin-right: 0%; }
.couch .photos {
  margin-top: 50px; }
.couch .photos > img {
  float: left;
  max-width: 477px;
  width: 49.1%;
  margin-right: 0.8%;
  margin-bottom: 0.8%; }
  .couch .photos > img:nth-child(even) {
    margin-right: 0px; }
@media screen and (max-width: 767px) {
  .couch .col:first-of-type {
    width: 100%;
    margin-bottom: 1em;
    text-align: center; }
  .couch .col:last-of-type {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .couch .photos > img {
    width: 100%; } }

.rage-on-road {
  margin: 2em 0; }
  .rage-on-road img {
    width: 100%; }
    .rage-on-road img.trailers {
      max-width: 1264px; }
    .rage-on-road img.myrtle {
      max-width: 1017px; }
  .rage-on-road .photos {
    width: 90%;
    max-width: 1170px;
    margin: 2em auto 0em auto; }
    .rage-on-road .photos img {
      float: left;
      width: 49%;
      max-width: 578px;
      margin-right: 2%; }
      .rage-on-road .photos img:nth-child(even) {
        margin-right: 0; }
  .rage-on-road .content {
    max-width: 1140px;
    margin-top: 2em; }
  .rage-on-road .rageville {
    width: 26%;
    max-width: 300px;
    margin-top: -70px;
    margin-right: -60px; }
  .rage-on-road .ragefest {
    width: 46%;
    max-width: 523px; }
  .rage-on-road .outrageous {
    width: 32%;
    max-width: 365px; }
  @media screen and (max-width: 480px) {
    .rage-on-road .photos {
      margin-top: 1em;
      margin-bottom: 1em; }
      .rage-on-road .photos img {
        width: 100%;
        margin-bottom: .8%; }
    .rage-on-road .content {
      margin-top: 0em; }
    .rage-on-road .rageville, .rage-on-road .ragefest, .rage-on-road .outrageous {
      float: none;
      display: block;
      width: 90%;
      max-width: 320px;
      margin: 0 auto 1em auto; }
    .rage-on-road .rageville {
      margin: 0 auto;
      margin-top: 0px;
      margin-right: auto; } }

.fnr {
  margin: 3em auto 2em auto;
  text-align: center; }
  .fnr img {
    width: 100%; }

.night-rage .col:nth-child(1) {
  width: 58.2%; }
.night-rage .col:nth-child(2) {
  width: 37.8%; }
.night-rage .content > section {
  margin-top: 2em; }
  .night-rage .content > section > img {
    width: 48.7%;
    max-width: 473px; }
@media screen and (max-width: 880px) {
  .night-rage .col:nth-child(1), .night-rage .col:nth-child(2) {
    width: 100%; }
  .night-rage .col:nth-child(1) {
    margin-bottom: 1em; }
  .night-rage .content > section {
    margin-top: 1em; }
    .night-rage .content > section > img {
      width: 90%;
      max-width: 473px;
      margin: 0 auto;
      float: none; } }

.rf2011 {
  padding: 80px 0;
  background: #9eb4b3; }
  .rf2011 .col:nth-child(1) {
    width: 49.6%;
    margin-right: 0; }
    .rf2011 .col:nth-child(1) img {
      max-width: 569px;
      border-top: 24px solid #9eb4b3; }
  .rf2011 .col:nth-child(2) {
    width: 50.4%;
    text-align: right; }
    .rf2011 .col:nth-child(2) img {
      max-width: 478px;
      border: 14px solid #3d332a; }
    .rf2011 .col:nth-child(2) h3 {
      margin-right: -31px;
      line-height: 1.4; }
  @media screen and (max-width: 767px) {
    .rf2011 {
      padding: 20px 0; }
      .rf2011 .col:nth-child(1) {
        width: 100%;
        margin-right: 0; }
        .rf2011 .col:nth-child(1) img {
          border-top: 0;
          margin: 0 auto;
          float: none; }
      .rf2011 .col:nth-child(2) {
        width: 100%;
        text-align: center; }
        .rf2011 .col:nth-child(2) img {
          float: none;
          border: 7px solid #3d332a;
          margin: 0 auto; }
        .rf2011 .col:nth-child(2) h3 {
          display: block;
          margin-right: auto; } }

.curriculum {
  margin: 40px auto; }
  .curriculum p {
    text-align: justify; }
  .curriculum h3 {
    text-align: left; }
  .curriculum .col img {
    max-width: 481px; }
  .curriculum .col:nth-child(1) {
    width: 50%;
    margin-right: 1.5%; }
    .curriculum .col:nth-child(1) img:first-of-type {
      width: 135%;
      max-width: 655px;
      margin-top: -50px;
      margin-bottom: -75px;
      margin-left: -87px; }
      @media screen and (max-width: 1000px) {
        .curriculum .col:nth-child(1) img:first-of-type {
          margin-top: -17px;
          margin-bottom: -45px; } }
  .curriculum .col:nth-child(2) {
    width: 48.5%;
    margin-top: 62px; }
    .curriculum .col:nth-child(2) img {
      width: 105%; }
  .curriculum .posters {
    margin-top: 20px; }
    .curriculum .posters img {
      float: left;
      width: 24.4%;
      max-width: 237px;
      margin-right: .8%; }
      .curriculum .posters img:last-of-type {
        margin-right: 0; }
  @media screen and (max-width: 767px) {
    .curriculum .col:nth-child(1), .curriculum .col:nth-child(2) {
      width: 100%; }
    .curriculum .col:nth-child(1) img:first-of-type {
      width: 70%;
      margin: 0 auto; }
    .curriculum .col img.spread {
      width: 49%;
      float: left;
      margin-right: 2%;
      margin-bottom: 2%; }
      .curriculum .col img.spread:nth-child(even) {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .curriculum .posters img {
      float: left;
      width: 49%;
      max-width: 49%;
      margin-right: 2%;
      margin-bottom: 2%; }
      .curriculum .posters img:last-of-type, .curriculum .posters img:nth-child(even) {
        margin-right: 0; } }

.tool .content > img {
  width: 100%;
  max-width: 969px;
  margin-top: 40px; }

.buttons {
  margin-top: -2.5em; }
  @media screen and (min-width: 1440px) {
    .buttons {
      margin-top: -5em; } }
  @media screen and (max-width: 480px) {
    .buttons {
      margin-top: -1.5em; } }
  .buttons img {
    width: 100%; }

.effie {
  margin: 60px auto 0 auto; }
  .effie .content {
    text-align: center; }
    .effie .content h3, .effie .content p {
      text-align: center; }
    .effie .content img {
      width: 100%;
      max-width: 816px;
      margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .effie {
      margin-top: 20px; } }

h1 {
  font-size: 2.2em;
  color: white;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 25px; }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.7em; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.4em;
      padding-bottom: 15px; } }

.white {
  color: #fff; }

h4 {
  margin: 1.15% 0;
  font-size: 1.3em;
  font-weight: 500; }

h5 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400; }

.rage #viraphotos .slideshow .slide, .rage #fnrphotos .slideshow .slide, .rage #toolphotos .slideshow .slide {
  width: 970px;
  max-width: 970px;
  left: 50%;
  margin-left: -485px;
  padding: 0; }
  @media screen and (max-width: 1000px) {
    .rage #viraphotos .slideshow .slide, .rage #fnrphotos .slideshow .slide, .rage #toolphotos .slideshow .slide {
      width: 768px;
      margin-left: -384px; } }
  @media screen and (max-width: 768px) {
    .rage #viraphotos .slideshow .slide, .rage #fnrphotos .slideshow .slide, .rage #toolphotos .slideshow .slide {
      width: 100%;
      left: 0;
      margin-left: auto; } }
  .rage #viraphotos .slideshow .slide img, .rage #fnrphotos .slideshow .slide img, .rage #toolphotos .slideshow .slide img {
    width: 100%; }
.rage .btn-next {
  float: right; }
.rage .btn-prev {
  float: left; }
@media screen and (max-width: 1199px) {
  .rage .btn-next {
    right: 0; }
  .rage .btn-prev {
    left: 0; } }
.rage #toolphotos {
  margin-bottom: 40px; }
  .rage #toolphotos .btn-next, .rage #toolphotos .btn-prev {
    margin-top: -22px; }
