.slideshow {position: relative;}
.slideshow .slide {
	top:0;
	left:0;
	position: absolute;
	z-index: 1;
	padding:0 13%;
}
.slideshow .slide.active {z-index: 2;}
.slideshow .slide  blockquote{
	margin:0;
	padding:0;
	color:#00aacb;
	font-style:italic;
}
.slideshow .slide  blockquote q{
	quotes:none;
	font:italic bold 34px/57px Georgia, "Times New Roman", Times, serif;
	display:block;
	margin:0 0 23px;
}
.slideshow .slide  blockquote cite{
	float:right;
	font:italic 20px/28px Georgia, "Times New Roman", Times, serif;
	margin:0 63px 0 0;
}
.btn-next,.btn-prev{
	position:absolute;
	top:50%;
	margin:-62px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	background:url("../../images/btn-slider.png") no-repeat;
	width:34px;
	height:44px;
	z-index:100;
}
.btn-next{
	background-position:0 100%;
	right:0;
}
.btn-prev{
	background-position:0 0;
	left:0;
}
.cycle-gallery .slideset{
	float:left;
	width:99999px;
}
#gallery .slideset {
	height:100%;
	min-height:400px;
}
.cycle-gallery .slide{
	position:relative;
	width:1500px;
	overflow:hidden;
}
#gallery .slide {
	height:100%;
	min-height:400px;
}
.cycle-gallery .txt{
	height:100%;
	left:50%;
	/* margin:0 0 0 -585px; */
	margin: 46px 0 0 -591px;
	position:absolute;
	top:291px;
	width:1170px;
}
.cycle-gallery .txt .holder{
	display:table;
	height:100%;
	width:100%;
}
.cycle-gallery .txt .frame{
	display:table-cell;
	vertical-align:middle;
}
.cycle-gallery .txt .title{
	color:#fff;
	display:block;
	font-size:65px;
	font-weight: 500;
	letter-spacing:-1px;	
	line-height:75px;
	margin:0 0 17px;
	text-transform:uppercase;

}
.cycle-gallery .button{
	background:#0bb7cf;
	color:#fff;
	display:inline-block;
	font:italic 28px/30px Georgia, serif;
	padding:25px 51px 24px 50px;	
	vertical-align:top;
}

.cycle-gallery a.button:hover{
	background:#058eb3;
	text-decoration: none;
}

.cycle-gallery .pagination{
	bottom:0;
	left:0;
	font-size:0;	line-height:0;
	position:absolute;
	right:0;
	text-align:center;
	z-index:2;
}
.cycle-gallery .pagination ul{
	list-style:none;
	margin:0;
	padding:0;
}
.cycle-gallery .pagination li{
	display:inline-block;
	margin:0 0 0 1px;
	text-align:left;
	vertical-align:top;
}
.cycle-gallery .pagination a{
	background:rgba(255, 255, 255, 0.5);
	display:block;
	height:28px;
	overflow:hidden;
	text-indent:-9999px;
	width:28px;
}
.cycle-gallery .pagination a:hover,
.cycle-gallery .pagination .active a{background:rgba(255, 255, 255, 0.8);}
.cycle-gallery .slide img{
	display:block;
	width:100%;
}
.cycle-gallery .btn-prev,
.cycle-gallery .btn-next{
	background:url(../images/sprite.png) no-repeat;
	height:44px;
	left:64px;
	margin:-22px 0 0;
	position:absolute;
	top:50%;
	width:31px;
}
.cycle-gallery .btn-next{
	background-position:0 -50px;
	left:auto;
	right:64px;
}