section.tinker-hero {
  padding: 20% 0;
  background: url(../images/tinkernation/tinker-hero.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
}

section.image-description {
  padding: 0 9% 5%;
  text-align: left;
}

section.image-description.tinker-purpose {
  background: #7e878a;
  color: #FFF;
}

section.image-description.tinker-purpose .blurb {
  margin: -1% 0 -4% 6%;
  padding: 4% 0 0;
}

section.image-description.tinker-purpose .blurb h3 {
  color: #FFF;
}

section.image-description.tinker-action {
  clear: both;
  padding-top: 2%;
}

section.image-description.tinker-action .blurb {
  margin: 0;
}

section.image-description #cans {
  max-width: 386px;
  width: 33%;
  margin: 1% 0 0 12%;
}

section.image-description #rag {
  float: right;
  max-width: 544px;
  width: 46%;
  margin: -5% 0 0;
}

section.image-description #plaque {
  max-width: 408px;
  width: 34%;
  margin: 0 6% 0 8%;
}

section.image-description .blurb {
  display: inline-block;
  margin: 4% 0 0 6%;
  max-width: 555px;
  width: 46%;
  text-align: center;
  vertical-align: top;
}

section.image-description .blurb p {
  text-align: left;
}

section.image-description .blurb h3 {
  margin: 0;
}

section.tinker-success {
  padding: 5% 9%;
  background: #fab829;
}

section.tinker-success h3 {
  display: block;
  margin: 0;
  padding: 0 0 5%;
  text-align: center;
}

section.tinker-success .blurb {
  display: inline-block;
  max-width: 560px;
  width: 48%;
  margin: 0 2% 0 0;
  padding: 0 0 40px;
  text-align: left;
  vertical-align: top;
}

section.tinker-success .blurb p {
  display: inline;
}

section.tinker-success #success-arrows {
  display: inline-block;
  width: 25px;
  float: left;
  margin: 7px 20px 90px 0;
  padding: 2% 2.25% 2% 3%;
  background: #000;
}

section.tinker-success .blurb:nth-child(odd) {
  margin-right: 0;
}

section.tinker-success .blurb:nth-last-child(-n+2) {
  padding-bottom: 0;
}

section.community-graphics {
  padding: 5% 21% 0;
}

section.community-graphics h5 {
  display: block;
  margin-bottom: 2%;
  text-align: left;
}

section.community-graphics h5#palm-card {
  margin: 5% 0 2%;
}

section.community-graphics img {
  width: 49%;
  max-width: 403px;
  margin: 0 1% 2%;
}

section.community-graphics img:nth-child(even) {
  margin-left: 0;
}

section.community-graphics img:nth-child(odd) {
  margin-right: 0;
}

section.palm-cards {
  background: #e0ded1;
  text-align: center;
}

section.palm-cards img {
  width: 60%;
  max-width: 870px;
  margin: -5% auto 0;
}

section.tinker-stickers {
  padding: 0 9% 5%;
  text-align: center;
}

section.tinker-stickers h5 {
  display: block;
  padding: 3% 0;
}

section.tinker-stickers #hands-sticker {
  width: 35%;
  max-width: 418px;
  margin: 0 6% 0 0;
}

section.tinker-stickers .sticker-colors {
  display: inline-block;
  width: 51%;
  max-width: 600px;
  text-align: center;
  line-height: .3;
  vertical-align: top;
}

section.tinker-stickers .sticker-colors img {
  width: 23%;
  max-width: 139px;
  margin: 0 1.5% -1% 0;
}

section.tinker-stickers .sticker-colors img:nth-child(-n+3) {
  margin-right: 3%;
}

section.tinker-mat {
  padding: 0 13.7%;
  text-align: left;
}

section.tinker-mat h5 {
  padding-left: 10%;
  padding-bottom: 3%;
}

section.tinker-mat h5#tinker-thermos {
  position: relative;
  margin: 5% 0 0 4%;
  z-index: 5000;
}

section.tinker-mat img {
  width: 100%;
  max-width: 1050px;
  margin: -1% auto 0;
}

section.tinker-mat img#thermos {
  position: relative;
  width: 112%;
  max-width: 1179px;
  margin: -12% 0 0 -6%;
  z-index: 1000;
}

section.tinker-things {
  margin-bottom: -4px;
  padding: 0 0 0 5%;
  text-align: right;
}

section.tinker-things #notebook {
  max-width: 548px;
  width: 38%;
  margin: 0;
}

section.tinker-things #usb {
  max-width: 352px;
  width: 22%;
  margin: 0;
}

section.tinker-things #towels {
  max-width: 578px;
  width: 40%;
  margin: 0;
}

section.big-web {
  padding: 0 4%;
  text-align: left;
  background: #c2a95b;
}

section.big-web.single-pages {
  padding: 0;
  margin: 0;
}

section.big-web img {
  vertical-align: top;
}

section.big-web #grease-page {
  max-width: 1022px;
  width: 77%;
  margin: 0 -10% 0 -4.5%;
}

section.big-web #grease-photos {
  max-width: 484px;
  width: 36.3%;
}

section.big-web #single-page {
  width: 100%;
  max-width: 1500px;
}

section.pops {
  padding: 5% 9%;
  text-align: right;
}

section.pops .blurb {
  width: 32%;
  max-width: 380px;
  margin: 5% 0 -22% auto;
  padding: 2%;
  text-align: left;
}

section.pops #front,section.pops #back {
  width: 62%;
  max-width: 737px;
}

section.pops #front {
  float: left;
  margin: 0 0 -10%;
}

section.in-the-can {
  padding: 5% 1% 1%;
  background: #7e878a;
}

section.in-the-can #can-logo {
  width: 42%;
  max-width: 591px;
  margin: -9% 3% 0 0;
}

section.in-the-can #video {
  width: 51%;
  max-width: 634px;
  margin: 0 0 3% 2%;
}

.full-width-heading h2 {
  color: #FFF;
  font-weight: 400;
}

.full-width-heading.dark-yellow {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding: 0 9%;
  background: #302b19;
}

.full-width-heading.dark-yellow h5 {
  padding: 1.5% 0;
}

@media screen and (max-width: 1170px) {
  section.image-description #rag {
    margin: -2% 0 0;
  }
  
  section.tinker-mat img#thermos {
    margin: -10.5% 0 0 -6%;
  }

}

@media screen and (max-width: 940px) {
  section.image-description,section.image-description.tinker-action {
    padding-top: 5%;
  }
  
  section.image-description #plaque {
    margin: 8% 6% 0 8%;
  }

}

@media screen and (max-width: 768px) {
  section.image-description {
    padding: 5%;
  }
  
  section.image-description.tinker-purpose .blurb {
    margin: 0;
    width: 56%;
    padding: 0;
  }
  
  section.image-description.tinker-action .blurb {
    margin: 0 auto;
    display: block;    
    width: 62%;
  }
  
  section.image-description #cans {
    margin: 4% auto 2% auto;
    display: block;
  }
  
  section.image-description #rag {
    width: 44%;
    margin: 0;
  }
  
  section.image-description #plaque {
    margin: 4% auto 2%;
    display: block; 
  }
  
  section.image-description .blurb {
    margin: 0 auto;
    display: block;
    width: 64%;
  }
  
  section.tinker-success #success-arrows {
    width: 16px;
    margin: 7px 10px 0 0;
  }
  
  section.community-graphics {
    padding: 5%;
  }
  
  section.tinker-mat img#thermos {
    margin: -11.6% 0 0 -6%;
  }
  
  section.tinker-stickers {
    padding: 5%;
  }
  
  section.pops {
    padding: 5%;
  }
  
  section.pops .blurb {
  	width: 90%;
max-width: 400px;
    margin: 0 auto 0% auto;
  }

}

@media screen and (max-width: 480px) {
  section.image-description {
    text-align: center;
  }
  
  section.image-description.tinker-purpose,section.image-description.tinker-action {
    text-align: center;
  }
  
  section.image-description.tinker-purpose .blurb,section.image-description.tinker-action .blurb {
    width: 100%;
    margin: 0;
  }
  
  section.image-description #cans,section.image-description #rag,section.image-description #plaque {
    width: 40%;
    margin: 0 auto 5%;
    float: none;
  }
  
  section.image-description .blurb {
    width: 100%;
    margin: 0;
  }
  
  section.tinker-mat {
    padding: 5%;
  }
  
  section.tinker-mat h5 {
    padding: 5% 0;
  }
  
  section.tinker-mat img#thermos {
    width: 100%;
    margin: 0 0 5%;
  }
  
  section.tinker-things {
    padding: 5%;
  }
  
  section.tinker-success .blurb {
    width: 100%;
    margin-right: 0;
  }
  
  section.tinker-success .blurb:nth-last-child(-n+2) {
    padding-bottom: 40px;
  }
  
  section.pops .blurb {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  
  .full-width-heading {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5%;
  }

}

@media screen and (max-width: 320px) {
  section.community-graphics img {
    width: 100%;
    margin: 1% 0;
  }
  
  section.palm-cards img {
    width: 80%;
  }
  
  section.tinker-stickers #hands-sticker {
    width: 70%;
    margin: 6% 0 0;
  }
  
  section.tinker-stickers .sticker-colors {
    width: 100%;
    margin: 10% 0;
  }
  
  section.tinker-mat h5#tinker-thermos {
    display: block;
    margin: 0;
  }
  
  section.tinker-things #notebook {
    width: 100%;
    margin: 0;
  }
  
  section.tinker-things #usb {
    width: 38%;
    margin: 0 2.5% 0 0;
  }
  
  section.tinker-things #towels {
    width: 57%;
    margin: 0 0 0 2.5%;
  }
  
  section.pops #front,section.pops #back {
    width: 100%;
    margin: 2.5% 0;
    float: none;
  }
  
  section.in-the-can #can-logo {
    width: 70%;
    margin: 0 auto;
  }
  
  section.in-the-can #video {
    width: 100%;
    margin: 0;
  }

}