.case-study em {
  margin: 10px 0; }
.case-study .banner-block.large {
  position: relative;
  height: 510px;
  top: 0px;
  background: #00a9ca url(../../images/services/ncfl-hero-bg.jpg) no-repeat center -120px;
  -webkit-background-size: 1440px auto;
  -moz-background-size: 1440px auto;
  background-size: 1440px auto; }
  @media screen and (max-width: 720px) {
    .case-study .banner-block.large {
      height: 400px !important;
      background-size: 1150px auto; } }
  @media screen and (max-width: 480px) {
    .case-study .banner-block.large {
      height: 290px !important;
      background-size: 950px auto; } }
  .case-study .banner-block.large img {
    position: absolute;
    width: 339px;
    margin: 0;
    top: 34%;
    left: 10%; }
    @media screen and (max-width: 720px) {
      .case-study .banner-block.large img {
        width: 280px;
        top: auto;
        right: 10%;
        bottom: 2%;
        left: auto; } }
    @media screen and (max-width: 480px) {
      .case-study .banner-block.large img {
        width: 230px; } }
.case-study .banner-block.apply {
  height: 170px;
  top: 0;
  padding: 80px 0 00px 0;
  background: #00a9ca url(../../images/services/bookcase-bg.jpg) no-repeat center -120px;
  -webkit-background-size: 1440px auto;
  -moz-background-size: 1440px auto;
  background-size: 1440px auto; }
  .case-study .banner-block.apply a {
    display: block;
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    color: white;
    background: #00aacb;
    line-height: 3; }
    .case-study .banner-block.apply a:hover, .case-study .banner-block.apply a:focus {
      background: #007f98; }
    @media screen and (max-width: 720px) {
      .case-study .banner-block.apply a {
        max-width: 85%;
        width: auto;
        padding: 8px; } }
    @media screen and (max-width: 480px) {
      .case-study .banner-block.apply a {
        line-height: 2; } }
@media screen and (max-width: 720px) {
  .case-study .banner-block {
    padding-top: 105px; } }
@media screen and (max-width: 720px) {
  .case-study .banner-block {
    height: 171px; } }
.case-study .banner-block h2 {
  line-height: 112px; }
  @media screen and (max-width: 720px) {
    .case-study .banner-block h2 {
      width: 76%;
      margin: 0 auto;
      line-height: 1.4; } }
.case-study .services-container .left-block {
  margin-right: 6%; }
.case-study .services-container .right-block {
  width: 28%; }
  @media screen and (max-width: 720px) {
    .case-study .services-container .right-block {
      width: 100%; } }
.case-study .images-container {
  width: 100%;
  margin: 0 auto 25px auto;
  background: white;
  text-align: center;
  box-sizing: border-box; }
  .case-study .images-container img {
    max-width: 100%;
    display: block; }
    @media screen and (max-width: 480px) {
      .case-study .images-container img {
        max-width: 90%; } }
  .case-study .images-container.org-logo {
    padding: 65px 0; }
    .case-study .images-container.org-logo img {
      display: inline-block;
      width: 319px; }
      @media screen and (max-width: 600px) {
        .case-study .images-container.org-logo img {
          width: 184px; } }
  .case-study .images-container.org-logos {
    padding: 50px 0 0 0; }
    @media screen and (max-width: 600px) {
      .case-study .images-container.org-logos {
        padding: 30px 0; } }
    .case-study .images-container.org-logos img {
      display: inline-block;
      width: 184px;
      margin: 0 55px 55px 0; }
      .case-study .images-container.org-logos img:nth-child(even) {
        margin-right: 0; }
      @media screen and (max-width: 600px) {
        .case-study .images-container.org-logos img {
          display: block;
          width: 100%;
          max-width: 184px;
          margin: 0 auto 10px auto; }
          .case-study .images-container.org-logos img:nth-child(even) {
            margin-right: auto; }
          .case-study .images-container.org-logos img:last-child {
            margin-bottom: 0; } }
  .case-study .images-container.logo-marks {
    padding: 60px 0; }
    @media screen and (max-width: 1499px) {
      .case-study .images-container.logo-marks {
        padding: 40px 0; } }
    .case-study .images-container.logo-marks img {
      display: inline-block;
      max-width: 98px;
      width: 14%;
      margin: 0 40px 0 0; }
      .case-study .images-container.logo-marks img:last-child {
        margin: 0; }
      @media screen and (max-width: 1499px) {
        .case-study .images-container.logo-marks img {
          max-width: 90px;
          margin: 0 25px 0 0; } }
      @media screen and (max-width: 880px) {
        .case-study .images-container.logo-marks img {
          max-width: 70px;
          margin: 0 20px 0 0; } }
      @media screen and (max-width: 1499px) {
        .case-study .images-container.logo-marks img {
          max-width: 55px;
          margin: 0 10px 0 0; } }
.case-study .photos {
  width: 100%;
  margin: 0px 0 25px 0; }
.case-study .learn-more-container {
  text-align: left; }
  @media screen and (max-width: 720px) {
    .case-study .learn-more-container {
      width: 100%; } }
  .case-study .learn-more-container h2 {
    font-size: 28px; }
  .case-study .learn-more-container em {
    margin: 25px 0;
    line-height: 1.75; }
  .case-study .learn-more-container .heading {
    display: block; }
  .case-study .learn-more-container a {
    padding: 2%;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box; }
    @media screen and (max-width: 1499px) {
      .case-study .learn-more-container a {
        font-size: 24px; } }
