@media screen and (max-width: 1024px) {
  .featured-movements .header-holder {
    margin: 0 40px; } }
@media screen and (max-width: 720px) {
  .featured-movements .header-holder {
    margin: 0; } }
.featured-movements .thumbnails-list {
  clear: both;
  width: 100%;
  margin: 25px auto 75px auto;
  padding: 0;
  list-style: none;
  text-align: center; }
.featured-movements .thumbnails-list li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 179px;
  overflow: hidden;
  -webkit-transition: 200ms all ease-in-out; }
  .featured-movements .thumbnails-list li:last-child {
    margin-right: 0; }
  .featured-movements .thumbnails-list li img {
    width: 100%; }
  @media screen and (max-width: 1499px) {
    .featured-movements .thumbnails-list li {
      width: 31%;
      margin: 0 2% 0px 0;
      height: 155px; } }
  @media screen and (max-width: 1199px) {
    .featured-movements .thumbnails-list li {
      margin: 0 1.5% 15px 0; } }
  @media screen and (max-width: 874px) {
    .featured-movements .thumbnails-list li {
      height: 130px;
      margin: 0 1% 15px 0; } }
  @media screen and (max-width: 720px) {
    .featured-movements .thumbnails-list li {
      width: 85%;
      height: 250px;
      margin: 0 0 15px 0; }
      .featured-movements .thumbnails-list li:hover a {
        height: 250px; } }
  @media screen and (max-width: 551px) {
    .featured-movements .thumbnails-list li {
      height: 190px; }
      .featured-movements .thumbnails-list li:hover a {
        height: 190px; } }
  @media screen and (max-width: 320px) {
    .featured-movements .thumbnails-list li {
      width: 100%;
      height: 150px; }
      .featured-movements .thumbnails-list li:hover a {
        height: 150px; } }
.featured-movements .thumbnails-list img {
  border-radius: 2px;
  width: 100%;
  max-width: 100%;
  vertical-align: top; }
.featured-movements .thumbnails-list a {
  background: rgba(0, 170, 203, 0.9);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 18px;
  left: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  width: 100%; }
.featured-movements .thumbnails-list .holder {
  display: block;
  padding: 20px 0; }
.featured-movements .thumbnails-list .title {
  font-size: 20px;
  font-weight: lighter;
  line-height: 7px; }
  @media screen and (max-width: 551px) {
    .featured-movements .thumbnails-list .title {
      line-height: 25px; } }
.featured-movements .thumbnails-list .hover .title {
  line-height: 23px; }
.featured-movements .thumbnails-list a .txt {
  font-size: 16px;
  font-weight: lighter; }
.featured-movements .thumbnails-list .hover a,
.featured-movements .thumbnails-list li:hover a {
  display: table;
  height: 179px;
  text-decoration: none;
  top: 0; }
  @media screen and (max-width: 720px) {
    .featured-movements .thumbnails-list .hover a,
    .featured-movements .thumbnails-list li:hover a {
      height: 250px; } }
.featured-movements .thumbnails-list .hover .holder,
.featured-movements .thumbnails-list li:hover .holder {
  display: table-cell;
  padding: 30px 10px;
  vertical-align: top; }
  @media screen and (max-width: 720px) {
    .featured-movements .thumbnails-list .hover .holder,
    .featured-movements .thumbnails-list li:hover .holder {
      padding: 110px 10px; } }
  @media screen and (max-width: 551px) {
    .featured-movements .thumbnails-list .hover .holder,
    .featured-movements .thumbnails-list li:hover .holder {
      padding: 60px 10px; } }
  @media screen and (max-width: 320px) {
    .featured-movements .thumbnails-list .hover .holder,
    .featured-movements .thumbnails-list li:hover .holder {
      padding: 30px 10px; } }
.featured-movements .thumbnails-list .hover .title,
.featured-movements .thumbnails-list li:hover .title {
  margin: 0 0 3px; }
.featured-movements .thumbnails-list .hover a .txt,
.featured-movements .thumbnails-list li:hover a .txt {
  display: block; }
.featured-movements .section-read.section-books .holder {
  padding: 163px 0 98px; }
.featured-movements .section-books h1 span {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: -1px; }
.featured-movements .banner-block {
  top: 78px;
  background: #00a9ca url(../../images/services/woman-hero-bg.jpg) no-repeat center -120px;
  -webkit-background-size: 1440px auto;
  -moz-background-size: 1440px auto;
  background-size: 1440px auto; }
  @media screen and (max-width: 720px) {
    .featured-movements .banner-block {
      padding-top: 105px; } }
  .featured-movements .banner-block.apply {
    top: 0;
    padding: 109px 0 0 0;
    background: #dd5521 url(../../images/services/bookcase-bg.jpg) no-repeat center -120px;
    -webkit-background-size: 1440px auto;
    -moz-background-size: 1440px auto;
    background-size: 1440px auto; }
    .featured-movements .banner-block.apply a {
      display: block;
      max-width: 500px;
      width: 85%;
      margin: 0 auto;
      padding: 15px 0;
      font-size: 23px;
      font-family: Georgia, serif;
      font-style: italic;
      text-align: center;
      text-transform: lowercase;
      color: white;
      background: #00aacb;
      line-height: 3; }
      .featured-movements .banner-block.apply a:hover, .featured-movements .banner-block.apply a:focus {
        background: #007f98; }
      @media screen and (max-width: 1499px) {
        .featured-movements .banner-block.apply a {
          max-width: 400px; } }
      @media screen and (max-width: 1440px) {
        .featured-movements .banner-block.apply a {
          max-width: 450px;
          font-size: 100%; } }
      @media screen and (max-width: 720px) {
        .featured-movements .banner-block.apply a {
          max-width: 85%;
          width: auto;
          padding: 8px; } }
  @media screen and (max-width: 720px) {
    .featured-movements .banner-block {
      height: 171px; } }
  .featured-movements .banner-block h2 {
    line-height: 112px; }
    @media screen and (max-width: 720px) {
      .featured-movements .banner-block h2 {
        width: 76%;
        margin: 0 auto;
        line-height: 1.4; } }
.featured-movements .services-container {
  width: 100%;
  margin: 79px auto 0 auto;
  color: #333333;
  text-align: center; }
  .featured-movements .services-container a.button {
    display: block;
    width: 300px;
    margin: 40px auto;
    padding: 20px 0;
    font-family: Georgia, serif;
    font-size: 23px;
    font-style: italic;
    color: white;
    text-decoration: none;
    background: #939f57; }
    .featured-movements .services-container a.button:hover, .featured-movements .services-container a.button:focus {
      background: #757e45; }
    @media screen and (max-width: 1499px) {
      .featured-movements .services-container a.button {
        width: 265px; } }
  .featured-movements .services-container h1 {
    margin: 120px auto 40px auto;
    font-family: Georgia, serif;
    font-size: 28px;
    font-style: italic;
    color: #939f57; }
  .featured-movements .services-container em {
    display: block;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: .85em;
    line-height: 1.7; }
    @media screen and (max-width: 700px) {
      .featured-movements .services-container em {
        font-size: 14px;
        line-height: 2em; } }
  .featured-movements .services-container section {
    width: 100%;
    padding: 50px 0;
    background: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .featured-movements .services-container section:nth-child(even) {
      background: white; }
    .featured-movements .services-container section .wrapper {
      position: relative;
      max-width: 942px;
      margin: 0 auto;
      text-align: left; }
    .featured-movements .services-container section .section-content {
      max-width: 1170px;
      width: 81%;
      margin: 0 auto; }
      @media screen and (max-width: 1499px) {
        .featured-movements .services-container section .section-content {
          max-width: 942px; } }
      .featured-movements .services-container section .section-content h1 {
        padding-bottom: 35px;
        font-size: 40px;
        text-transform: uppercase; }
        @media screen and (max-width: 767px) {
          .featured-movements .services-container section .section-content h1 {
            font-size: 39px; } }
        @media screen and (max-width: 700px) {
          .featured-movements .services-container section .section-content h1 {
            font-size: 27px;
            line-height: 34px;
            padding-bottom: 15px; } }
    .featured-movements .services-container section p {
      padding: 0 0 35px 0;
      font-size: 17px;
      line-height: 32px;
      font-weight: normal; }
      @media screen and (max-width: 1199px) {
        .featured-movements .services-container section p {
          font-size: 16px;
          line-height: 24px; } }
      @media screen and (max-width: 700px) {
        .featured-movements .services-container section p {
          font-size: 15px;
          line-height: 28px; } }
    .featured-movements .services-container section span.topic {
      display: inline-block;
      width: 48.5%;
      margin: 0 1.5% 1.5% 0;
      background: white;
      font-family: Georgia, serif;
      font-size: 1.2em;
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      line-height: 2; }
      @media screen and (max-width: 1024px) {
        .featured-movements .services-container section span.topic {
          display: block;
          width: 100%;
          margin: 8px auto 0 auto; } }
      .featured-movements .services-container section span.topic:nth-child(even) {
        margin-right: 0; }
    .featured-movements .services-container section .thumbnail {
      position: relative;
      float: left;
      display: inline-block;
      width: 350px;
      height: 200px;
      margin-right: 28px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden; }
      @media screen and (max-width: 1499px) {
        .featured-movements .services-container section .thumbnail {
          width: 292px;
          height: 167px; } }
      @media screen and (max-width: 1180px) {
        .featured-movements .services-container section .thumbnail {
          width: 255px;
          height: 146px; } }
      @media screen and (max-width: 1024px) {
        .featured-movements .services-container section .thumbnail {
          width: 184px;
          height: 104px;
          margin-right: 10px; } }
      @media screen and (max-width: 720px) {
        .featured-movements .services-container section .thumbnail {
          width: 48.5%;
          margin-right: 1%;
          height: auto;
          -webkit-tap-highlight-color: #00a9ca; } }
      @media screen and (max-width: 480px) {
        .featured-movements .services-container section .thumbnail {
          width: 100%;
          height: 230px;
          margin-bottom: 10px;
          margin-right: 0px; } }
      @media screen and (max-width: 320px) {
        .featured-movements .services-container section .thumbnail {
          height: 160px; } }
      .featured-movements .services-container section .thumbnail:last-child {
        margin-right: 0; }
      .featured-movements .services-container section .thumbnail a {
        display: block;
        padding-bottom: 57.142857142%; }
        @media screen and (max-width: 720px) {
          .featured-movements .services-container section .thumbnail a {
            padding-bottom: 0; } }
      .featured-movements .services-container section .thumbnail img, .featured-movements .services-container section .thumbnail h3 {
        -webkit-transition: 175ms all ease-in-out;
        transition: 175ms all ease-in-out; }
      .featured-movements .services-container section .thumbnail img {
        width: 100%;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0); }
      .featured-movements .services-container section .thumbnail h3 {
        position: absolute;
        width: 100%;
        padding: 18px 0;
        bottom: 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        background: rgba(0, 170, 203, 0.75);
        -webkit-transform: translate3d(0, 65px, 0);
        transform: translate3d(0, 65px, 0);
        z-index: 100; }
        @media screen and (max-width: 1180px) {
          .featured-movements .services-container section .thumbnail h3 {
            padding: 5px 0; } }
        @media screen and (max-width: 720px) {
          .featured-movements .services-container section .thumbnail h3 {
            -webkit-transform: translate3d(0, 0px, 0);
            margin: 0px 0 8px 0;
            padding: 10px 0; } }
        @media screen and (max-width: 480px) {
          .featured-movements .services-container section .thumbnail h3 {
            margin: 0; } }
      .featured-movements .services-container section .thumbnail:hover h3, .featured-movements .services-container section .thumbnail:focus h3 {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0); }
      .featured-movements .services-container section .thumbnail:hover img, .featured-movements .services-container section .thumbnail:focus img {
        -webkit-transform: translate3d(0, -27px, 0);
        transform: translate3d(0, -27px, 0); }
        @media screen and (max-width: 720px) {
          .featured-movements .services-container section .thumbnail:hover img, .featured-movements .services-container section .thumbnail:focus img {
            -webkit-transform: none;
            transform: none; } }
  .featured-movements .services-container .left-block, .featured-movements .services-container .right-block {
    display: inline-block;
    vertical-align: top;
    clear: both; }
  .featured-movements .services-container .left-block {
    position: relative;
    top: 0;
    left: 0;
    clear: both;
    width: 65%;
    padding-right: 11%; }
    .featured-movements .services-container .left-block p {
      float: left; }
    @media screen and (max-width: 980px) {
      .featured-movements .services-container .left-block {
        padding-right: 7%; } }
    @media screen and (max-width: 720px) {
      .featured-movements .services-container .left-block {
        width: 100%;
        padding-right: 0; } }
  .featured-movements .services-container .right-block {
    clear: both;
    width: 23%;
    max-width: 216px;
    position: absolute;
    top: 0;
    right: auto; }
    @media screen and (max-width: 1180px) {
      .featured-movements .services-container .right-block {
        width: 24%; } }
    @media screen and (max-width: 980px) {
      .featured-movements .services-container .right-block {
        width: 27%; } }
    @media screen and (max-width: 769px) {
      .featured-movements .services-container .right-block {
        width: 35%; } }
    @media screen and (max-width: 720px) {
      .featured-movements .services-container .right-block {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin-top: 10px; } }
    .featured-movements .services-container .right-block.mobile {
      position: relative;
      width: 100%; }
    .featured-movements .services-container .right-block.sticky {
      position: fixed;
      top: 50px;
      right: auto; }
    .featured-movements .services-container .right-block.sticky-bottom {
      top: auto;
      bottom: 38px; }
    @media screen and (max-width: 720px) {
      .featured-movements .services-container .right-block .learn-more-container {
        text-align: center; } }
.featured-movements .learn-more-container {
  text-align: center; }
  .featured-movements .learn-more-container a, .featured-movements .learn-more-container a.visited {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 28px 0;
    background: #d9531e;
    color: white;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.4em; }
    @media screen and (max-width: 1024px) {
      .featured-movements .learn-more-container a, .featured-movements .learn-more-container a.visited {
        padding: 20px 0; } }
    .featured-movements .learn-more-container a:hover, .featured-movements .learn-more-container a:focus, .featured-movements .learn-more-container a.visited:hover, .featured-movements .learn-more-container a.visited:focus {
      background: #ac4218;
      text-decoration: none; }
  .featured-movements .learn-more-container em {
    font-size: .7em; }
  .featured-movements .learn-more-container big {
    font-family: Georgia, serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bolder;
    color: #00a9ca;
    line-height: 1.2; }
    @media screen and (max-width: 1024px) {
      .featured-movements .learn-more-container big {
        font-size: 1.2em; } }
.featured-movements .section-content {
  max-width: 1170px;
  width: 81%;
  margin: 0 auto; }
  @media screen and (max-width: 1499px) {
    .featured-movements .section-content {
      max-width: 942px; } }
  .featured-movements .section-content p {
    text-align: left; }
    .featured-movements .section-content p a {
      color: #eb7e1f; }
      .featured-movements .section-content p a:hover, .featured-movements .section-content p a:focus {
        color: #c56512; }
    .featured-movements .section-content p b {
      font-weight: bolder; }
    .featured-movements .section-content p.phase {
      box-sizing: border-box;
      margin: 0 0 27px 0;
      padding: 45px 40px;
      color: white; }
      @media screen and (max-width: 720px) {
        .featured-movements .section-content p.phase {
          padding: 20px; } }
      .featured-movements .section-content p.phase .heading {
        display: block;
        margin-bottom: 7px;
        font-weight: bolder;
        text-transform: uppercase; }
      .featured-movements .section-content p.phase.one {
        background: #eb7e1f; }
      .featured-movements .section-content p.phase.two {
        background: #939f57; }
      .featured-movements .section-content p.phase.three {
        background: #00aacb; }
.featured-movements .thumbnail {
  position: relative;
  display: inline-block;
  width: 31%;
  height: 202px;
  margin-right: 2%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden; }
  .featured-movements .thumbnail:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1499px) {
    .featured-movements .thumbnail {
      width: 292px;
      height: 167px; } }
  @media screen and (max-width: 1180px) {
    .featured-movements .thumbnail {
      width: 255px;
      height: 146px; } }
  @media screen and (max-width: 1024px) {
    .featured-movements .thumbnail {
      width: 184px;
      height: 104px;
      margin-right: 10px; } }
  @media screen and (max-width: 720px) {
    .featured-movements .thumbnail {
      width: 48%;
      height: auto;
      margin-right: 1%;
      -webkit-tap-highlight-color: #00a9ca; } }
  @media screen and (max-width: 480px) {
    .featured-movements .thumbnail {
      width: 100%;
      height: 230px;
      margin-bottom: 10px;
      margin-right: 0px; } }
  @media screen and (max-width: 320px) {
    .featured-movements .thumbnail {
      height: 160px; } }
  .featured-movements .thumbnail img {
    width: 100%;
    -webkit-transform: translate3d(0, -16px, 0);
    transform: translate3d(0, -16px, 0); }
  .featured-movements .thumbnail h3 {
    position: absolute;
    width: 100%;
    padding: 18px 0;
    bottom: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 170, 203, 0.75);
    z-index: 100; }
    @media screen and (max-width: 1499px) {
      .featured-movements .thumbnail h3 {
        padding: 9px 0; } }
    @media screen and (max-width: 1180px) {
      .featured-movements .thumbnail h3 {
        padding: 5px 0; } }
    @media screen and (max-width: 720px) {
      .featured-movements .thumbnail h3 {
        margin: 0px 0 8px 0;
        padding: 10px 0; } }
    @media screen and (max-width: 420px) {
      .featured-movements .thumbnail h3 {
        -webkit-transform: translate3d(0, 0px, 0); } }
    @media screen and (max-width: 480px) {
      .featured-movements .thumbnail h3 {
        margin: 0; } }
  .featured-movements .thumbnail:hover h3, .featured-movements .thumbnail:focus h3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10%;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); }
    @media screen and (max-width: 420px) {
      .featured-movements .thumbnail:hover h3, .featured-movements .thumbnail:focus h3 {
        -webkit-transform: none;
        transform: none; } }
  @media screen and (max-width: 420px) {
    .featured-movements .thumbnail:hover img, .featured-movements .thumbnail:focus img {
      -webkit-transform: none;
      transform: none; } }
.featured-movements .learn-more-container {
  text-align: left; }
  .featured-movements .learn-more-container a {
    margin: 25px 0;
    text-align: center; }

.half-width {
  display: inline-block;
  float: left;
  width: 47%;
  margin: 0 6% 0 0;
  vertical-align: top; }
  .half-width:last-child {
    margin: 0; }
  .half-width big {
    color: #333;
    font-weight: lighter; }
