.clear {
  clear: both; }

.go-top {
  z-index: 10000; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.services-overview {
  color: #333333; }

.banner-block {
  position: relative;
  height: 154px;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  padding: 156px 0 0;
  text-transform: uppercase;
  overflow: hidden; }

.services-overview .intro, .client-questions .intro{
	width:100%;
	padding:50px 0 50px;
	background:url(../../images/bg-path.png) ;
}

.client-questions .intro{
	margin-top: -50px;
}

.client-questions.thanks-page .intro {
	margin-top: -50px;
	background: none;
}

.services-overview .intro p, .client-questions .intro p{
	width:70%;
	font-size: 17px;
    line-height: 32px;
	margin: 0 auto;
	text-align: center; 
}

.client-questions.thanks-page .intro h2{
	width:70%;
	margin: 0 auto 20px;
	text-align: center;
	color: #333;
	font-size: 40px;
	line-height: 44px;
	font-weight: 500;
	text-transform: uppercase;
}

div.caption-block.application-caption-block.versionTeam{
	width:34%;
	top:360px;
}

div.caption-block.application-caption-block.versionTeam h2{
	font-size: 16px;
	line-height: 24px;
	text-transform: none;
}

.passion-block.versionTeamSmall p{
	font-size: 16px;
	line-height: 24px;
	width:80%;
	margin: 0 auto 10px;
}

  @media only screen and (max-width: 980px) {
    .banner-block {
      padding: 150px 0 0; } }
  @media only screen and (max-width: 720px) {
    .banner-block {
      padding: 143px 0 0;
      height: 147px; } }
  .banner-block img {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -750px;
    z-index: -1; }
    .banner-block img.smiley {
      position: relative;
      width: 26px;
      left: 0;
      margin: -9px 0 -7px 5px; }
  .banner-block h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    margin: 0 0 4px; }
    @media screen and (max-width: 765px) {
      .banner-block h2 {
        font-size: 33px;
        line-height: 35px;
        margin: 0 0 10px; } }
  .banner-block h3 {
    max-width: 640px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 22px; }
    @media screen and (max-width: 765px) {
      .banner-block h3 {
        width: 60%;
        font-size: 15px;
        line-height: 17px;
        margin: 0 auto 7px auto; } }
    @media screen and (max-width: 480px) {
      .banner-block h3 {
        width: 90%; } }

.services-overview .banner-block {
  background: #ea602a url(../../images/services/hero-bg.jpg) no-repeat center -20px;
  -webkit-background-size: 1440px auto;
  -moz-background-size: 1440px auto;
  background-size: 1440px auto; }
@media screen and (max-width: 1024px) {
  .services-overview .header-holder {
    margin: 0 40px; } }
@media screen and (max-width: 720px) {
  .services-overview .header-holder {
    margin: 0; } }
.services-overview .thumbnails-list {
  clear: both;
  width: 100%;
  margin: 25px auto 75px auto;
  padding: 0;
  list-style: none;
  text-align: center; }
.services-overview .thumbnails-list li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 360px;
  height: 179px;
  overflow: hidden;
  -webkit-transition: 200ms all ease-in-out; }
  .services-overview .thumbnails-list li:last-child {
    margin-right: 0; }
  .services-overview .thumbnails-list li:nth-child(4n) {
    margin-right: 0; }
  @media screen and (max-width: 1499px) {
    .services-overview .thumbnails-list li {
      width: 48%;
      margin: 0 2% 0px 0;
      height: 155px; } }
  @media screen and (max-width: 1199px) {
    .services-overview .thumbnails-list li {
      margin: 0 1.5% 15px 0; } }
  @media screen and (max-width: 874px) {
    .services-overview .thumbnails-list li {
      height: 130px;
      margin: 0 1% 15px 0; } }
  @media screen and (max-width: 551px) {
    .services-overview .thumbnails-list li {
      width: 100%;
      height: 250px;
      margin: 0 0 15px 0; }
      .services-overview .thumbnails-list li:nth-child(4n) {
        margin-right: 0%; }
      .services-overview .thumbnails-list li:nth-child(3n) {
        margin-right: 0%; }
      .services-overview .thumbnails-list li:nth-child(2n) {
        margin-right: 0%; } }
  @media screen and (max-width: 551px) {
    .services-overview .thumbnails-list li {
      height: 190px; } }
.services-overview .thumbnails-list img {
  border-radius: 2px;
  width: 100%;
  max-width: 100%;
  vertical-align: top; }
.services-overview .thumbnails-list a {
  background: rgba(0, 170, 203, 0.9);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 18px;
  left: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  width: 100%; }
.services-overview .thumbnails-list .holder {
  display: none;
  padding: 20px 0; }
.services-overview .thumbnails-list .title {
  font-size: 20px;
  font-weight: lighter;
  line-height: 7px; }
  @media screen and (max-width: 551px) {
    .services-overview .thumbnails-list .title {
      line-height: 25px; } }
.services-overview .thumbnails-list .hover .title {
  line-height: 23px; }
.services-overview .thumbnails-list a .txt {
  font-size: 16px;
  font-weight: lighter; }
.services-overview .thumbnails-list .hover a,
.services-overview .thumbnails-list li:hover a {
  display: table;
  height: 179px;
  text-decoration: none;
  top: 0; }
  @media screen and (max-width: 551px) {
    .services-overview .thumbnails-list .hover a,
    .services-overview .thumbnails-list li:hover a {
      height: 250px; } }
.services-overview .thumbnails-list .hover .holder,
.services-overview .thumbnails-list li:hover .holder {
  display: table-cell;
  padding: 30px 10px;
  vertical-align: top; }
  @media screen and (max-width: 551px) {
    .services-overview .thumbnails-list .hover .holder,
    .services-overview .thumbnails-list li:hover .holder {
      padding: 90px 10px 0px 10px; } }
  @media screen and (max-width: 551px) {
    .services-overview .thumbnails-list .hover .holder,
    .services-overview .thumbnails-list li:hover .holder {
      padding: 60px 10px 0px 10px; } }
.services-overview .thumbnails-list .hover .title,
.services-overview .thumbnails-list li:hover .title {
  margin: 0 0 3px; }
.services-overview .thumbnails-list .hover a .txt,
.services-overview .thumbnails-list li:hover a .txt {
  display: block; }
.services-overview .section-read.section-books .holder {
  padding: 163px 0 98px; }
.services-overview .section-books h1 span {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: -1px; }

.services-container {
  width: 100%;
  margin: 0 auto;
  color: #333333; }
  .services-container em {
    display: block;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: .85em;
    line-height: 1.7; }
    @media screen and (max-width: 700px) {
      .services-container em {
        font-size: 14px;
        line-height: 2em; } }
  .services-container section {
    width: 100%;
    padding: 50px 0;
    background: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .services-container section:nth-child(even) {
      background: white; }
    .services-container section .section-content {
      max-width: 1170px;
      width: 81%;
      margin: 0 auto; }
      @media screen and (max-width: 1499px) {
        .services-container section .section-content {
          max-width: 942px; } }
      .services-container section .section-content h1 {
        padding-bottom: 35px;
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase; }
        @media screen and (max-width: 767px) {
          .services-container section .section-content h1 {
            font-size: 39px; } }
        @media screen and (max-width: 700px) {
          .services-container section .section-content h1 {
            font-size: 27px;
            line-height: 34px;
            padding-bottom: 15px; } }
    .services-container section p {
      padding: 0 0 35px 0;
      font-size: 17px;
      line-height: 32px; }
      @media screen and (max-width: 1199px) {
        .services-container section p {
          font-size: 16px;
          line-height: 24px; } }
      @media screen and (max-width: 700px) {
        .services-container section p {
          font-size: 15px;
          line-height: 28px; } }
    .services-container section span.topic {
      display: inline-block;
      width: 48.5%;
      margin: 0 1.5% 1.5% 0;
      background: white;
      font-family: Georgia, serif;
      font-size: 1.2em;
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      line-height: 2; }
      @media screen and (max-width: 1024px) {
        .services-container section span.topic {
          display: block;
          width: 100%;
          margin: 8px auto 0 auto; } }
      .services-container section span.topic:nth-child(even) {
        margin-right: 0; }
    .services-container section .thumbnail {
      position: relative;
      float: left;
      display: inline-block;
      width: 350px;
      height: 200px;
      margin-right: 28px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden; }
      @media screen and (max-width: 1499px) {
        .services-container section .thumbnail {
          width: 292px;
          height: 167px; } }
      @media screen and (max-width: 1180px) {
        .services-container section .thumbnail {
          width: 255px;
          height: 146px; } }
      @media screen and (max-width: 1024px) {
        .services-container section .thumbnail {
          width: 184px;
          height: 104px;
          margin-right: 10px; } }
      @media screen and (max-width: 720px) {
        .services-container section .thumbnail {
          width: 48.5%;
          margin-right: 1%;
          height: auto;
          -webkit-tap-highlight-color: #00a9ca; } }
      @media screen and (max-width: 480px) {
        .services-container section .thumbnail {
          width: 100%;
          height: 230px;
          margin-bottom: 10px;
          margin-right: 0px; } }
      @media screen and (max-width: 320px) {
        .services-container section .thumbnail {
          height: 160px; } }
      .services-container section .thumbnail:last-child {
        margin-right: 0; }
      .services-container section .thumbnail a {
        display: block;
        padding-bottom: 57.142857142%; }
        @media screen and (max-width: 720px) {
          .services-container section .thumbnail a {
            padding-bottom: 0; } }
      .services-container section .thumbnail img, .services-container section .thumbnail h3 {
        -webkit-transition: 175ms all ease-in-out;
        transition: 175ms all ease-in-out; }
      .services-container section .thumbnail img {
        width: 100%;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0); }
      .services-container section .thumbnail h3 {
        position: absolute;
        width: 100%;
        padding: 18px 0;
        bottom: 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        background: rgba(0, 170, 203, 0.75);
        -webkit-transform: translate3d(0, 65px, 0);
        transform: translate3d(0, 65px, 0);
        z-index: 100; }
        @media screen and (max-width: 1180px) {
          .services-container section .thumbnail h3 {
            padding: 5px 0; } }
        @media screen and (max-width: 720px) {
          .services-container section .thumbnail h3 {
            -webkit-transform: translate3d(0, 0px, 0);
            margin: 0px 0 8px 0;
            padding: 10px 0; } }
        @media screen and (max-width: 480px) {
          .services-container section .thumbnail h3 {
            margin: 0; } }
      .services-container section .thumbnail:hover h3, .services-container section .thumbnail:focus h3 {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0); }
      .services-container section .thumbnail:hover img, .services-container section .thumbnail:focus img {
        -webkit-transform: translate3d(0, -27px, 0);
        transform: translate3d(0, -27px, 0); }
        @media screen and (max-width: 720px) {
          .services-container section .thumbnail:hover img, .services-container section .thumbnail:focus img {
            -webkit-transform: none;
            transform: none; } }
  .services-container .left-block, .services-container .right-block {
    display: inline-block;
    vertical-align: top; }
  .services-container .left-block {
    width: 65%;
    margin-right: 11%; }
    @media screen and (max-width: 980px) {
      .services-container .left-block {
        margin-right: 7%; } }
    @media screen and (max-width: 720px) {
      .services-container .left-block {
        width: 100%;
        margin-right: 0; } }
  .services-container .right-block {
    width: 23%; }
    @media screen and (max-width: 980px) {
      .services-container .right-block {
        width: 27%; } }
    @media screen and (max-width: 720px) {
      .services-container .right-block {
        width: 100%;
        margin-top: 10px; } }

.learn-more-container {
  text-align: center; }
  .learn-more-container a, .learn-more-container a.visited {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 28px 0;
    background: #d9531e;
    color: white;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.4em; }
    @media screen and (max-width: 1024px) {
      .learn-more-container a, .learn-more-container a.visited {
        padding: 20px 0; } }
    .learn-more-container a:hover, .learn-more-container a:focus, .learn-more-container a.visited:hover, .learn-more-container a.visited:focus {
      background: #ac4218;
      text-decoration: none; }
  .learn-more-container em {
    font-size: .7em; }
  .learn-more-container big {
    font-family: Georgia, serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bolder;
    color: #00a9ca;
    line-height: 1.2; }
    @media screen and (max-width: 1024px) {
      .learn-more-container big {
        font-size: 1.2em; } }
/* Nathan Added Queries */

	@media only screen and (max-width: 1199px) {
	  .client-questions.thanks-page .intro h2 {
		font-size: 32px; } }
