.block-reviews{
	overflow:hidden;
	margin:0 auto 0;
	max-width:1170px;
}


.featured-movements .services-container section{
	width: 100%;
	padding: 50px 0 50px;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.slideshow .slide blockquote{
	color:#929f57;
}

.slideshow .slide blockquote cite{
	float:right;
	text-align:left;
	font:italic 18px/24px Georgia, "Times New Roman", Times, serif;
	margin:0;
}


.featured-movements .services-container h1{
	margin: 50px auto 40px auto;
	font-family: Georgia, serif;
	font-size: 28px;
	font-style: italic;
	color: #939f57; 
}


