#blox #main blockquote{
	color: #939f57;
    display: block;
    font: italic bold 24px/36px Georgia,"Times New Roman",Times,serif;
    margin: 0 0 11px;
    word-spacing: 1px;
}

#blox #main blockquote cite{
	display: block;
	font:italic 16px/22px Georgia, "Times New Roman", Times, serif;
	margin:10px 0 40px 0;
}


.featured-movements .services-container h1{
	margin: 50px auto 40px auto;
	font-family: Georgia, serif;
	font-size: 28px;
	font-style: italic;
	color: #939f57; 
}


