#Field7 {
	width: 159px;
	margin: 0 4px 0 0;
}

#Field8 {
	width: 159px;
}

#Field10 {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	/*height: 21px;*/
	height: 6px;
	line-height: 21px;
	margin: 0 -2px 0 0;
	padding: 18px 10px;
	text-transform: none;
	vertical-align: middle;
	/*width: 48px;*/
	width: 89px;
}

#Field10-1 {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	/*height: 21px;*/
	height: 6px;
	line-height: 21px;
	margin: 0 -2px 0 0;
	padding: 18px 10px;
	text-transform: none;
	vertical-align: middle;
	/*width: 48px;*/
	width: 89px;
}

#Field10-2 {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	/*height: 21px;*/
	height: 6px;
	line-height: 21px;
	margin: 0 24px 0 0;
	padding: 18px 10px;
	text-transform: none;
	vertical-align: middle;
	/*width: 68px;*/
	width: 89px;
}


#Field12 {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	height: 21px;
	height: 6px;
	line-height: 21px;
	margin: 0 24px 0 0;
	padding: 18px 10px;
	text-transform: none;
	vertical-align: middle;
	width: 348px;
}

.form-contact .select-area {
	height: 44px;
}

.select-area {
	/*margin: 0;*/
}

.select-area .center {
	/*padding: 10px 10px 17px 0px;*/
	padding: 15px 10px 17px 18px;
	font-size: 17px;
	font-family: hedley-new-web, Arial, Helvetica, sans-serif;
	color: #A9A9A9;
}

input.text {
	font-size: 17px;
	font-family: hedley-new-web, Arial, Helvetica, sans-serif;
	color: #666;
}
textarea.textarea {
	font-size: 17px;
	font-family: hedley-new-web, Arial, Helvetica, sans-serif;
	color: #666;
	padding: 2px 0px;
}


ul {
	color: #333;
	font-size: 18px;
	line-height: 20px;
	margin: 0 auto;
	padding: 73px 0 85px;
	text-align: center;
	/*text-transform: uppercase;*/
	max-width: 776px;
}

#container {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	max-width: 776px;
	font: 20px/29px hedley-new-web, Arial, Helvetica, sans-serif;
}

.form-contact label .desc{
	font: 20px/29px hedley-new-web, Arial, Helvetica, sans-serif;
}

.form-contact .row:hover {
	background-color: rgba(0,170,203,0.2);
	-webkit-text-fill-color: #333;
}

.form-contact .row {
	background-color: transparent;
	position: relative;
	-webkit-transition: background-color 350ms ease-out;
	-moz-transition: background-color 350ms ease-out;
	-o-transition: background-color 350ms ease-out;
	transition: background-color 350ms ease-out;
	padding: 19px;
}
.form-contact input:focus {
	outline: -webkit-focus-ring-color none;
	
}
.form-contact textarea:focus {
	outline: -webkit-focus-ring-color none;
}

/*form.rightLabel .desc {
	float: right;
}
*/

#container h1 {
	font-family: hedley-new-web, Arial, Helvetica, sans-serif;
	color:#333;
	font-size:40px;
	letter-spacing:-1px;	
	line-height:42px;
	margin:0 0 7px;
	text-align:center;
	text-transform:uppercase;
	font-weight: 500;
}

#container p {
	text-align: center;
}


.form-contact .textarea {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	line-height: 21px;
	text-transform: none;
	vertical-align: middle;
	
	height: 313px;
	margin: 0;
	overflow: auto;
	/*padding: 18px 10px 0 10px;*/
	resize: none;
	width: 758px;
}

form li {
	text-align: left;
}

form li.focused {
	background-color: rgba(0,170,203,0.2);
}


.leftLabel li, .rightLabel li {
	/*padding-top: 19px;*/
}

.notranslate {
	padding: 19px;
	text-align: left;
}

.form-contact input[type=text] {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	/*height: 21px;*/
	height: 6px;
	line-height: 21px;
	margin: 0 24px 0 0;
	padding: 18px 10px;
	text-transform: none;
	vertical-align: middle;
	width: 348px;
}

.form-contact input[type=email] {
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px;
	color: #666;
	display: inline-block;
	font-size: 17px;
	/*height: 21px;*/
	height: 6px;
	line-height: 21px;
	margin: 0 24px 0 0;
	padding: 18px 10px;
	text-transform: none;
	vertical-align: middle;
	width: 348px;
	/*width: 90%;*/
}

textarea.textarea {
	width:100%;
}

.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead {
    display: none !important;
}

.leftLabel li, .rightLabel li {
	width: 100%;
}

.form-contact label {
	font: 20px/29px hedley-new-web, Arial, Helvetica, sans-serif;
	color: #666;
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	line-height: 19px;
	text-transform: none;
}

form.rightLabel .desc {
	padding-top: 13px;
	margin-bottom: 7px;
}

.leftLabel .desc, .rightLabel .desc {
	width: 41%;
}

.select-options ul a {
	font-family: hedley-new-web, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #666;

}

.select-options .item-selected a{
	background: #d9531e;
	color:#fff;
	text-decoration:none;
}

.select-area .select-opener {
	height: 44px;
}

.elaborate {
	width: 97%;
}

.dash {
	margin: 13px 4px 0 1px;
}

.rightLabel .desc {
	display: inline-block;
	/*float: right;*/
/*	text-align: -moz-left;
	text-align: left;
	text-align: -webkit-left ease;*/
	flex: 1;
}
@media only screen and (max-width : 721px) {

	.leftLabel .desc, .rightLabel .desc {
		width: 100%;
	}
}