#books-banner {
  padding: 163px 0 83px;
  background: #dc5520 url(../images/books/our_books.jpg) no-repeat 50% 50%;
  @include background-size(cover);
  @include min-screen(768px) {
    &:after {
      position: absolute;
      display: block;
      z-index: 11;
      content: "";
      width: 292px;
      height: 170px;
      top: 83px;
      left: 50%;
      margin-left: 80px;
      background: url(../images/books/books_title.png) no-repeat 50% 50%;
      @include background-size(cover);
    }    
  }
}
#books {
  @include min-screen(1024px) {
    padding: 0 0 120px;
  }
  @include screen(768px,1023px) {
    padding: 0 0 60px;
  }
  @include max-screen(767px) {
    padding: 0 0 30px;
  }
  .half-block p {
    @include min-screen(1024px) {
      margin: 0 0 37px;
    }
    @include screen(768px,1023px) {
      margin: 0 0 30px;
    }
    @include max-screen(767px) {
      margin: 0 0 22px;
    }
  }
  .half-block {
    @include min-screen(1024px) {
      padding: 95px 3.7% 0;
    }
    @include screen(768px,1023px) {
      padding: 60px 0 0;
    }
    @include max-screen(767px) {
      margin: 30px 0 0;
    }
  }
  .btn-holder {
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    .button {
      float: left;
      max-width: 50%;
      width: 100%;
      margin-bottom: 22px;
    }
  }
}
#book-banner {
  padding: 312px 0 220px;
  &.thepassionofconversation-book {
    background: #dc5520 url(../images/books/the_passion_conversation.jpg) no-repeat 50% 50%;
    @include background-size(cover);
  }
  &.brainsonfire-book {
    background: #dc5520 url(../images/books/brains_on_fire.jpg) no-repeat 50% 50%;
    @include background-size(cover);
  }
  .half-block {
    width: 44%;
    margin: 0;
    padding: 0;
    h1,
    p {
      text-align: left;
    }
    p {
      margin: 0 0 22px;
    }
    .button {
      float: left;
    }
  }
  .button:after {
    position: absolute;
    display: block;
    z-index: 11;
    content: "";
    width: 270px;
    height: 97px;
    top: 83px;
    left: 50%;
    margin-left: 100px;
    background: url(../images/books/buy_now.png) no-repeat 50% 50%;
    @include background-size(cover);
  }
}
.books .two-col { 
  padding: 0;
  p {
    margin: 0;
    &.intro {
      margin: 0 0 10px;
      color: #939F57;
      font-style: italic;
      font-weight: bold;
      font-family: Georgia, serif;
      @include font-size(24);
      @include line-height(35);
    }
  }
}
.books {
  .circle-orbit-nav a.active:after {
    opacity: 0.85;
  }
  #blockquote {
    background: rgba(#FFF, 0);
    h1 + p {
      margin: 0 0 55px;
    }
    .orbit-container .blockquote-orbit {
      max-width: 920px;
    }
    blockquote {
      margin: 0 0 20px;
    }
    cite {
      padding: 0 70px 0 0;
      float: right;
      display: table;
      text-align: left;
    }
  }
}
#book-intro {
  @include min-screen(1024px) {
    padding: 58px 0 46px;
  }
  @include screen(768px,1023px) {
    padding: 40px 0;
  }
  @include max-screen(767px) {
    padding: 30px 0;
  }
  h1 {
    margin: 0 0 28px;
  }
}
#authoral-team {
  background: #0DB9D1 url(../images/books/bg_author.jpg) no-repeat 50% 0;
  @include background-size(cover);
  @include min-screen(1024px) {
    padding: 89px 0 68px;
  }
  @include screen(768px,1023px) {
    padding: 40px 0;
  }
  @include max-screen(767px) {
    padding: 30px 0;
  }
  .row > h1,
  .row > p {
    color: white;
  }
  h1 + p:first-of-type {
    margin: 0 0 56px;
  }
  .circle-orbit-nav a:after {
    bottom: -78px;
  }
  .orbit-container {
    background: rgba(#FFF, 0.8);
    li span {
      display: block;
      margin: 0 0 29px;
    }
  }
  .books-orbit {
    margin: 0 auto 78px;
  }
  .books-orbit a {
    background-color: rgba(#fff, 0);
    &.active {
      background-color: rgba(#fff, 0.5);
    }
  }
}
.books #blockquote .submit-application .button {
  max-width: 520px;
  span {
    text-transform: uppercase;
    @include InfoSemiBoldFont;
  }
}
