#case-studies-banner {
  background: #00aacb url(../images/case-study/bg_case_studies.jpg) no-repeat 50% 100%;
  @include background-size(auto);
  h1 {
    position: absolute;
    left: -9999px;
  }
  img {
    display: block;
    max-width: 100%;
    width: auto;
    margin: 50px auto -28px;
  }
}
#projects-list {
  @include min-screen(1024px) {
    padding: 96px 0 82px;
  }
  @include screen(768px,1023px) {
    padding: 60px 0;
  }
  @include max-screen(767px) {
    padding: 30px 0;
  }
  li {
    margin-bottom: 38px;
    a {
      float: left;
      position: relative;
      overflow: hidden;
      width: 100%;
      @include border-radius(2px);
      img {
        position: relative;
        z-index: 10;
      }
      .rollover {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(#00AACB, 0.9);
        @include min-screen(1024px) {
          padding: 35% 10%;
        }
        @include screen(768px,1023px) {
          padding: 23% 7%;
        }
        @include screen(641px,767px) {
          padding: 10% 4%;
        }
        @include screen(481px,640px) {
          padding: 43% 10%;
        }
        @include screen(479px,480px) {
          padding: 35% 10%;
        }
        @include max-screen(478px) {
          padding: 25% 10%;
        }
      }
      .middle {
        display: block;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        span {
          display: block;
          color: #FFF;
          text-align: center;
          @include InfoSemiBoldFont;
        }
      }
      .title {
        @include min-screen(1024px) {
          @include font-size(28);
          @include line-height(30);
        }
        @include screen(768px,1023px) {
          @include font-size(24);
          @include line-height(26);
        }
        @include screen(641px,767px) {
          @include font-size(22);
          @include line-height(24);
        }
        @include max-screen(640px) {
          @include font-size(28);
          @include line-height(30);
        }
      }
      .desc {
        @include min-screen(1024px) {
          @include font-size(20);
          @include line-height(25);
        }
        @include screen(768px,1023px) {
          @include font-size(18);
          @include line-height(22);
        }
        @include screen(641px,767px) {
          @include font-size(16);
          @include line-height(20);
        }
        @include max-screen(640px) {
          @include font-size(20);
          @include line-height(25);
        }
      }
      &:hover,
      &:active {
        img {
          z-index: 1;
        }
        .rollover {
          z-index: 10;
        }
      }
    }
  }
}
.touch #projects-list {
  a img,
  a .rollover {
    @include transition-property(all);
    @include transition-timing-function(ease-in-out);
    @include transition-duration(0.2s);
  }
}
.gallery,
.featured .gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  li {
    float: left;
    position: relative;
    width: 48.7%;
    margin: 0 2.6% 30px 0;
  }
  li:nth-child(2n+2) {
    margin: 0 0 30px;
  }
}
img + .gallery,
.featured img + .gallery {
  margin-top: 30px;
}
.stamp,
.featured .stamp {
  margin: 0;
  padding: 0 1%;
  list-style: none;
  background: #FFF;
  display: block;
  position: relative;
  overflow: hidden;
  li {
    float: left;
    position: relative;
    width: 23.5%;
    margin: 10px 2% 10px 0;
  }
  li:nth-child(4n+4) {
    margin: 10px 0;
  }
}
#love-146-success h3 {
  text-indent: 5.9375rem;
  margin: 20px 0 32px;
}
.books-bottom {
  margin: 100px 0 0;
  padding: 114px 0;
  background: url(../images/case-study/love-146/books.jpg) no-repeat 50% 50%;
  @include background-size(cover);
  .button {
    max-width: 680px;
  }
}
section .block {
  padding: 30px;
  &.orange {
    background-color: #ff8800;
  }
  img {
    float: left;
    max-width: 38%;
    margin: 0 30px 0 0;
  }
  p {
    margin: 0;
    color: #fff;
  }
}

.video-section,
.image-section {
  margin: 0 0 21px;
  h3 {
    font-family: Georgia, serif;
    font-style: italic;
    text-align: left;
    text-transform: none;
    margin: 0 0 3px;
    @include font-size(16);
    @include line-height(29);
  }
}
.featured {
  padding: 0;
  margin: 0 0 21px;
  h3 {
    color: #FFF;
    margin: 0 0 22px;
  }
  .text {
    padding: 3.125rem 5.9375rem;
    &.bg-red {
      background: #C10008;
    }
    &.bg-gray20 {
      background: #333;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
    &.bg-lemon {
      background: #abb428;
    }
    &.bg-neptune {
      background: #77B6B1;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
    &.bg-orange {
      background: #d15932;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
    &.bg-wedgewood {
      background: #4e94a1;
      h3 {
        text-transform: none;
        margin: 0 0 3px;
      }
    }
  }
  img {
    &.left {
      max-width: 40%;
    }
    &.top {
      margin: 30px 0;
    }
    &.bottom {
      margin: 0 0 30px;
    }
    &.right {
      max-width: 57%;
      margin: 30px 0;
    }
  }
  ul {
    margin: 0 0 22px;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 22px;
      color: #FFF;
      @include InfoNormalFont;
      @include font-size(20);
      @include line-height(22);
    }
  }
  p {
    margin: 0 0 22px;
    color: #FFF;
    @include InfoNormalFont;
    @include font-size(20);
    @include line-height(30);
  }
}

