#form {
  @include min-screen(1200px) {
    padding: 82px 0;
  }
  @include screen(10248px, 1199px) {
    padding: 50px 0;
  }
  @include screen(768px, 1023px) {
    padding: 40px 0;
  }
  @include max-screen(767px) {
    padding: 30px 0;
  }
  form {
    width: 100%;
    margin: 0 auto;
    padding: 48px 0 0;
    @include min-screen(1024px) {
      max-width: 800px;
    }
    @include screen(768px,1023px) {
      max-width: 700px;
    }
    @include max-screen(767px) {
      max-width: 540px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
form .row {
  background-color: transparent;
  position: relative;
  padding: 6px !important;
  clear: both;
  @include transition(background-color, 0.3s, ease-out);
  @include min-screen(768px) {
    margin: 0 0 12px !important;
  }
  &.focused {
    background-color: rgba(0, 170, 203, 0.2);
    -webkit-text-fill-color: #333;
  }
  .button {
    @include min-screen(641px) {
      max-width: 266px;
    }
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border: 1px solid #ccc;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #333;
  font-size: 1.125rem;
  height: 3.75rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-weight: 400;//@include InfoNormalFont;
  @include font-size(20);
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select {
  float: left;
  @include min-screen(768px) {
    width: 50%;
  }
  @include max-screen(767px) {
    width: 100%;
  }
}
textarea {
  width: 100%;
  @include min-screen(768px) {
    min-height: 330px;
  }
  @include max-screen(767px) {
    min-height: 160px;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input:focus,
textarea:focus {
  outline: -webkit-focus-ring-color none;
}
// Label
label {
  color: #666;
  height: auto;
  font-weight: 400;//@include InfoNormalFont;
  height: 3.75rem;
  line-height: 1.5;
  @include min-screen(1024px) {
    width: 50%;
    padding: 1rem 0 1rem 1rem;
    @include font-size(20);
  }
  @include screen(768px,1023px) {
    width: 50%;
    padding: 1rem 0 1rem 1rem;
    @include font-size(18);
  }
  @include max-screen(767px) {
    width: 100%;
    padding: 0.5rem 0;
    height: 3rem;
    @include font-size(20);
  }
  &.fullwidth {
    height: auto;
    width: 100% !important;
    padding: 1rem 0 !important;
  }
  &.hint {
    height: auto;
    width: 100% !important;
    padding: 1rem 0 0 !important;
    clear: both;
    @include font-size(16);
    @include line-height(24);
  }
}
.rightLabel .desc {
  display: inline-block;
  flex: 1;
}
.jcf-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
}
// select generated
.select-area {
  background: #fff;
  border: 1px solid #cccccc;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  overflow: hidden;
  position: relative;
  float: left;
  @include min-screen(768px) {
    width: 50% !important;
  }
  @include max-screen(767px) {
    width: 100% !important;
  }
  .center {
    font-size: 1.25rem;
    font-weight: 400;
    height: 3.75rem;
    line-height: 2.2;
    float: left;
    text-transform: none;
    padding: 0.5rem 1.5rem;
    color: #999;
  }
  .select-opener {
    float: right;
    height: 60px;
    position: relative;
    width: 60px;
    &:before {
      background: url(../images/library/select_arrow.jpg) no-repeat 0 0;
      content: "";
      height: 60px;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 60px;
    }
  }
}
.select-options {
  background: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 2000;
  .drop-holder {
    border: 1px solid #e8e8e8;
    height: 1%;
    overflow: hidden;
  }
  .drop-list {
    height: auto !important;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: 100%;
    }
    a {
      cursor: default;
      color: #000;
      display: block;
      height: 1%;
      padding: 5px 10px;
      text-decoration: none;
    }
    .item-selected a {
      background: lightblue;
      color: #fff;
      text-decoration: none;
    }
  }
  .default {
    display: none;
  }
}
form li.buttons {
  margin: 30px 0 !important;
}
form li.focused {
  background-color: rgba(0, 170, 203, 0.2);
}
.hide,
.cloak div,
.cloak span,
.likert.cloak tbody,
.likert.cloak thead {
  display: none !important;
}
.three-input {
  .input-1,
  .input-2,
  .input-3 {
    float: left;
    @include min-screen(768px) {
      width: 15%;
    }
    @include max-screen(767px) {
      width: 30%;
    }
    input {
      float: left;
      width: 100% !important;
    }
    label {
      float: left;
      width: 100% !important;
      height: 1rem;
      line-height: 0.5;
      color: #999;
      text-align: center;
      padding: 0.5rem 0 0 !important;
    }
  }
  .symbol {
    float: left;
    text-align: center;
    color: #666;
    font-size: 1.25rem;
    font-weight: 400;
    height: 3.75rem;
    line-height: 3.75rem;
    @include min-screen(768px) {
      width: 2.5%;
    }
    @include max-screen(767px) {
      width: 5%;
    }
  }
}
// Application form
.client-questionnaire {
  .row {
    margin: 0 !important;
  }
  label {
    padding: 1rem 0 !important;
  }
  #foli1 span {
    width: 100%;
    float: left;
    margin: 0 0 12px;
    + span {
      margin: 0;
    }
    @include min-screen(768px) {
      label {
        float: right;
        padding: 1rem 0 1rem 1rem !important;
      }
    }
  }
  #Field222 {
    width: 100px;
  }
}
// Hello form
.form-contact {
  #Field7 {
    @include min-screen(768px) {
      width: 24%;
      margin: 0 1% 0 0;
    }
    @include screen(481px,767px) {
      width: 48%;
      margin: 0 2% 0 0;
    }
    @include max-screen(480px) {
      width: 100%;
      margin: 0 0 12px;
    }
  }
  #Field8 {
    @include min-screen(768px) {
      width: 24%;
      margin: 0 0 0 1%;
    }
    @include screen(481px,767px) {
      width: 48%;
      margin: 0 0 0 2%;
    }
    @include max-screen(480px) {
      width: 100%;
    }
  }
}
// Speaking form
#form6 #title18 {
  width: 100%;
  padding: 1rem 0;
}