#form {
  @include min-screen(1200px) {
    padding: 82px 0;
  }
  @include screen(10248px, 1199px) {
    padding: 50px 0;
  }
  @include screen(768px, 1023px) {
    padding: 40px 0;
  }
  @include max-screen(767px) {
    padding: 30px 0;
  }
  form {
    width: 100%;
    margin: 0 auto;
    padding: 48px 0 0;
    @include min-screen(1024px) {
      max-width: 800px;
    }
    @include screen(768px,1023px) {
      max-width: 700px;
    }
    @include max-screen(767px) {
      max-width: 450px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
.row .button {
  @include min-screen(641px) {
    max-width: 266px;
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border: 1px solid #ccc;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #333;
  font-size: 1.125rem;
  height: 3.75rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-weight: 400;
  //@include InfoNormalFont;
  @include font-size(20);
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select {
  float: left;
  @include min-screen(768px) {
    width: 50%;
  }
  @include max-screen(767px) {
    width: 100%;
  }
}
textarea {
  width: 100%;
  @include min-screen(768px) {
    min-height: 330px;
  }
  @include max-screen(767px) {
    min-height: 160px;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
form .row {
  clear: both;
  @include min-screen(768px) {
    margin: 0 0 12px !important;
  }
}
label {
  color: #666;
  height: auto;
  font-weight: 400;//@include InfoNormalFont;
  height: 3.75rem;
  line-height: 1.5;
  @include font-size(20);    
  @include min-screen(768px) {
    width: 50%;
    padding: 1rem 0 1rem 1rem;
  }
  @include max-screen(767px) {
    width: 100%;
    padding: 1rem 1rem 1rem 0;
  }
}

.form-contact select {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.jcf-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
}
.select-area {
  background: #fff;
  border: 1px solid #cccccc;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50% !important;
}
.select-area .center {
  font-size: 1.25rem;
  font-weight: 400;
  height: 3.75rem;
  line-height: 2.2;
  float: left;
  text-transform: none;
  padding: 0.5rem 1.5rem;
}
.select-area .select-opener {
  float: right;
  height: 60px;
  position: relative;
  width: 60px;
}
.select-area .select-opener:before {
  background: url(../images/library/select_arrow.jpg) no-repeat 0 0;
  content: "";
  height: 60px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 60px;
}
.select-options {
  background: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 2000;
}
.drop-list {
  height: auto !important;
}
.select-options .drop-holder {
  border: 1px solid #e8e8e8;
  height: 1%;
  overflow: hidden;
}
.select-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.select-options ul li {
  float: left;
  width: 100%;
}
.select-options ul a {
  cursor: default;
  color: #000;
  display: block;
  height: 1%;
  padding: 5px 10px;
  text-decoration: none;
}
.select-options .item-selected a {
  background: #007;
  color: #fff;
  text-decoration: none;
}
.select-options .default {
  display: none;
}
.form-contact .select-area {
  height: 60px;
  float: left;
}
.select-area .center {
  color: #999;
}
.form-contact .row {
  background-color: transparent;
  position: relative;
  padding: 6px;
  @include transition(background-color, 0.3s, ease-out);
  &:hover {
    background-color: rgba(0, 170, 203, 0.2);
    -webkit-text-fill-color: #333;
  }
}
.form-contact input:focus {
  outline: -webkit-focus-ring-color none;
}
.form-contact textarea:focus {
  outline: -webkit-focus-ring-color none;
}
form li {
  text-align: left;
}
form li.focused {
  background-color: rgba(0, 170, 203, 0.2);
}
.notranslate {
  padding: 19px;
  text-align: left;
}
.hide,
.cloak div,
.cloak span,
.likert.cloak tbody,
.likert.cloak thead {
  display: none !important;
}

.leftLabel .desc,
.rightLabel .desc {
  width: 50%;
}
.select-options .item-selected a {
  background: #d9531e;
  color: #fff;
  text-decoration: none;
}
.select-area .select-opener {
  height: 60px;
}
.elaborate {
  width: 97%;
}
.dash {
  margin: 13px 4px 0 1px;
}
.rightLabel .desc {
  display: inline-block;
  flex: 1;
}

#Field7{
  width: 24%;
  margin: 0 1% 0 0;
}
#Field8 {
  width: 24%;
  margin: 0 0 0 1%;
}
.phone {
  input {
    width: 15%;
  }
  .dash {
    float: left;
    text-align: center;
    width: 1.8%;
    color: #666;
    font-size: 1.25rem;
    font-weight: 400;
    height: 3.75rem;
    line-height: 1.5;
  }
}
.date {
  input {
    width: 15%;
  }
  .input-two label,
  .input-three label {
    position: absolute;
  }
  .symbol {
    float: left;
    text-align: center;
    width: 2.5%;
    color: #666;
    font-size: 1.25rem;
    font-weight: 400;
    height: 3.75rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width:721px) {
  .leftLabel .desc,
  .rightLabel .desc {
    width: 100%;
  }
}