#main.hello + #footer {
  padding: 0;
}
#hello-banner {
  background: #0095b2 url(../images/hello/bg_hello_banner.jpg) no-repeat 50% 100%;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 170px 0 73px;
  }
}
#cta {
  background: #FFF;
  @include min-screen(1200px) {
    padding: 89px 0 83px;
  }
  @include screen(1024px,1199px) {
    padding: 50px 0;
  }
  @include screen(768px,1023px) {
    padding: 40px 0;
  }
  @include max-screen(767px) {
    padding: 30px 0;
  }
  .row:first-of-type {
    padding: 0 11%;
  }
  .cta {
    @include min-screen(1200px) {
      width: 50%;
      margin: 50px auto 0;
    }
    @include screen(1024px,1199px) {
      width: 80%;
      margin: 30px auto 0;
    }
    @include max-screen(1023px) {
      width: 100%;
      margin: 20px auto 0;
    }
    div.columns > span,
    div.columns > a {
      display: block;
    }
    div.columns {
      padding-top: 10px;
      padding-bottom: 2px;
      @include max-screen(767px) {
        &.medium-6 {
          width: 100%;
        }
        &.border-left {
          border: none;
        }
      }
    }
  }
  .call {
    margin: 0 0 9px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include font-size(30);
    @include line-height(28);
  }
  .tel {
    color: #d9531e;
    text-align: center;
    text-transform: uppercase;
    @include InfoSemiBoldFont;
    @include font-size(30);
    @include line-height(28);
  }
  .text-online {
    margin: 0 0 4px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    @include InfoMediumFont;
    @include font-size(30);
    @include line-height(28);
  }
  .social-networks {
      display: table;
      list-style: none outside none;
      margin: 0 auto !important;
      overflow: hidden;
  }
  .border-left {
    @include min-screen(768px) {
      left: -20px;
    }
  }
  .cta {
    position: relative;
    @include min-screen(768px) {
      left: 20px;
    }
  }
}
.hello #form {
  background: #eaeaea url("../images/layout/bg-path.png") repeat 0 0;
}
#map {
  position: relative;
  width: 100%;  
  @include min-screen(768px) {
    height: 306px;
  }
  @include max-screen(767px) {
    height: 230px;
  }
  img {
    display: block;
    position: absolute;
    width: 100%;
    min-width: 1500px;
    left: 50%;
    margin-left: -750px;
    @include min-screen(768px) {
      top: 0;
    }
    @include max-screen(767px) {
      top: -60px;
    }
  }
}