.no-touch #home-video {
  opacity: 1 !important;
  position: fixed;
  width: auto;
  min-width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  .videoHolder {
    padding-bottom: 0;
    min-height: 100%;
    height: 100%;
    background: url("../images/home/ram_at_his_desk.jpg") no-repeat 100% 0;
    @include background-size(cover);
  }
}
.touch #home-video,
.lt-ie10 #home-video {
  display: none;
}
#home-video {
  -webkit-backface-visibility: hidden;
}
.touch #main.home {
  background: url("../images/home/ram_at_his_desk.jpg") no-repeat 100% 0;
  @include max-screen-height(1024px) {
    @include background-size(auto 1024px);
  }
  @include max-screen-height(800px) {
    @include background-size(auto 800px);
  }
  @include max-screen-height(768px) {
    @include background-size(auto 768px);
  }  
  @include max-screen-height(640px) {
    @include background-size(auto 640px);
  }  
  @include max-screen-height(480px) {
    @include background-size(auto 480px);
  }  
  @include max-screen-height(320px) {
    @include background-size(auto 340px);
  }  
}
.lt-ie10 #main.home {
  background: url("../images/home/ram_at_his_desk.jpg") no-repeat 100% 0;
  @include max-screen-height(1024px) {
    @include background-size(auto 1200px);
  }
  @include max-screen-height(800px) {
    @include background-size(auto 900px);
  }
  @include max-screen-height(768px) {
    @include background-size(auto 868px);
  }  
  @include max-screen-height(640px) {
    @include background-size(auto 740px);
  }  
  @include max-screen-height(480px) {
    @include background-size(auto 580px);
  }  
  @include max-screen-height(320px) {
    @include background-size(auto 440px);
  }  
}
.videoHolder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe,
  video,
  object,
  embed {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #homepagevid {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}
#home {
  padding: 0;
  margin: -83px 0 0;
  background: rgba(#000, 0.5);
  .row {
    display: block;
    position: relative;
    height: 100%;
  }
}
#home .txt {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0.9375rem;
  @include min-screen(480px) {
    height: 40%;  
  }
  @include max-screen(479px) {
    height: 50%;
  }
  h1 {
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin: 0 0 12px;
    @include min-screen(1200px) {
      @include font-size(66);
      @include line-height(74);
    }
    @include screen(1024px,1199px) {
      @include font-size(54);
      @include line-height(64);
    }
    @include screen(768px,1023px) {
      @include font-size(46);
      @include line-height(54);
    }
    @include min-screen(768px) {
      text-align: left;
    }
    @include screen(641px,767px) {
      @include font-size(36);
      @include line-height(44);
    }
    @include screen(481px,640px) {
      @include font-size(26);
      @include line-height(34);
    }
    @include max-screen(480px) {
      @include font-size(16);
      @include line-height(24);
    }
  }
  .button {
    max-width: 406px;
  }
}
@media all and (max-height: 320px) and (orientation: landscape) {
  .cycle-gallery .txt {
    height: 46%;
    .button {
      max-width: 50%;
      float: left !important;
    }
  }
}
.section-work {
  background: url(../images/layout/bg-path.png);
  color: #333;
  @include min-screen(1200px) {
    padding: 63px 0 80px;
  }
  .btn-ico {
    background-color: #eb7e1f;
    text-align: left;
    @include min-screen(480px) {
      padding: 20px 26px 21px 90px;
    }
    @include max-screen(479px) {
      padding: 13px 26px 14px 90px;
      @include font-size(20);
      @include line-height(22);
    }
    @include min-screen(1200px) {
      max-width: 500px;
    }
    @include screen(768px,1199px) {
    }
    &:hover {
      background-color: darken(#eb7e1f, 5%);
      text-decoration: none;
    }
    &:active {
      background-color: #eb7e1f;
    }
    &:before {
      background: url("../images/library/sprite.png") no-repeat scroll 0 -180px rgba(0, 0, 0, 0);
    }
  }
}
#tagboard-wrap {
  background: #F3F3F3;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
}