#movement-banner {
  background: #0095b2 url(../images/movement/movement_banner.jpg) no-repeat 50% 100%;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 170px 0 78px;
  }
}
#learn-banner {
  background: #dc5520 url(../images/movement/learn_banner.jpg) no-repeat 50% 100%;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 170px 0 78px;
  }
}
#movement-info {
  background: rgba(#000, 0);
  @include min-screen(1200px) {
    padding: 80px 0 60px;
  }
  h1 {
    margin: 0 0 33px;
  }
  .button {
    max-width: 266px;
    margin: 0 auto 17px;
  }
  p.hint {
    margin: 19px 0 0;
    text-align: center;
    font-style: italic;
    font-family: Georgia,
    serif;
    @include font-size(16);
    @include line-height(28);
    a {
      font-weight: bold;
      color: #00AACB;
      @include font-size(28);
    }
  }
}
#how-we-work {
  overflow: hidden;
  @include min-screen(768px) {
    background: #fff;
  }
  > img {
    @include min-screen(768px) {
      position: absolute;
      
      max-width: none;
      left: 0;
      z-index: 1;
    }
    @include min-screen(1500px) {
      top: 336px;
      width: 100%;
    }
    @include screen(1024px,1499px) {
      bottom: 0;
      width: auto;
      height: 740px;
    }
    @include screen(768px,1023px) {
      bottom: 0;
      width: auto;
      height: 700px;
    }
    @include max-screen(767px) {
      display: none;
    }
  }
  .row {
    position: relative;
    z-index: 10;
  }
  @include min-screen(1500px) {
    padding: 98px 0 127px;
  }
  @include screen(1024px,1499px) {
    padding: 98px 0 118px;
  }
  @include screen(768px,1023px) {
    padding: 98px 0 118px;
  }
  @include max-screen(767px) {
    padding: 98px 0 118px;
  }
   h1 + p {
    @include min-screen(768px) {
      margin: 0 0 54px;
    }
    @include max-screen(767px) {
      margin: 0 0 20px;
    }
  }
  .button {
    max-width: 250px;
  }
}
.movement-tab dt:first-of-type {
  .table-wrap > span { 
    background: #d9531e; 
  }
  &.active a { 
    background-color: rgba(#fff, 0.8); 
  }
}
.movement-tab dt:nth-child(3n) {
  .table-wrap > span { 
      background: #23bed4; 
  }
  &.active a { 
    background-color: rgba(#0bb7cf, 0.5); 
  }
}
.movement-tab dt:nth-child(5n) {
  .table-wrap > span { 
    background: #9ea867; 
  }
  &.active a { 
    background-color: rgba(#939f57, 0.5); 
  }
}
.movement-tab dt:nth-child(7n) {
  .table-wrap > span { 
    background: #ec8a35; 
  }
  &.active a { 
    background-color: rgba(#eb7e1f, 0.5); 
  }
}
#some-examples {
  background:  #eaeaea url("../images/layout/bg-path.png") repeat 0 0;
  @include min-screen(1200px) {
    padding: 110px 0 104px;
  }
  .work-list {
    @include min-screen(1024px) {
      margin: 48px auto 53px;
    }
    @include screen(768px,1023px) {
      margin: 30px auto;
    }
    @include max-screen(767px) {
      margin: 22px auto 22px;
    }
  }
}
#blockquote {
  background: #FFF;
  h1 + p {
    margin: 0 0 21px;
  }
  .blockquote-orbit {
    max-width: 650px;
  }
}
#help {
  @include min-screen(1200px) {
    padding: 87px 0 102px;
  }
}
#other-way {
  background: url(../images/movement/bg_learn.jpg) no-repeat 100% 0;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 83px 0 99px;
  }
}
#some-examples .row .works-list {
  margin: 46px auto 29px;
}

@include min-screen(768px) {
.no-flexbox .tabs.movement-tab dl {
    position: relative;
    > div {
      float: left;
      width: 25%;
      position: relative;
      dt {
        width: 100%;
      }
      dd {
        position: relative;
        width: 400%;
        margin: 0 0 56px;
        -webkit-transform: translate3d(0,0,0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
      }
      &:first-of-type {
        dd {
          left: 0;
        }
        dt .table-wrap > span { 
          background: #d9531e; 
        }
        dt.active a { 
          background-color: rgba(#fff, 0.5); 
        }
      } 
      &:nth-child(2n) {
        dd {
          left: -100%;
        }
        dt .table-wrap > span { 
            background: #23bed4; 
        }
        dt.active a { 
          background-color: rgba(#0bb7cf, 0.5); 
        }
      } 
      &:nth-child(3n) {
        dd {
          left: -200%;
        }
        dt .table-wrap > span { 
          background: #9ea867; 
        }
        dt.active a { 
          background-color: rgba(#939f57, 0.5); 
        } 
      }
      &:nth-child(4n) {
        dd {
          left: -300%;
        }
        dt .table-wrap > span { 
          background: #ec8a35; 
        }
        dt.active a { 
          background-color: rgba(#eb7e1f, 0.5); 
        }
      } 
    }
  }
}
.tabs.movement-tab a:after {
  background: url("../images/library/tab_movement.png") no-repeat 50% 50%;
}
.tabs.movement-tab dd {
  background: rgba(#FFF, 0.9);
  @include min-screen(1024px) {
    padding: 65px 50px 70px;
    p {
      margin: 0;
      @include line-height(29);
    }
  }
}
.tabs.movement-tab {
  margin: 0 auto 38px;
}
.tabs.movement-tab dt {
  padding: 0 2px 36px;
}
.tabs.movement-tab a:after {
  bottom: -36px;
}
.movements-page #blockquote .orbit-container {
  @include min-screen(1200px) {
    margin: 0 0 111px;
  }
  @include min-screen(1024px) {

    .orbit-prev {
      left: 0;
      margin-top: -44px;
    }
    .orbit-next {
      right: 0;
      margin-top: -44px;
    }
  }
}

