#movement-banner {
  background: #0095b2 url(../images/movement/movement_banner.jpg) no-repeat 50% 100%;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 170px 0 78px;
  }
}
#learn-banner {
  background: #dc5520 url(../images/movement/learn_banner.jpg) no-repeat 50% 100%;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 170px 0 78px;
  }
}
#movement-info {
  background: rgba(#000, 0);
  @include min-screen(1200px) {
    padding: 80px 0 83px;
  }
  h1 {
    margin: 0 0 33px;
  }
  .button {
    max-width: 270px;
    margin: 0 auto 17px;
  }
  p.hint {
    margin: 19px 0 0;
    text-align: center;
    font-style: italic;
    font-family: Georgia,
    serif;
    @include font-size(16);
    @include line-height(28);
    a {
      font-weight: bold;
      color: #00AACB;
      @include font-size(28);
    }
  }
}
#how-we-work {
  background: #fff;
  overflow: hidden;
  > img {
    position: absolute;
    width: auto;
    max-width: none;
    left: 0;
    z-index: 1;
    @include min-screen(768px) {
      top: 100px;
      height: 1000px;  
    }
    @include max-screen(767px) {
      top: 0;
      height: 2650px;
    }
  }
  .row {
    position: relative;
    z-index: 10;
  }
  @include min-screen(1500px) {
    padding: 98px 0 118px;
  }
  @include screen(1024px,1499px) {
    padding: 98px 0 118px;
  }
  @include screen(768px,1023px) {
    padding: 98px 0 118px;
  }
  @include max-screen(767px) {
    padding: 98px 0 118px;
  }
   h1 + p {
    @include min-screen(768px) {
      margin: 0 0 54px;
    }
    @include max-screen(767px) {
      margin: 0 0 20px;
    }
  }
  .button {
    max-width: 250px;
  }
}
.movement-tab dt:first-of-type {
  .table-wrap > span { 
    background: #d9531e; 
  }
  &.active a { 
    background-color: rgba(#fff, 0.5); 
  }
}
.movement-tab dt:nth-child(3n) {
  .table-wrap > span { 
      background: #23bed4; 
  }
  &.active a { 
    background-color: rgba(#0bb7cf, 0.5); 
  }
}
.movement-tab dt:nth-child(5n) {
  .table-wrap > span { 
    background: #9ea867; 
  }
  &.active a { 
    background-color: rgba(#939f57, 0.5); 
  }
}
.movement-tab dt:nth-child(7n) {
  .table-wrap > span { 
    background: #ec8a35; 
  }
  &.active a { 
    background-color: rgba(#eb7e1f, 0.5); 
  }
}
#some-examples {
  background: rgba(#000, 0);
  @include min-screen(1200px) {
    padding: 110px 0 104px;
  }
  .work-list {
    @include min-screen(1024px) {
      margin: 48px auto 53px;
    }
    @include screen(768px,1023px) {
      margin: 30px auto;
    }
    @include max-screen(767px) {
      margin: 22px auto 22px;
    }
  }
}
#blockquote {
  background: #FFF;
  h1 + p {
    margin: 0 0 21px;
  }
  .blockquote-orbit {
    max-width: 650px;
  }
}
#help {
  @include min-screen(1200px) {
    padding: 87px 0 102px;
  }
}
#other-way {
  background: url(../images/movement/bg_learn.jpg) no-repeat 100% 0;
  @include background-size(cover);
  @include min-screen(1200px) {
    padding: 83px 0 99px;
  }
}
#some-examples .row .works-list {
  margin: 46px auto 29px;
}