/* line 1, ../sass/modules/_ie8.scss */
.chromeframe {
  display: block;
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: 30px 15px;
  margin: -43px 0 0;
  background: #eb7e1f;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
/* line 14, ../sass/modules/_ie8.scss */
.chromeframe a {
  text-decoration: underline;
  color: #FFF;
}

/* line 19, ../sass/modules/_ie8.scss */
body {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  font-family: "hedley-new-web", Arial, Helvetica, sans-serif;
  position: relative;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

/* line 29, ../sass/modules/_ie8.scss */
.off-canvas-wrap {
  width: 100%;
  padding-right: 340px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 35, ../sass/modules/_ie8.scss */
.off-canvas-wrap .inner-wrap {
  width: 100%;
  display: block;
  position: relative;
}
/* line 40, ../sass/modules/_ie8.scss */
.off-canvas-wrap .right-off-canvas-menu {
  position: absolute;
  right: -340px;
  width: 340px;
}
/* line 45, ../sass/modules/_ie8.scss */
.off-canvas-wrap.move-left {
  left: -340px;
}

/* line 49, ../sass/modules/_ie8.scss */
.row {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px !important;
}

/* line 54, ../sass/modules/_ie8.scss */
#header {
  background: #fff;
}

/* line 58, ../sass/modules/_ie8.scss */
.tab-bar a {
  color: #666;
  overflow: hidden;
}
/* line 61, ../sass/modules/_ie8.scss */
.tab-bar a span {
  color: #666;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
}

/* line 71, ../sass/modules/_ie8.scss */
#home .row:after {
  display: block;
  position: absolute;
  content: "";
  z-index: 9;
  left: -200%;
  width: 1000%;
  height: 100%;
  background: url("../images/library/overlay.png") repeat 0 0;
}
/* line 81, ../sass/modules/_ie8.scss */
#home .row .txt {
  height: 400px;
}
/* line 83, ../sass/modules/_ie8.scss */
#home .row .txt h1 {
  color: #fff;
  display: block;
  text-transform: uppercase;
  margin: 0 0 12px;
}
@media screen and (min-width: 1200px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    font-size: 66px;
    line-height: 74px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    font-size: 54px;
    line-height: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    font-size: 46px;
    line-height: 54px;
  }
}
@media screen and (min-width: 768px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    text-align: left;
  }
}
@media screen and (min-width: 641px) and (max-width: 767px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    font-size: 26px;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  /* line 83, ../sass/modules/_ie8.scss */
  #home .row .txt h1 {
    font-size: 16px;
    line-height: 24px;
  }
}

/* line 119, ../sass/modules/_ie8.scss */
.button,
input.button {
  font-size: 28px;
  line-height: 32px;
  padding: 22px 48px;
}
/* line 124, ../sass/modules/_ie8.scss */
.button + .button,
input.button + .button {
  margin-left: 10px;
}

/* line 128, ../sass/modules/_ie8.scss */
section h1 + p,
#upcoming h2 + p {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}

/* line 135, ../sass/modules/_ie8.scss */
.columns {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 139, ../sass/modules/_ie8.scss */
.off-canvas-wrap {
  margin: 0 0 -85px;
}

/* line 143, ../sass/modules/_ie8.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  font-size: 20px;
  padding: 8px 24px;
  height: 60px;
}

/* line 148, ../sass/modules/_ie8.scss */
label {
  height: 60px;
  line-height: 60px;
}

/* line 152, ../sass/modules/_ie8.scss */
.home .section-newsletter-band .mc-field-group label {
  padding: 0 16px;
}

/* line 155, ../sass/modules/_ie8.scss */
.home .section-newsletter-band .mc-submit-btn .button {
  font-size: 28px;
  line-height: 32px;
  margin-left: 16px;
  height: 77px;
  color: #FFF;
  max-width: 300px;
  display: table-cell;
}
@media screen and (max-width: 767px) {
  /* line 155, ../sass/modules/_ie8.scss */
  .home .section-newsletter-band .mc-submit-btn .button {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

/* line 169, ../sass/modules/_ie8.scss */
.footer-bottom li:first-child {
  background: transparent;
}

/* line 173, ../sass/modules/_ie8.scss */
#footer .talk-block .title {
  font-size: 32px;
  line-height: 20px;
}
/* line 177, ../sass/modules/_ie8.scss */
#footer .talk-block .text-pick {
  font-size: 17px;
  line-height: 14px;
}

/* line 182, ../sass/modules/_ie8.scss */
#footer .call-block {
  padding: 27px 28px 18px;
}
/* line 184, ../sass/modules/_ie8.scss */
#footer .call-block .call,
#footer .call-block .tel {
  font-size: 21px;
  line-height: 16px;
}

@media screen and (min-width: 1170px) {
  /* line 195, ../sass/modules/_ie8.scss */
  #footer .talk-block,
  #footer .call-block,
  #footer .email-block {
    border-right: 2px solid #ccc;
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  /* line 203, ../sass/modules/_ie8.scss */
  #footer .call-block,
  #footer .email-block {
    border-right: 2px solid #ccc;
  }

  /* line 207, ../sass/modules/_ie8.scss */
  #footer .call-block {
    padding: 28px 28px 26px 0;
  }

  /* line 210, ../sass/modules/_ie8.scss */
  #footer .button {
    font-size: 26px;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
  }
}
